@(form: Form[SearchContract],domain: String, response: model.ProfileResponse, logo: String)(implicit messages: Messages)
@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import services.domain.CommonService.formatNumHour


<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

       @views.html.common.css("Search",0)
    </head>
                @views.html.common.top("Search",0,domain)
                    <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle" style="margin-bottom: 10px">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        </nav>
                        <div style="margin-top: 10px">
                            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">

                            @views.html.profile.contract.frmSearch(form, routes.ProfileController.index)

                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /top navigation -->

                    <!-- page content -->
                <div class="right_col" role="main">
                    <div>

                        <div class="clearfix"></div>
                        @if( response != null){
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="x_panel" style="background: none!important;border: transparent">


                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-12 col-xs-12 profile_left" style="background: white;margin-bottom: 20px;padding: 20px;">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-12">
                                                            <div class="profile_img">
                                                              <div id="crop-avatar">
                                                                <!-- Current avatar -->
                                                               <img class="img-responsive avatar-view" style="width: 150px; display:table-cell;vertical-align:middle;margin:auto;" onerror="this.src='../assets/images/logo/fpt.jpg'" src="@logo">
                                                              </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 col-xs-12 col-md-12">
                                                            <ul class="list-unstyled user_data">

                                                            @*<li>
                                                                <i class="fa fa-internet-explorer"></i> @response.loc.ip
                                                            </li>*@

                                                           @if(response.loc.country != ""  && response.loc.region != "") {
                                                               <li class="text-highlight">
                                                                   <i class="fa fa-map-marker"></i> @response.loc.country - @response.loc.region
                                                               </li>
                                                           }
                                                         @*  @if(response.loc.timezone != "") {
                                                               <li class="text-highlight">
                                                                   <i class="fa fa-location-arrow"></i> @response.loc.timezone
                                                               </li>
                                                           }*@
                                                           @if(response.loc.org != "") {
                                                               <li class="text-highlight">
                                                                   <i class="fa fa-users"></i> @response.loc.org
                                                               </li>
                                                           }
                                                           @if(response.category != "N/A") {
                                                               <li style="font-size: 16px;color: #f60">
                                                                   <i class="fa fa-tags"></i>   @response.category
                                                               </li>
                                                           }
                                                           </ul>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <span class="nameTitle hvr-pulse">@domain</span>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-lg-4 col-md-4 col-xs-12 hvr-bounce-out" style="padding-left: 0px">
                                                        @{
                                                            if (response.current.label == "black") {
                                                                <h5 class="tit" style="background-color: #E74C3C">
                                                                    <label> {response.current.malware.toUpperCase()} </label>
                                                                    <span class="fa fa-bug counter" style="font-size:28px;color:white;top:65%!important">
                                                                     {formatNumHour(response.score * 3600)}
                                                                    </span>
                                                                </h5>
                                                            } else if (response.current.label == "white") {
                                                                <h5 class="tit" style="background-color: green">
                                                                    <span class="fa fa-check" style="font-size:30px;color:white">
                                                                    SAFE
                                                                    </span>
                                                                </h5>
                                                            } else {
                                                                <h5 class="tit" style="background-color: grey">
                                                                    <span class="fa fa-question-circle" style="font-size:22px;color:white">
                                                                    UNKNOW
                                                                    </span>
                                                                </h5>
                                                            }
                                                        }
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-xs-12">
                                                                <div class="col-xs-12 boxGroup hvr-underline-from-left">

                                                                    <div class="col-md-2 col-xs-2">
                                                                        <div class="iconPurple">
                                                                            <i class="fa fa-star" style="margin-left: -13px"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-xs-6 txtPurple">
                                                                        <h3 class="ng-binding" >
                                                                        @{
                                                                            val value = response.current.rankFtel
                                                                            if (value == 0 || value > 999999) {
                                                                                "1M+"
                                                                            } else {
                                                                                {formatNumber(value)}
                                                                            }
                                                                        }
                                                                        </h3>
                                                                        <p class="ng-binding">Ftel</p>
                                                                    </div>
                                                                    <div class="col-md-4 col-xs-4">
                                                                    @{
                                                                        val prev = if (response.history.size > 1) response.history(1) else response.history(0)
                                                                        val value = response.current.rankFtel
                                                                        val valuePrev = prev.rankFtel
                                                                        val diff = valuePrev - value
                                                                        if (diff >= 0) {
                                                                            if(diff>9999){
                                                                                    <span class="percent down iconUpPurple animated bounceInDown" style="font-size:13px"> <i class="fa fa-caret-up"></i> {diff}</span>
                                                                            }
                                                                            else {
                                                                                    <span class="percent down iconUpPurple animated bounceInDown"> <i class="fa fa-caret-up"></i> {diff}</span>
                                                                            }
                                                                        } else {
                                                                            if(diff< -999){
                                                                                    <span class="percent down spanIconDown animated bounceInDown" style="font-size:13px"> <i class="fa fa-caret-down"></i> {diff}</span>
                                                                            }
                                                                            else {
                                                                                    <span class="percent down spanIconDown animated bounceInDown"> <i class="fa fa-caret-down"></i> {diff}</span>
                                                                            }
                                                                        }
                                                                    }
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-xs-12 boxGroup hvr-underline-from-right">
                                                                    <div class="col-md-2 col-xs-2">
                                                                        <div class="iconGreen">
                                                                            <i class="fa fa-star" style="margin-left: -13px"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-xs-6 txtGreen">
                                                                        <h3 class="ng-binding">
                                                                        @{
                                                                            val value = response.current.rankAlexa
                                                                            if (value == 0 || value > 999999) {
                                                                                "1M+"
                                                                            }else {
                                                                                {formatNumber(value)}
                                                                            }
                                                                        }
                                                                        </h3>
                                                                        <p class="ng-binding">Alexa</p> </div>
                                                                    <div class="col-md-4 col-xs-4">
                                                                    @{
                                                                        val prev = if (response.history.size > 1) response.history(1) else response.history(0)
                                                                        val value = response.current.rankAlexa
                                                                        val valuePrev = prev.rankAlexa
                                                                        val diff = valuePrev - value
                                                                        if (diff >= 0) {
                                                                            if(diff>9999){
                                                                                    <span class="percent down iconUp animated bounceInDown" style="font-size:13px"><i class="fa fa-caret-up "></i> {diff}</span>
                                                                            }
                                                                            else {
                                                                                    <span class="percent down iconUp animated bounceInDown"><i class="fa fa-caret-up "></i> {diff}</span>
                                                                            }
                                                                        } else {
                                                                            if(diff< -999){
                                                                                    <span class="percent down spanIconDown animated bounceInDown" style="font-size:13px"> <i class="fa fa-caret-down"></i> {diff}</span>
                                                                            }
                                                                            else {
                                                                                    <span class="percent down spanIconDown animated bounceInDown"> <i class="fa fa-caret-down"></i> {diff}</span>
                                                                            }
                                                                        }
                                                                    }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <ul class="list-group clear-list" id="ulWhois">
                                                        @if(response.whois.registrar != null && response.whois.registrar != "") {
                                                            <li class="list-group-item fist-item">
                                                                <span class="pull-right"> @response.whois.registrar </span>
                                                                <span class="subTitle">Registrar</span>
                                                            </li>
                                                        }
                                                        @if(response.whois.whoisServer != null && response.whois.whoisServer != "") {
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> @response.whois.whoisServer </span>
                                                                <span class="subTitle">Whois Server</span>
                                                            </li>
                                                        }
                                                        @if(response.whois.nameServer.length >0){
                                                            <li class="list-group-item row">
                                                                <span class="col-lg-9 pull-right" style="text-align: right">
                                                                @for(nameserver <- response.whois.nameServer) {
                                                                    @if(nameserver != "") {
                                                                      <span class="editable">@nameserver</span>
                                                                    }
                                                                }
                                                                </span>
                                                                @if(response.whois.nameServer.length >1 || (response.whois.nameServer.length == 1 && response.whois.nameServer(0) != "") ) {
                                                                    <span class="subTitle col-lg-3">Name Server</span>
                                                                }
                                                            </li>
                                                        }
                                                        @if(response.whois.create != null && response.whois.create != "") {
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> @response.whois.create </span>
                                                                <span class="subTitle">Create</span>
                                                            </li>
                                                        }
                                                        @if(response.whois.update != null && response.whois.update != "") {
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> @response.whois.update </span>
                                                                <span class="subTitle">Update</span>
                                                            </li>
                                                        }
                                                        @if(response.whois.expire != null && response.whois.expire != "") {
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> @response.whois.expire </span>
                                                                <span class="subTitle">Expire</span>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="col-lg-8 col-sm-12 col-xs-12">
                                                    <div class="row top_tiles">
                                                        <div class="boxCss animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <div class="tile-stats hvr-sweep-to-bottom" style="display: inherit">
                                                                <div class="icon"><i class="fa fa-users green"></i></div>
                                                                <div class="count ">@formatNumber(response.current.queries)</div>
                                                                <span class="spanTit">Queries</span>
                                                            </div>
                                                        </div>
                                                        <div class="boxCss animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <div class="tile-stats hvr-sweep-to-bottom" style="display: inherit">
                                                                <div class="icon"><i class="fa fa-user green"></i></div>
                                                                <div class="count">@formatNumber(response.current.clients)</div>
                                                                <span class="spanTit">Clients</span>
                                                            </div>
                                                        </div>
                                                        <div class="boxCss animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <div class="tile-stats hvr-sweep-to-bottom" style="display: inherit">
                                                                <div class="icon"><i class="fa fa-server green"></i></div>
                                                                <div class="count">@formatNumber(response.current.domains)</div>
                                                                <span class="spanTit">Domains</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile_title row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="x_panel tile fixed_height_320">
                                                                <div class="x_title">
                                                                    <h2> Hourly Queries</h2>
                                                                    <ul class="nav navbar-right panel_toolbox">
                                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                                        </li>
                                                                        <li class="dropdown">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                                            <ul class="dropdown-menu" role="menu">
                                                                                <li><a href="#">Settings 1</a>
                                                                                </li>
                                                                                <li><a href="#">Settings 2</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="x_content">
                                                                    <div id="col-hourly" style="height:250px;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile_title row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="x_panel tile fixed_height_350">
                                                                <div class="x_title">
                                                                    <h2> Daily Queries</h2>
                                                                    <ul class="nav navbar-right panel_toolbox">
                                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                                        </li>
                                                                        <li class="dropdown">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                                            <ul class="dropdown-menu" role="menu">
                                                                                <li><a href="#">Settings 1</a>
                                                                                </li>
                                                                                <li><a href="#">Settings 2</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="x_content" >
                                                                    <div id="line-daily" style="height:250px;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        } else{
                            <div class="row"><h2 class="noData-title">Not enough data. Please enter on text search.</h2></div>
                        }
                    </div>
                </div>

                    <!-- /page content -->

                    <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Dashboard Admin 21/09/2017
                    </div>
                    <div class="clearfix"></div>
                </footer>
                    <!-- /footer content -->
            </div>
        </div>

            <!-- jQuery -->
        @views.html.common.bottom("Search",0)
        @if(response != null) {
            @scripts(response)
        }
    </body>
</html>
