@(response: model.ProfileResponse)
@import play.api.libs.json.Json

<script type="text/javascript">
        $(function () {
            // Build the chart column hourly queries
            var hours = @Html(Json.stringify(Json.toJson(response.hourly.map(x => x._1))));
            var values = @Html(Json.stringify(Json.toJson(response.hourly.map(x => x._2))));
            Highcharts.chart('col-hourly', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: hours,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Num Of Queries'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">Hour: {point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0,
                    }
                },
                colors: [
                    '#1ABB9C'
                ],
                series: [{
                    name: 'Queries',
                    data: values

                }]
            });
            var categories = @Html(Json.stringify(Json.toJson(response.history.map(x => x.day).reverse)));
            var queries = @Html(Json.stringify(Json.toJson(response.history.map(x => x.queries).reverse)));
            var qpc = @Html(Json.stringify(Json.toJson(response.history.map(x => x.getQueryPerClient()).reverse)));
            var clients = @Html(Json.stringify(Json.toJson(response.history.map(x => x.clients).reverse)));

            Highcharts.chart('line-daily', {
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                xAxis: [{
                    categories: categories,
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: '#3498DB'
                        }
                    },
                    title: {
                        text: 'Clients',
                        style: {
                            color: '#3498DB'
                        }
                    },
                    opposite: true

                }, { // Secondary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Queries',
                        style: {
                            color: '#1ABB9C'
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: '#1ABB9C'
                        }
                    }

                }, { // Tertiary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Queries per Client',
                        style: {
                            color: '#9B59B6',
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: '#9B59B6',
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                series: [{
                    name: 'Queries',
                    type: 'spline',
                    yAxis: 1,
                    color:'#1ABB9C',
                    data: queries,
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'Queries per Client',
                    type: 'spline',
                    yAxis: 2,
                    color:'#9B59B6',
                    data: qpc,
                    marker: {
                        enabled: false
                    },
                    dashStyle: 'shortdot',
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'Clients',
                    type: 'spline',
                    color:'#3498DB',
                    data: clients,
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });
</script>