@(response: model.device.RegionOverview, province: String)

<script type="text/javascript">
   $(document).ready(function(){
       /* AUTHORIZATION */
       @if(!province.equals("")){
           $.ajax({
               type: "GET",
               url: "/monthly/loadMonthly?month="+ $('#startMonth').val() + "/" + $('#endMonth').val(),
               cache: false,
               success: function (dta) {
                   if (dta != "Error") {
                       $('#frame11').show();
                       $('#frame9').show()
                       // Total INF Errors By Months
                       Highcharts.chart('region-inf', {
                           chart: {
                               type: 'heatmap',
                               marginTop: 40,
                               marginBottom: 70,
                               plotBorderWidth: 1
                           },

                           title: {
                               text: ''
                           },

                           xAxis: {
                               categories: dta.objTotalInf.cateX
                           },

                           yAxis: {
                               categories: dta.objTotalInf.cateY,
                               title: null
                           },

                           colorAxis: {
                               min: 0,
                               minColor: '#FFFFFF',
                               maxColor: '#E74C3C'
                           },

                           legend: {
                               align: 'right',
                               layout: 'vertical',
                               margin: 0,
                               verticalAlign: 'top',
                               y: 25,
                               symbolHeight: 280
                           },

                           plotOptions: {
                               series: {
                                   events: {
                                       click: function (event) {
                                           callDrilldownTotalInf(event.point.series.xAxis.categories[event.point.x])
                                       }
                                   },
                                   dataLabels: {
                                       formatter: function () {
                                           var nf = new Intl.NumberFormat();
                                           return nf.format(this.point.value);
                                       }
                                   },
                                   cursor: 'pointer'
                               }
                           },

                           tooltip: {
                               formatter: function () {
                                   return '<b>' + this.series.xAxis.categories[this.point.x] + ' & ' + this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                           this.point.value + '</b> ';
                               }
                           },

                           series: [{
                               name: 'total inf',
                               borderWidth: 1,
                               data: getDataHeatMapForDrilldownInferror(dta.objTotalInf.data, dta.objTotalInf.cateX, dta.objTotalInf.month),
                               dataLabels: {
                                   enabled: true,
                                   color: '#000000'
                               }
                           }]

                       });
                       // Total Outliers Inf Device
                       Highcharts.chart('inf-outlier', {
                           chart: {
                               type: 'heatmap',
                               marginTop: 10,
                               marginBottom: 60,
                               plotBorderWidth: 1
                           },

                           title: {
                               text: ''
                           },
                           xAxis: {
                               categories: ["Outliers"]
                           },

                           yAxis: {
                               categories: dta.objInfOut.cate,
                               title: null,
                               labels: {
                                   style: {
                                       'min-width': '125px'
                                   },
                                   useHTML: true
                               }
                           },

                           legend: {
                               align: 'center',
                               verticalAlign: 'bottom',
                               y: 20,
                               x: 50
                           },

                           colorAxis: {
                               min: 0,
                               minColor: '#FFFFFF',
                               maxColor: '#1194a9'
                           },

                           tooltip: {
                               formatter: function () {
                                   return '<b>' + this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                           this.point.value + ' outliers</b> ';
                               }
                           },
                           plotOptions: {
                               series: {
                                   events: {
                                       click: function (event) {
                                           callDrilldownOutlier(event.point.series.yAxis.categories[event.point.y], 'drilldown', 'inf')
                                       }
                                   },
                                   dataLabels: {
                                       formatter: function () {
                                           var nf = new Intl.NumberFormat();
                                           return nf.format(this.point.value);
                                       }
                                   },
                                   cursor: 'pointer'
                               }
                           },
                           series: [{
                               name: 'Outliers',
                               borderWidth: 1,
                               data: getHeatmapBrasOutlier(dta.objInfOut.data, dta.objInfOut.cate),
                               dataLabels: {
                                   enabled: true,
                                   color: '#000000'
                               }
                           }]

                       });
                       // Total INF Errors By Type
                       Highcharts.chart('region-infError', {
                           chart: {
                               type: @province.equals("") ? 'areaspline' : 'bar'
                           },
                           title: {
                               text: ''
                           },
                           xAxis: {
                               type: 'category'
                           },
                           legend: {
                               enabled: true
                           },
                           yAxis: {
                               title: {
                                   text: ''
                               }
                           },
                           plotOptions: {
                               series: {
                                   point: {
                                       events: {
                                           contextmenu: function (e) {
                                               if ($('#brasRighClick').val().indexOf('-') >= 0)
                                                   window.open("/fwdRequest?bras=" + $('#brasRighClick').val(), "_blank")
                                           },
                                           mouseOver: function () {
                                               if (this.name.indexOf('-') >= 0)
                                                   $('#brasRighClick').val(this.name)
                                           }
                                       }
                                   }
                               }
                           },
                           colors: ['#5A738E'],
                           series: [{
                               name: 'Inf down',
                               data: getDrillDownStackedAndLine(dta.objInfType.infTypeGroup)
                           }],
                           drilldown: {
                               drillUpButton: {
                                   relativeTo: 'spacingBox',
                                   position: {
                                       align: "right",
                                       verticalAlign: "top",
                                       x: 10,
                                       y: -10
                                   }
                               },
                               series: getDrillDownNotStacked2Level(dta.objInfType.infTypeData, dta.objInfType.infTypeCate)
                           }
                       });
                   }
               }
           });
       }
       // auto scroll loading data
       $(window).scroll(function () {
           if ($(window).scrollTop() == $(document).height() - $(window).height()) {
               var itemId = $('div[id^=frame]:visible:last').attr('id')
               if (itemId == "frame7") {
                   $.ajax({
                       type: "GET",
                       url: "/monthly/loadMonthly?month=" + $('#startMonth').val() + "/" + $('#endMonth').val(),
                       cache: false,
                       beforeSend: function () {
                           $('.sectionLast').waitMe({
                               effect: 'facebook',
                               text: '',
                               bg: 'rgba(255,255,255,0.7)',
                               color: '#2A3F54',
                               textPos: 'vertical'
                           });
                       },
                       success: function (dta) {
                           if (dta != "Error") {
                               $('div[id^=frame]').show()
                               fntRightClick()
                               // Total Outliers Bras Device
                               Highcharts.chart('bras-outlier', {
                                   chart: {
                                       type: 'heatmap',
                                       marginTop: 10,
                                       marginBottom: 60,
                                       plotBorderWidth: 1
                                   },
                                   title: {text: ''},
                                   xAxis: {categories: ["Outliers"]},
                                   yAxis: {
                                       categories: dta.objBrasOut.cate,
                                       title: null,
                                       labels: {
                                           style: {
                                               'min-width': '125px'
                                           },
                                           useHTML: true
                                       }
                                   },

                                   legend: {
                                       align: 'center',
                                       verticalAlign: 'bottom',
                                       y: 20,
                                       x: 50
                                   },

                                   colorAxis: {
                                       min: 0,
                                       minColor: '#FFFFFF',
                                       maxColor: '#1ABB9C'
                                   },

                                   tooltip: {
                                       formatter: function () {
                                           return '<b>' + this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                                   this.point.value + ' outliers</b> ';
                                       }
                                   },
                                   plotOptions: {
                                       series: {
                                           events: {
                                               click: function (event) {
                                                   callDrilldownOutlier(event.point.series.yAxis.categories[event.point.y], 'drilldown', 'bras')
                                               }
                                           },
                                           dataLabels: {
                                               formatter: function () {
                                                   var nf = new Intl.NumberFormat();
                                                   return nf.format(this.point.value);
                                               }
                                           },
                                           cursor: 'pointer'
                                       }
                                   },
                                   series: [{
                                       name: 'Outliers',
                                       borderWidth: 1,
                                       data: getHeatmapBrasOutlier(dta.objBrasOut.data, dta.objBrasOut.cate),
                                       dataLabels: {
                                           enabled: true,
                                           color: '#000000'
                                       }
                                   }]

                               });
                               // Total Outliers Inf Device
                               Highcharts.chart('inf-outlier', {
                                   chart: {
                                       type: 'heatmap',
                                       marginTop: 10,
                                       marginBottom: 60,
                                       plotBorderWidth: 1
                                   },

                                   title: {
                                       text: ''
                                   },
                                   xAxis: {
                                       categories: ["Outliers"]
                                   },

                                   yAxis: {
                                       categories: dta.objInfOut.cate,
                                       title: null,
                                       labels: {
                                           style: {
                                               'min-width': '125px'
                                           },
                                           useHTML: true
                                       }
                                   },

                                   legend: {
                                       align: 'center',
                                       verticalAlign: 'bottom',
                                       y: 20,
                                       x: 50
                                   },

                                   colorAxis: {
                                       min: 0,
                                       minColor: '#FFFFFF',
                                       maxColor: '#1194a9'
                                   },

                                   tooltip: {
                                       formatter: function () {
                                           return '<b>' + this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                                   this.point.value + ' outliers</b> ';
                                       }
                                   },
                                   plotOptions: {
                                       series: {
                                           events: {
                                               click: function (event) {
                                                   callDrilldownOutlier(event.point.series.yAxis.categories[event.point.y], 'drilldown', 'inf')
                                               }
                                           },
                                           dataLabels: {
                                               formatter: function () {
                                                   var nf = new Intl.NumberFormat();
                                                   return nf.format(this.point.value);
                                               }
                                           },
                                           cursor: 'pointer'
                                       }
                                   },
                                   series: [{
                                       name: 'Outliers',
                                       borderWidth: 1,
                                       data: getHeatmapBrasOutlier(dta.objInfOut.data, dta.objInfOut.cate),
                                       dataLabels: {
                                           enabled: true,
                                           color: '#000000'
                                       }
                                   }]

                               });
                               // Total Notices By Status (Bras)
                               Highcharts.chart('region-opsview-heatmap', {
                                   chart: {
                                       type: 'heatmap',
                                       marginTop: 40,
                                       marginBottom: 80,
                                       plotBorderWidth: 1
                                   },

                                   title: {
                                       text: ''
                                   },

                                   xAxis: {
                                       categories: dta.objOpsviewType.cate
                                   },

                                   yAxis: {
                                       categories: ['ok_opsview', 'warn_opsview', 'unknown_opsview', 'crit_opsview'],
                                       title: null
                                   },

                                   colorAxis: {
                                       min: 0,
                                       minColor: '#FFFFFF',
                                       maxColor: '#1ABB9C'
                                   },

                                   legend: {
                                       align: 'right',
                                       layout: 'vertical',
                                       margin: 0,
                                       verticalAlign: 'top',
                                       y: 25,
                                       symbolHeight: 280
                                   },

                                   tooltip: {
                                       formatter: function () {
                                           return '<b>' + this.series.xAxis.categories[this.point.x] + ' & ' + this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                                   this.point.value + '</b> ';
                                       }
                                   },

                                   plotOptions: {
                                       series: {
                                           events: {
                                               click: function (event) {
                                                   callDrilldownNoticeByStatus(event.point.series.xAxis.categories[event.point.x])
                                               }
                                           },
                                           dataLabels: {
                                               formatter: function () {
                                                   var nf = new Intl.NumberFormat();
                                                   return nf.format(this.point.value);
                                               }
                                           },
                                           cursor: 'pointer'
                                       }
                                   },

                                   series: [{
                                       name: 'Opsview types',
                                       borderWidth: 1,
                                       data: getDataHeatMap(dta.objOpsviewType.data),
                                       dataLabels: {
                                           enabled: true,
                                           color: '#000000'
                                       }
                                   }]

                               });
                               // Total Device Errors By Severity (Bras)
                               Highcharts.chart('region-nocCount', {
                                   legend: {
                                       enabled: true
                                   },
                                   title: {
                                       text: ''
                                   },
                                   yAxis: {
                                       title: {
                                           text: 'Counts'
                                       }
                                   },
                                   xAxis: {
                                       type: 'category'
                                   },
                                   colors: ['#f60'],

                                   plotOptions: {
                                       series: {
                                           point: {
                                               events: {
                                                   contextmenu: function (e) {
                                                       if ($('#brasRighClick').val().indexOf('-') >= 0)
                                                           window.open("/fwdRequest?bras=" + $('#brasRighClick').val(), "_blank")
                                                   },
                                                   mouseOver: function () {
                                                       if (this.name.indexOf('-') >= 0)
                                                           $('#brasRighClick').val(this.name)
                                                   }
                                               }
                                           }
                                       }
                                   },

                                   series: [{
                                       name: 'Alert count',
                                       data: getDrillDownStackedAndLine(dta.objNocCount.alertGroup)
                                   }],
                                   drilldown: {
                                       drillUpButton: {
                                           relativeTo: 'spacingBox',
                                           position: {
                                               align: "right",
                                               verticalAlign: "top",
                                               x: 10,
                                               y: -10
                                           }
                                       },
                                       series: getDrillDownNotStacked2Level(dta.objNocCount.alertData, dta.objNocCount.alertCate)
                                   }
                               });
                               // Total INF Errors By Type
                               Highcharts.chart('region-infError', {
                                   chart: {
                                       type: @province.equals("") ? 'areaspline' : 'bar'
                                   },
                                   title: {
                                       text: ''
                                   },
                                   xAxis: {
                                       type: 'category'
                                   },
                                   legend: {
                                       enabled: true
                                   },
                                   yAxis: {
                                       title: {
                                           text: ''
                                       }
                                   },
                                   plotOptions: {
                                       series: {
                                           point: {
                                               events: {
                                                   contextmenu: function (e) {
                                                       if ($('#brasRighClick').val().indexOf('-') >= 0)
                                                           window.open("/fwdRequest?bras=" + $('#brasRighClick').val(), "_blank")
                                                   },
                                                   mouseOver: function () {
                                                       if (this.name.indexOf('-') >= 0)
                                                           $('#brasRighClick').val(this.name)
                                                   }
                                               }
                                           }
                                       }
                                   },
                                   colors: ['#5A738E'],
                                   series: [{
                                       name: 'Inf down',
                                       data: getDrillDownStackedAndLine(dta.objInfType.infTypeGroup)
                                   }],
                                   drilldown: {
                                       drillUpButton: {
                                           relativeTo: 'spacingBox',
                                           position: {
                                               align: "right",
                                               verticalAlign: "top",
                                               x: 10,
                                               y: -10
                                           }
                                       },
                                       series: getDrillDownNotStacked2Level(dta.objInfType.infTypeData, dta.objInfType.infTypeCate)
                                   }
                               });
                               // Total INF Errors By Months
                               Highcharts.chart('region-inf', {
                                   chart: {
                                       type: 'heatmap',
                                       marginTop: 40,
                                       marginBottom: 70,
                                       plotBorderWidth: 1
                                   },

                                   title: {
                                       text: ''
                                   },

                                   xAxis: {
                                       categories: dta.objTotalInf.cateX
                                   },

                                   yAxis: {
                                       categories: dta.objTotalInf.cateY,
                                       title: null
                                   },

                                   colorAxis: {
                                       min: 0,
                                       minColor: '#FFFFFF',
                                       maxColor: '#E74C3C'
                                   },

                                   legend: {
                                       align: 'right',
                                       layout: 'vertical',
                                       margin: 0,
                                       verticalAlign: 'top',
                                       y: 25,
                                       symbolHeight: 280
                                   },

                                   plotOptions: {
                                       series: {
                                           events: {
                                               click: function (event) {
                                                   callDrilldownTotalInf(event.point.series.xAxis.categories[event.point.x])
                                               }
                                           },
                                           dataLabels: {
                                               formatter: function () {
                                                   var nf = new Intl.NumberFormat();
                                                   return nf.format(this.point.value);
                                               }
                                           },
                                           cursor: 'pointer'
                                       }
                                   },

                                   tooltip: {
                                       formatter: function () {
                                           return '<b>' + this.series.xAxis.categories[this.point.x] + ' & ' + this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                                   this.point.value + '</b> ';
                                       }
                                   },

                                   series: [{
                                       name: 'total inf',
                                       borderWidth: 1,
                                       data: getDataHeatMapForDrilldownInferror(dta.objTotalInf.data, dta.objTotalInf.cateX, dta.objTotalInf.month),
                                       dataLabels: {
                                           enabled: true,
                                           color: '#000000'
                                       }
                                   }]

                               });
                           }
                           else {
                               alert("Error when execute query. Please check again your system!")
                           }
                       },
                       complete: function () {
                           $('.sectionLast').waitMe("hide");
                       }
                   });
               }
           }
       });
   });
</script>