@import services.domain.CommonService.getImageTag2
@import services.domain.CommonService.getLinkTag

<!DOCTYPE html>
<html lang="en">
    @_root_.dns.views.html.common.head("")

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @_root_.dns.views.html.common.sidebar()

            <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel disInline">
                                <div class="compare-btn">
                                    <label class="btn btn-success" style="margin-left: 10px;" data-toggle="modal" data-target="#fr-compare">
                                        <i class="fa fa-bar-chart">&nbsp;&nbsp;</i><span style="color: white">Compare</span>
                                    </label>
                                </div>
                            <div style="padding:5px 0px 0px 20px">
                                <span class="lbDomain"><i class="fa fa-twitter"></i> vnexpress.net <i class="fa fa-times iconRemove" aria-hidden="true" onclick="refreshDomain()"></i></span>
                                <span class="lbDomain"><i class="fa fa-twitter"></i> 24h.com.vn <i class="fa fa-times iconRemove" aria-hidden="true" onclick="refreshDomain()"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br/>
                <div class="row top_tiles">
                <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px"><i class="fa fa-television"></i> Total Visitors <i class="fa fa-info-circle" style="font-size: 17px" title="Sum of all visits (non-unique) per time period analyzed. Metric can be viewed as share out of all domains analyzed or as absolute number."></i></div>
                            <!--
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            -->
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <!--
                                <div class="w_left" style="width: 100%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                -->
                                <div class="w_right">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left w_25" >
                                    <span>vnexpress.net</span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span>100M</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left w_25">
                                    <span>24h.com.vn</span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span>445M</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px"><i class="fa fa-globe"></i> Global Rank <i class="fa fa-info-circle" style="font-size: 17px" title="Global rank of compared analyzed sites"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 45%">
                                    <span>vnexpress.net</span>
                                </div>
                                <div class="w_right w_55">
                                    <span>345k</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 45%">
                                    <span>24h.com.vn</span>
                                </div>
                                <div class="w_right w_55">
                                    <span>123k</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px"><i class="fa fa-flag"></i> Country Rank  <i class="fa fa-info-circle" style="font-size: 17px" title="Country-specific rank of compared analyzed sites"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">United States</span>
                            </p>
                            
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 45%">
                                    <span>vnexpress.net</span>
                                </div>
                                <div class="w_right w_55">
                                    <span>3425k</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 45%">
                                    <span>24h.com.vn</span>
                                </div>
                                <div class="w_right w_55">
                                    <span>1323k</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px"><i class="fa fa-tags"></i> Category Rank <i class="fa fa-info-circle" style="font-size: 17px" title="Rank of each website in the category of main site"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <span style="color: green;margin-left: 10px">Search Enginne</span>
                            </p>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 45%">
                                    <span>24h.com.vn</span>
                                </div>
                                <div class="w_right w_55">
                                    <span>12k</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 45%">
                                    <span>vnexpress.net</span>
                                </div>
                                <div class="w_right w_55">
                                    <span>10k</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    -->

                </div>
                <!--
                <div class="row top_tiles">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Website Audience</h3>
                        </div>
                    </div>
                    
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px"><i class="fa fa-share-alt"></i> Traffic Share <i class="fa fa-info-circle" style="font-size: 17px" title="Percent of incoming traffic from desktop vs. mobile web"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 30%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                <div style="width: 15%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Desktop</div>
                                <div style="width: 40%;font-weight: 600;border-bottom: 1px solid #CCCCCC"></div>
                                <div class="w_right" style="width: 15%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Mobile</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 30%">
                                    <span>24h.com.vn</span>
                                </div>
                                <div style="width: 15%">
                                    <span>20%</span>
                                </div>
                                <div class="w_center" style="width: 40%">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right" style="width: 15%">
                                    <span>80%</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 30%">
                                    <span>vnexpress.net</span>
                                </div>
                                <div style="width: 15%">
                                    <span>60%</span>
                                </div>
                                <div class="w_center" style="width: 40%">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right" style="width: 15%">
                                    <span>40%</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
                -->

                <div class="row top_tiles">
                    <div class=" col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px"> Overview <i class="fa fa-info-circle" style="font-size: 17px" title="The average engagement metrics are calculated for the selected time range."></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><!--<span style="color: green;margin-left: 10px">Worldwide</span>-->
                            </p>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 25%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                <div style="width: 25%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Num Of sub domain</div>
                                <!--
                                <div style="width: 14%;font-weight: 600;border-bottom: 1px solid #CCCCCC"></div>
                                <div style="width: 14%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Visit/Unique Visitors</div>
                                <div style="width: 14%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Avg. Visit Duration</div>
                                -->
                                <div style="width: 25%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Query Per Visitor</div>
                                <div class="w_right" style="width: 25%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Percent Query</div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 25%">
                                    <span>vnexpress.net</span>
                                </div>
                                <div style="width: 25%">
                                    <span>400M</span>
                                </div>
                                <div style="width: 25%">
                                    <span>1220K</span>
                                </div>
                                <!--
                                <div style="width: 14%">
                                    <span>12.45</span>
                                </div>
                                <div style="width: 14%">
                                    <span>10:05:09</span>
                                </div>
                                <div style="width: 14%">
                                    <span>22</span>
                                </div>
                                -->
                                <div class="w_right" style="width: 25%">
                                    <span>30%</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 25%">
                                    <span>24h.com.vn</span>
                                </div>
                                <div style="width: 25%">
                                    <span>100M</span>
                                </div>
                                <div style="width: 25%">
                                    <span>120K</span>
                                </div>
                                <!--
                                <div style="width: 14%">
                                    <span>2.45</span>
                                </div>
                                <div style="width: 14%">
                                    <span>00:05:09</span>
                                </div>
                                <div style="width: 14%">
                                    <span>22</span>
                                </div>
                                -->
                                <div class="w_right" style="width: 25%">
                                    <span>80%</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12">
                        <div class="x_panel tile fixed_height_320 overflow_hidden">
                            <div>
                                <div class="tabbable-panel">
                                    <div class="tabbable-line">
                                        <ul class="nav nav-tabs ">
                                            <li class="active">
                                                <a href="#tab_default_1" data-toggle="tab">Daily Visitors </a>
                                            </li>
                                            <li>
                                                <a href="#tab_default_2" data-toggle="tab">Daily Query</a>
                                            </li>
                                            <li>
                                                <a href="#tab_default_3" data-toggle="tab">Daily Query/Visitor</a>
                                            </li>
                                            <li>
                                                <a href="#tab_default_4" data-toggle="tab">Bounce Rate </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="x_content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_1">
                                        <div id="line-visitors" style="height:250px;" class="fade animated rotateInDownLeft"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_2">
                                        <div class="fade animated rotateInDownLeft" id="line-Duration" style="height:250px;"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_3">
                                        <div class="fade animated rotateInDownLeft" id="line-Pages" style="height:250px;"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_4">
                                        <div class="fade animated rotateInDownLeft" id="line-Bounce" style="height:250px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12">
                        <div class="x_panel tile">
                            <!--
                            <div class="x_title">
                                <h2>Marketing Mix</h2>
                                <div class="clearfix"></div>
                            </div>
                            -->
                            <div class="x_content">
                                <div class="count" style="font-size: 30px"> Region Overview <i class="fa fa-info-circle" style="font-size: 17px" title="Percentage of incoming traffic from each marketing channel"></i></div>
                                <p style="padding:0px 30px 20px 0px">
                                    <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                                </p>
                                <div id="col-channel" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-xs-12">
                        <div class="x_panel tile">
                            <div class="x_title">
                                <h2>Social</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="count" style="font-size: 30px"> Social Traffic <i class="fa fa-info-circle" style="font-size: 17px" title="Leading social networks that drove traffic to the selected site on desktop"></i></div>
                                <p style="padding:0px 30px 20px 0px">
                                    <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                                </p>
                                <div id="col-social" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>

                <div class="row top_tiles">
                    <!--
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Display Advertising</h3>
                        </div>
                    </div>
                    -->


                    <div class="col-xs-12">
                        <div class="tile-stats">
                            <div class="tile-stats">
                                <div class="count" style="font-size: 30px"><i class="fa fa-share-alt"></i> Province Overview <i class="fa fa-info-circle" style="font-size: 17px" title="Percent of incoming traffic from desktop vs. mobile web"></i></div>
                                <p style="padding:0px 30px 20px 20px">
                                    <a>Sep 2017 - Nov 2017</a>
                                </p>
                                <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                    <div class="w_left" style="width: 30%;border-bottom: 1px solid #CCCCCC">
                                        <span style="font-weight: 600;">Province</span>
                                    </div>
                                    <div style="width: 15%;font-weight: 600;border-bottom: 1px solid #CCCCCC">vnexpress.net</div>
                                    <div style="width: 40%;font-weight: 600;border-bottom: 1px solid #CCCCCC"></div>
                                    <div class="w_right" style="width: 15%;font-weight: 600;border-bottom: 1px solid #CCCCCC">24h.com.vn</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Hồ Chí Minh</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>20%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>80%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Hà Nội</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>60%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>40%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Thanh Hóa</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>60%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>40%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Nghệ An</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>60%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>40%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            
                            <!--
                            <div class="count" style="font-size: 30px"> Province Overview <i class="fa fa-info-circle" style="font-size: 17px" title="Leading publishers that referred advertising traffic to the selected site on desktop"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div style="padding: 0px 40px 20px 30px">
                                <span class="iconDomain"><i class="fa fa-twitter"></i> vnexpress.net </span>
                                <span class="iconDomain"><i class="fa fa-twitter"></i> 24h.com.vn </span>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 20%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                <div style="width: 40%; font-weight: 600;border-bottom: 1px solid #CCCCCC">vnexpress.net</div>
                                <div class="w_right" style="font-weight: 600;width: 40%;border-bottom: 1px solid #CCCCCC">24h.com.vn</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>yahoo.com</span>
                                </div>
                                <span style="width: 5%">13%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>youtube.com</span>
                                </div>
                                <span style="width: 5%">66%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            -->
                        </div>
                    </div>
                    <!--
                    <div class="col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Display Ad Network <i class="fa fa-info-circle" style="font-size: 17px" title="Breakdown of the leading advertising networks that delivered ads on desktop"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div style="padding: 0px 40px 20px 30px">
                                <span class="iconDomain"><i class="fa fa-twitter"></i> vnexpress.net </span>
                                <span class="iconDomain"><i class="fa fa-twitter"></i> 24h.com.vn </span>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 20%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Ad Network</span>
                                </div>
                                <div style="width: 40%; font-weight: 600;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share</div>
                                <div class="w_right" style="font-weight: 600;width: 40%;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share Split</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>Google Display Network</span>
                                </div>
                                <span style="width: 5%">13%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>Yahoo Display Ads</span>
                                </div>
                                <span style="width: 5%">96%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <!--
                <div class="row top_tiles">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Traffic Destination</h3>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Top Ads Destination <i class="fa fa-info-circle" style="font-size: 17px" title="Leading advertisers who get traffic from the selected website on desktop"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div style="padding: 0px 40px 20px 30px">
                                <span class="iconDomain"><i class="fa fa-twitter"></i> vnexpress.net </span>
                                <span class="iconDomain"><i class="fa fa-twitter"></i> 24h.com.vn </span>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 20%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                <div style="width: 40%; font-weight: 600;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share</div>
                                <div class="w_right" style="font-weight: 600;width: 40%;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share Split</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>sendo.vn</span>
                                </div>
                                <span style="width: 5%">24%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width: 24%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>lazada.vn</span>
                                </div>
                                <span style="width: 5%">43%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
            <!-- /page content -->
            <!-- Modal -->
        <div class="modal fade" id="fr-compare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width: 420px">
                <div class="modal-content">
                    <div class="modal-body" style="text-align: center;">
                        <form id="frmDomain" class="form-vertical login-form" action="/dev/dns/compare" method="get">
                            <input type="hidden" id="ipDomain" value="google.com">
                        </form>
                        <h3 style="margin-bottom: 25px">Add / Remove Competitors</h3>
                        <div id="div-domain" style="overflow: auto;max-height:400px;padding:0px 30px 0px 30px">
                            <div>
                                <input type="text" id="dm0" class="form-control autocomplete" placeholder="Add domain to compare" style="margin-bottom: 5px">
                                <div id="div-lb0" class="divLbCss hideCss">
                                    <label id="lbDomain0" style="float: left;"></label>
                                    <i class="fa fa-times" aria-hidden="true" style="cursor: pointer;float: right;" onclick="removeDomain(this)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="submitCompare()">Update</button>
                    </div>
                </div>
            </div>
        </div>
            <!-- footer content -->
        <footer>
            <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
            <div class="clearfix"></div>
        </footer>
            <!-- /footer content -->
        </div>
    </div>

    @_root_.dns.views.html.common.scripts("")

    

</body>
</html>