@(form: Form[SearchBras],email: String,time: String,lstbrasTimeCurrent: Seq[model.device.Bras],lstbrasTime: Seq[model.device.Bras],listCard: Seq[(String,String,String,Int,Int)],lstBrasChart: Seq[model.device.Bras])
@import play.api.libs.json.Json
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

            <!-- Bootstrap -->
        @common.views.html.common.css("BrasDetail")
    </head>
    @common.views.html.common.top()
        <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle" style="margin-bottom: 10px">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <div style="margin-top: 7px" class="col-md-5 col-sm-5 col-xs-12 form-group  top_search">
                    <h3 class=" hvr-pulse" style="color: green;font-weight: 600">Bras: @lstbrasTime(0).id</h3>
                    <p style="color: red">Time: @lstbrasTime(0).time</p>
                </div>
            </nav>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="../assets/images/user.default.png" alt="">@email
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
        <!-- /top navigation -->
        <!-- page content -->
    <div class="right_col" role="main">
        @if(lstbrasTimeCurrent.size>0) {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile">
                        <div class="x_content">
                            <table class="data table table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th>Bras Id</th>
                                        <th>Time</th>
                                        <th>SignIn</th>
                                        <th>Logoff</th>
                                        <th>Actives</th>
                                        <th>Cpe_error</th>
                                        <th>Lostip_error</th>
                                        <th>Crit_kibana</th>
                                        <th>Crit_opsview</th>
                                        <th>Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(bras <- lstbrasTimeCurrent) {
                                    @if(bras.time.contains(lstbrasTime(0).time) || lstbrasTime(0).time.contains(bras.time)){
                                        <tr class="hight-light">
                                    }else{
                                        <tr>
                                        }
                                    <td><a href="/brasInfo?id=@bras.id&time=@bras.time&sigin=@bras.signin&logoff=@bras.logoff&timeCurrent=@time" style="color: #1ABB9C;">@bras.id</a></td>
                                    <td>@bras.time</td>
                                    <td>@bras.signin</td>
                                    <td>@bras.logoff</td>
                                    <td>@bras.active_user</td>
                                    <td>@bras.cpe_error</td>
                                    <td>@bras.lostip_error</td>
                                    <td>@bras.crit_kibana</td>
                                    <td>@bras.crit_opsview</td>
                                    <td>
                                    @if(bras.verified.isEmpty || bras.verified.get == "0"){
                                        <span class="label label-danger" style="font-size: 13px">Outlier</span>
                                    }else{
                                        <span class="label label-success" style="font-size: 13px">Outlier</span>
                                    }
                                    </td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2> Detail information</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="chart-bras" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile">
                    <div class="x_title">
                        @if(lstbrasTime(0).signin >= lstbrasTime(0).logoff) {
                            <h2> SignIn per card per line-cards</h2>
                        }else{
                            <h2> LogOff per card per line-cards</h2>
                        }
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="heat_map" style="height:450px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /page content -->

        <!-- footer content -->
    <footer>
        <div class="pull-right">
            Dashboard Admin 21/09/2017
        </div>
        <div class="clearfix"></div>
    </footer>
        <!-- /footer content -->
    </div>
    </div>

        <!-- jQuery -->
    <script src="../assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Custom Theme Scripts -->
    <script src="../assets/custom/js/custom.min.js"></script>
        <!-- Hight chart -->
    <script src="../assets/javascripts/highcharts.js"></script>
    <script src="../assets/javascripts/exporting.js"></script>
    <script src="../assets/javascripts/heatmap.js"></script>

        <!-- Counter number -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/vis.min.js"></script>
        <!-- Datatable -->
    <script src="../assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                // Build the chart line day of month vector
                @if(lstBrasChart != null){
                    var category = @Html(Json.stringify(Json.toJson(lstBrasChart.map { t => t.time.toString})));
                    var logoff = @Html(Json.stringify(Json.toJson(lstBrasChart.map { t =>t.logoff})));
                    var signin = @Html(Json.stringify(Json.toJson(lstBrasChart.map { t =>t.signin})));
                    var users = @Html(Json.stringify(Json.toJson(lstBrasChart.map { t => t.active_user})));
                    //console.log(category)
                    Highcharts.chart('chart-bras', {
                        chart: {
                            zoomType: 'xy'
                        },
                        title: {
                            text: ''
                        },
                        xAxis: [{
                            categories: category
                        }],
                        yAxis: [{ // Secondary yAxis
                            gridLineWidth: 0,
                            title: {
                                text: 'SignIn - LogOff Users',
                                /*style: {
                                    color: "#1ABB9C"
                                }*/
                            },
                            labels: {
                                format: '{value} users',
                                /*style: {
                                    color: "#1ABB9C"
                                }*/
                            }
                        },
                            { // Primary yAxis
                                labels: {
                                    format: '{value}',
                                    style: {
                                        color: "red"
                                    }
                                },
                                title: {
                                    text: 'Active users',
                                    style: {
                                        color: "red"
                                    }
                                },
                                opposite: true

                            }],
                        tooltip: {
                            shared: true
                        },
                        labels: {
                            items: [{
                                html: '',
                                style: {
                                    left: '50px',
                                    top: '18px',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                }
                            }]
                        },

                        series: [{
                            type: 'column',
                            name: 'Sign In',
                            yAxis: 0,
                            color: "#f0ad4e",
                            data: signin
                        }, {
                            type: 'column',
                            name: 'Log Off',
                            yAxis: 0,
                            color: "#9073da",
                            data: logoff
                        }, {
                            type: 'spline',
                            name: 'Actives user',
                            yAxis: 1,
                            data: users,
                            color: "#FF0000",
                            marker: {
                                lineWidth: 2,
                                lineColor: "white",
                                fillColor: '#FF0000'
                            }
                        }]
                    });
                }
                // heat map line cards
                @if(listCard != null && lstbrasTime != null){
                    var card = @Html(Json.stringify(Json.toJson(listCard.map { t => t._3})));
                    var linecard = @Html(Json.stringify(Json.toJson(listCard.map { t => t._2})));
                    var data = @Html(Json.stringify(Json.toJson(listCard)));
                    var numSignin = @Html(Json.stringify(Json.toJson(lstbrasTime(0).signin)));
                    var numLogoff = @Html(Json.stringify(Json.toJson(lstbrasTime(0).logoff)));
                    var titUser = " users log off"
                    var isLog = 0
                    if (Number(numSignin) >= Number(numLogoff)) {
                        titUser = " users signin";
                        isLog = 1;
                    }
                    var cardLabel = getCard(card, 1)
                    var linecardLabel = getCard(linecard, 0)
                    var dta = getData(data, isLog)

                    Highcharts.chart('heat_map', {

                        chart: {
                            type: 'heatmap',
                            marginTop: 40,
                            marginBottom: 80,
                            plotBorderWidth: 1
                        },

                        title: {
                            text: ''
                        },

                        xAxis: {
                            categories: cardLabel
                        },

                        yAxis: {
                            categories: linecardLabel,
                            title: null
                        },

                        colorAxis: {
                            min: 0,
                            minColor: '#FFFFFF',
                            maxColor: '#1ABB9C'
                        },

                        legend: {
                            align: 'right',
                            layout: 'vertical',
                            margin: 0,
                            verticalAlign: 'top',
                            y: 25,
                            symbolHeight: 280
                        },

                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> has <br><b>' +
                                        this.point.value + '</b> ' + titUser + ' <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
                            }
                        },

                        series: [{
                            name: 'Logoff per card',
                            borderWidth: 1,
                            data: dta,
                            dataLabels: {
                                enabled: true,
                                color: '#000000'
                            }
                        }]

                    });
                }
            });
            function getCard(arrCard,type){
                var jsonArr = [];
                if(type == 1)
                    var title ="Card"
                else
                    var title = "Linecard"
                var arrNum = arrCard.map(Number)
                for (var i = 0; i <= Math.max.apply(null, arrNum); i++) {
                    jsonArr.push( title+" "+i);
                }
                return jsonArr
            }
            function getData(data,isLog){
                var jsonArr = [];
                for (var i =0 ; i < data.length; i++) {
                    var user = data[i][4]
                    if(isLog == 0) user = data[i][3]
                    jsonArr.push([Number(data[i][2]),Number(data[i][1]),user]);
                }
                return jsonArr
            }
    </script>
    </body>
</html>