@(email: String,mapBrasOutlier: Seq[(String,String,Int,Int,String)])

@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import play.api.libs.json.Json
@import services.domain.CommonService.formatUTC
@import services.domain.CommonService.formatYYYYmmddHHmmss

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

            <!-- Bootstrap -->
        @common.views.html.common.css("Device",2)
    </head>
    @common.views.html.common.top("Device",2,"")
        <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle" style="margin-bottom: 10px">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="../assets/images/user.default.png" alt="">@email
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
        <!-- /top navigation -->
        <!-- page content -->
    <div class="right_col" role="main" style="background-image: url('../assets/images/bras-bg1.jpg')">
        <div class="row">
            <div class="alert alert-success" id="success-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
                You have updated bras successfully.
            </div>
            <div class="alert alert-error" id="error-alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Error! </strong>
                System error, Please review operation.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="grapBras" style="margin-top: 15px">
                <div class="timeline">
                    <div class="timeline__wrap">
                        <div class="timeline__items">
                            @for(i <- 0 until mapBrasOutlier.length) {
                                <div class="timeline__item">
                                @if(mapBrasOutlier(i)._3 >= mapBrasOutlier(i)._4){
                                    <div class="timeline__content activeBoxGreen">
                                }else{
                                    <div class="timeline__content activeBoxRed">
                                }
                                        <div class="timeline_box">
                                            <input type="hidden" class="signin" value="@mapBrasOutlier(i)._3">
                                            <input type="hidden" class="logoff" value="@mapBrasOutlier(i)._4">

                                            <input type="hidden" class="brasText" value="@mapBrasOutlier(i)._2/@mapBrasOutlier(i)._1">
                                            <h2>Bras: @mapBrasOutlier(i)._2</h2>
                                            <p>Time: @mapBrasOutlier(i)._1</p>
                                            <p><span style="margin-right: 10px">Signin: @mapBrasOutlier(i)._3</span><span>Logoff: @mapBrasOutlier(i)._4</span></p>
                                        </div>
                                        @if(mapBrasOutlier(i)._5 != "0" && mapBrasOutlier(i)._5 != "1") {
                                            <p class="disInline">
                                                <span style="padding-top: 5px">
                                                    <a onclick="confirmOutlier(this)" id="@mapBrasOutlier(i)._2/@mapBrasOutlier(i)._1" class="confirm btn btn-default a-btn-slide-text" style="padding: 0px 8px;margin-bottom: 0px;font-size: 12px">
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                        <span><strong>Confirm</strong></span>
                                                    </a>
                                                </span>
                                                <span style="padding-top: 5px">
                                                    <a onclick="rejectOutlier(this)" id="@mapBrasOutlier(i)._2/@mapBrasOutlier(i)._1" class="reject btn btn-dark a-btn-slide-text" style="padding: 0px 8px;margin-bottom: 0px;font-size: 12px">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                        <span><strong>Reject</strong></span>
                                                    </a>
                                                </span>
                                            </p>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" id="divBras" style="display: none">
                    <table class="data table table-bordered" id="tbBras" style="margin-bottom: 0px">
                        <thead>
                            <tr style="color: white;background: #4980b5;font-size: 14px">
                                <th colspan="2">Kibana</th>
                                <th colspan="2">Opsview</th>
                            </tr>
                            <tr style="color: cornsilk">
                                <th colspan="1" style="width: 35%">Error Name</th>
                                <th colspan="1">Severity</th>
                                <th colspan="1" style="width: 35%">Service Name</th>
                                <th colspan="1">Service Status</th>
                            </tr>
                        </thead>
                        <tbody style="color: red;background: #190e0e">
                        </tbody>
                    </table>

                    <table class="data table table-bordered" id="tbUser" style="margin-bottom: 0px">
                        <thead>
                            <tr style="color: #ddd;font-size: 14px">
                                <th style="width: 35%">Name</th>
                                <th>Time</th>
                                <th>Host-Module-Index</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" id="heat-mapChart" style="display: none">
                <div class="titleInline">
                    <h2 id="titLineCard" style="margin-right: 5px;font-weight: 600"></h2> <i class="fa fa-info-circle toolTipText" title="Data card is loaded between 1 minutes before and 1 minutes later than the current time bras"></i>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel tile">
                    <div class="x_content">
                        <div id="heat_map" style="height:40px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="display: none" id="line-chart">
            <div class="titleInline">
                <h2 style="margin-right: 5px;font-weight: 600"> Detail information</h2> <i class="fa fa-info-circle toolTipText" title="Data is loaded between 30 minutes before and 30 minutes later than the current time bras"></i>
                <div class="clearfix"></div>
            </div>
            <div class="x_panel tile">
                <div class="x_content">
                    <div id="line-bras" style="height:360px;"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" id="hostBras" style="display: none">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <div class="card-header">
                    <span style="font-size: 16px;font-weight: 600" id="lbHost"></span> <i class="fa fa-info-circle toolTipText" title="Data hosts of bras is loaded in 30 minutes ago."></i>
                </div>
                <div>
                    <div id="host" style="height: 415px;background: #fff"></div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
               @* <a id="btnCSV" class="btn btn-success"><i class="fa fa-download" style="margin-right: 2px"></i><span>CSV</span></a>*@
                <div class="tbScroll">
                    <table class="table no-margin border table-fixed"style="margin-bottom: 0px;font-weight: 700">
                        <thead>
                            <tr style="color: white;background: #4980b5;font-size: 16px">
                                <th colspan="7">List Of OLT Get Error</th>
                            </tr>
                            <tr style="font-size: 14px;color:#ddd">
                                <th style="width: 27%">Host</th>
                                <th>Module</th>
                                <th>Signin</th>
                                <th>Logoff</th>
                                <th>Sf</th>
                                <th>Lofi</th>
                                <th>Total error</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="divHost">
                        <table class="table no-margin border table-fixed"style="margin-bottom: 0px;font-weight: 700" id="tbHost">
                            <tbody style="color: #f5f10d;background: #190e0e">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
        <!-- /page content -->
        <!-- footer content -->
    <footer>
        <div class="pull-right">
            Dashboard Admin 21/09/2017
        </div>
        <div class="clearfix"></div>
    </footer>
        <!-- /footer content -->
    </div>
    </div>

        <!-- jQuery -->
    <script src="../assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Custom Theme Scripts -->
    <script src="../assets/custom/js/custom.min.js"></script>
        <!-- Hight chart -->
    <script src="../assets/javascripts/highcharts.js"></script>
    <script src="../assets/javascripts/exporting.js"></script>
        <!-- Counter number -->
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/vis.min.js"></script>
        <!-- Datatable -->
    <script src="../assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../assets/vendors/jszip/jszip.min.js"></script>
    <script src="../assets/vendors/jszip/pdfmake.min.js"></script>
    <script src="../assets/vendors/jszip/vfs_fonts.js"></script>

    <script src="../assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../assets/vendors/datatables.net-fixedColumn/js/dataTables.fixedColumn.min.js"></script>
    <script src="../assets/javascripts/tableToCsv.js"></script>
    <script src="../assets/javascripts/map.js"></script>
    <script src="../assets/javascripts/vn-all.js"></script>
    <script src="../assets/javascripts/waitMe.js"></script>
    <script src="../assets/javascripts/timeline.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                timeline(document.querySelectorAll('.timeline'), {
                    forceVerticalMode: 700,
                    mode: 'horizontal',
                    verticalStartPosition: 'left',
                    visibleItems: 8
                });
                setInterval(function () {
                    $.ajax({
                        url: "/device/realtime-bras",
                        cache: false,
                        success: function (dta) {
                            if(dta != "Error"){
                                var oldestBras = $('.timeline__items .brasText:eq(0)').val().split('/');
                                for(var i=0;i<dta.bras.length;i++) {
                                    if(dta.bras[i][1] == oldestBras[0] && dta.bras[i][0] == oldestBras[1]){
                                        var html = ''
                                        var button = ''
                                        for(var j=i-1;j>=0;j--){
                                            console.log(dta.bras[j]);
                                            if(dta.bras[j][4] != 0 && dta.bras[j][4] != 1){
                                                button = '<p class="disInline">'+
                                                        '<span style="padding-top: 5px">'+
                                                        '<a onclick="confirmOutlier(this)" id="'+dta.bras[j][1]+'/'+dta.bras[j][0]+'" class="btn btn-default a-btn-slide-text" style="padding: 0px 8px;margin-bottom: 0px;font-size: 12px">'+
                                                        '<span class="glyphicon glyphicon-ok" style="margin-right: 3px;" aria-hidden="true"></span><span><strong>Confirm</strong></span></a></span>'+
                                                        '<span style="padding-top: 5px">'+
                                                        '<a onclick="rejectOutlier(this)" id="'+dta.bras[j][1]+'/'+dta.bras[j][0]+'" class="btn btn-dark a-btn-slide-text" style="padding: 0px 8px;margin-bottom: 0px;font-size: 12px">'+
                                                        '<span class="glyphicon glyphicon-remove" style="margin-right: 3px;" aria-hidden="true"></span><span><strong>Reject</strong></span></a></span>'+
                                                        '</p>'
                                            }
                                            var classActive = 'activeBoxRed'
                                            if(Number(dta.bras[j][2]) >= Number(dta.bras[j][3]))
                                                classActive = 'activeBoxGreen'
                                            html = '<div class="timeline__item">' +
                                                    '<div class="timeline__content '+classActive+'">' +
                                                    '<div class="timeline_box">'+
                                                    '<input type="hidden" class="signin" value="'+dta.bras[j][2]+'">'+
                                                    '<input type="hidden" class="logoff" value="'+dta.bras[j][3]+'">'+
                                                    '<input type="hidden" class="brasText" value="'+dta.bras[j][1]+'/'+dta.bras[j][0]+'">'+
                                                    '<h2>Bras: ' + dta.bras[j][1] + '</h2>' +
                                                    '<p>Time: ' + dta.bras[j][0] + '</p>' +
                                                    '<p><span style="margin-right: 10px;">Signin: ' + dta.bras[j][2] + '</span><span>Logoff: ' + dta.bras[j][3] + '</span></p>' +
                                                    '</div>' +button+'</div>' +
                                                    '</div>';
                                            $('.timeline__items').prepend(html);
                                        }
                                        if(html != ''){
                                            timeline(document.querySelectorAll('.timeline'), {
                                                forceVerticalMode: 700,
                                                mode: 'horizontal',
                                                verticalStartPosition: 'left',
                                                visibleItems: 8
                                            });
                                            activeOnclick();
                                        }
                                        break;
                                    }
                                }
                            }
                        }
                    });
                }, 5000);

                activeOnclick();

                $('[data-toggle="tooltip"]').tooltip();
                $("[data-toggle='toggle']").click(function() {
                    $('#mapBras').toggleClass("hideDiv");
                    $(this).children('.fa-chevron-left, .fa-chevron-right').toggleClass("fa-chevron-left fa-chevron-right");
                    $('#grapBras').toggleClass("leftDiv");
                });

                function getData(data,isCheck,isKnow){
                    var jsonArr = [];
                    for (var i =0 ; i < data.length; i++) {
                        var user = data[i][1]
                        var arrLineCard = data[i][0]
                        var vlLine = Number(arrLineCard[1])
                        var vlCard = Number(arrLineCard[0])
                        if(isKnow == 1){
                            vlLine += 1
                            vlCard += 1
                        }
                        jsonArr.push([Number(vlLine),Number(vlCard),Number(user)]);
                    }
                    return jsonArr
                }

                function checkUnknowValue(data){
                    var isKnown = 0
                    var arrNum = data.map(Number)
                    if(arrNum.includes(-1))
                        isKnown = 1
                    return isKnown
                }

                function getCard(arrCard,type){
                    var jsonArr = [];
                    if(type == 1)
                        var title ="Card"
                    else
                        var title = "Linecard"
                    var arrNum = arrCard.map(Number)
                    var istart = 0
                    if(arrNum.includes(-1)) istart = Math.min.apply(null, arrNum)
                    for (var i = istart; i <= Math.max.apply(null, arrNum); i++) {
                        jsonArr.push( title+" "+i);
                    }
                    return jsonArr
                }

                function drawHeatMapChart(dta){
                    var sigLog = dta.sigLog
                    var isLog = 0;
                    var color = '#d9534f';
                    var titUser = " users log off"
                    if(sigLog[0][1] <= sigLog[0][2]){
                        $('#titLineCard').text("SignIn per card per line-cards");
                        titUser=" users signin";
                        isLog =1;
                        color = '#1ABB9C';
                    }
                    else{
                        $('#titLineCard').text("Logoff per card per line-cards");
                    }
                    var cardLabel = getCard(dta.heatCard,1)
                    var linecardLabel = getCard(dta.heatLinecard,0)
                    var isCheckKnow = 0
                    if(checkUnknowValue(dta.heatCard) >0 || checkUnknowValue(dta.heatLinecard)>0)
                        isCheckKnow = 1
                    var dtCard = getData(dta.dtaCard,isLog,isCheckKnow)
                    //if(dtCard.length >0) {
                        $('#heat_map').attr('style','height:385px');
                        Highcharts.chart('heat_map', {
                            chart: {
                                type: 'heatmap',
                                marginTop: 40,
                                marginBottom: 80,
                                plotBorderWidth: 1
                            },

                            title: {
                                text: ''
                            },

                            xAxis: {
                                categories: cardLabel
                            },

                            yAxis: {
                                categories: linecardLabel,
                                title: null
                            },

                            colorAxis: {
                                min: 0,
                                minColor: '#FFFFFF',
                                maxColor: color
                            },

                            legend: {
                                align: 'right',
                                layout: 'vertical',
                                margin: 0,
                                verticalAlign: 'top',
                                y: 25,
                                symbolHeight: 280
                            },

                            tooltip: {
                                formatter: function () {
                                    return '<b>' + this.series.xAxis.categories[this.point.x] +' & '+ this.series.yAxis.categories[this.point.y] + '</b> has <br><b>' +
                                            this.point.value + '</b> ' + titUser;
                                }
                            },

                            series: [{
                                name: 'Logoff per card',
                                borderWidth: 1,
                                data: dtCard,
                                dataLabels: {
                                    enabled: true,
                                    color: '#000000'
                                }
                            }]

                        });
                    //}
                }

                function drawChart(dta){
                    // Build the chart line day of month vector
                    var category = dta.time;
                    var logoff = dta.logoff;
                    var signin = dta.signin;
                    var users = dta.users;
                    //console.log(category)
                    Highcharts.chart('line-bras', {
                        chart: {
                            zoomType: 'xy'
                        },
                        title: {
                            text: ''
                        },
                        xAxis: [{
                            categories: category
                        }],
                        yAxis: [{ // Secondary yAxis
                            gridLineWidth: 0,
                            title: {
                                text: 'SignIn - LogOff Users',
                            }
                        },
                            { // Primary yAxis
                                labels: {
                                    format: '{value}',
                                    style: {
                                        color: "#f0ad4e"
                                    }
                                },
                                title: {
                                    text: 'Active users',
                                    style: {
                                        color: "#f0ad4e"
                                    }
                                },
                                opposite: true

                            }],
                        tooltip: {
                            shared: true
                        },
                        labels: {
                            items: [{
                                html: '',
                                style: {
                                    left: '50px',
                                    top: '18px',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                }
                            }]
                        },

                        series: [{
                            type: 'column',
                            name: 'Sign In',
                            yAxis: 0,
                            color: "#1ABB9C",
                            data: signin
                        }, {
                            type: 'column',
                            name: 'Log Off',
                            yAxis: 0,
                            color: "#d9534f",
                            data: logoff
                        }, {
                            type: 'spline',
                            name: 'Actives user',
                            yAxis: 1,
                            data: users,
                            color: "#f0ad4e",
                            marker: {
                                lineWidth: 2,
                                lineColor: "white",
                                fillColor: '#f0ad4e'
                            }
                        }]
                    });
                }

                function activeOnclick(){
                    $('.timeline_box').click(function(){
                        $('.timeline__items .activeBox').each(function(){
                            var numSig = $(this).find('.signin').val()
                            var numLog = $(this).find('.logoff').val()
                            if(Number(numSig)>= Number(numLog)){
                                $(this).addClass('activeBoxGreen');
                            }
                            else{
                                $(this).addClass('activeBoxRed');
                            }
                            $(this).removeClass('activeBox');
                        });
                        $(this).parent().removeClass('activeBoxRed');
                        $(this).parent().removeClass('activeBoxGreen');
                        $(this).parent().addClass('activeBox');
                        var brasId = $(this).find('.brasText').val();
                        $.ajax({
                            url: "/host-json?id=" + brasId,
                            cache: false,
                            beforeSend: function () {
                                $('.activeBox').waitMe({
                                    effect: 'roundBounce',
                                    text: 'Please wait...',
                                    bg: 'rgba(255,255,255,0.7)',
                                    color: '#000',
                                    textPos: 'vertical'
                                });
                                waitMe();
                            },
                            success: function (dtBras) {
                                if(dtBras != "Error"){
                                    $('#divBras').show();
                                    // table Bras
                                    var tbBras = $('#tbBras').DataTable( {
                                        "scrollY":        "150px",
                                        "scrollCollapse": true,
                                        "paging":         false,
                                        "info":     false,
                                        "searching":     false,
                                        "sort":     false,
                                        destroy: true
                                    });
                                    tbBras.rows().remove().draw();
                                    if(dtBras.brasKibana.length >0 && dtBras.brasOpview.length >0) {
                                        var sizeMap = dtBras.brasKibana.length
                                        var isKibana = 1
                                        if(dtBras.brasOpview.length > dtBras.brasKibana.length){
                                            sizeMap = dtBras.brasOpview.length
                                            isKibana = 0
                                        }

                                        for(var i=0;i< sizeMap;i++){
                                            if(isKibana == 1){
                                                if(i>=dtBras.brasOpview.length)
                                                    tbBras.row.add( [
                                                        dtBras.brasKibana[i][0],
                                                        dtBras.brasKibana[i][1],
                                                        null,
                                                        null
                                                    ] ).draw( false );
                                                else
                                                    tbBras.row.add( [
                                                        dtBras.brasKibana[i][0],
                                                        dtBras.brasKibana[i][1],
                                                        dtBras.brasOpview[i][0],
                                                        dtBras.brasOpview[i][1]
                                                    ] ).draw( false );
                                            }
                                            else{
                                                if(i>=dtBras.brasKibana.length)
                                                    tbBras.row.add( [
                                                        null,
                                                        null,
                                                        dtBras.brasOpview[i][0],
                                                        dtBras.brasOpview[i][1]
                                                    ] ).draw( false );
                                                else
                                                    tbBras.row.add( [
                                                        dtBras.brasKibana[i][0],
                                                        dtBras.brasKibana[i][1],
                                                        dtBras.brasOpview[i][0],
                                                        dtBras.brasOpview[i][1]
                                                    ] ).draw( false );
                                            }
                                        }
                                        $('#tbBras').find('.autoTooltip').each(function () {
                                            var title = $(this).text();
                                            $(this).attr('title', title);
                                        });
                                    }
                                    else{
                                        $('#tbBras tbody').html('<tr><td colspan="4" class="notResult">No matching records found</td></tr>');
                                    }
                                    // insert data user logoff
                                    if(dtBras.userLogoff.length >0){
                                        var tbUser = $('#tbUser').DataTable( {
                                            dom: 'Bfrtip',
                                            "scrollY":        "150px",
                                            "scrollCollapse": true,
                                            "paging":         false,
                                            "info":     false,
                                            "searching":     false,
                                            "sort":     false,
                                            destroy: true,
                                            buttons: [
                                                'csv'
                                            ]
                                        });
                                        tbUser.rows().remove().draw();
                                        for(var i=0;i< dtBras.userLogoff.length;i++){
                                            tbUser.row.add( [
                                                dtBras.userLogoff[i][0],
                                                dtBras.userLogoff[i][1],
                                                dtBras.userLogoff[i][2]
                                            ] ).draw( false );
                                        }
                                        var sigLog = dtBras.sigLog
                                        var color = 'red';
                                        if(sigLog[0][1] <= sigLog[0][2]){
                                            color = 'green';
                                        }
                                        $('#tbUser tbody').attr('style','background: #190e0e;color:'+color)
                                        // custom button group export
                                        if(!($('#tbUser i:eq(0)').hasClass('fa-download'))) {
                                            $('.buttons-csv').prepend('<i class="fa fa-download" style="margin-right: 2px"></i>');
                                            if(sigLog[0][1] <= sigLog[0][2]){
                                                $('.dt-buttons').prepend('<span class="titCsvBtn" style="background: #149c7f">List Of Client Signed In</span>');
                                            }
                                            else{
                                                $('.dt-buttons').prepend('<span class="titCsvBtn" style="background: #d9534f">List Of Client Logged Off</span>');
                                            }
                                            /*$('.buttons-excel').prepend('<i class="fa fa-download" style="margin-right: 2px"></i>')
                                            $('.buttons-pdf').prepend('<i class="fa fa-download" style="margin-right: 2px"></i>')*/
                                        }
                                    }
                                    else{
                                        $('#tbUser tbody').html('<tr><td colspan="3" class="notResult">No matching records found</td><td style="display: none"></td><td style="display: none"></td></tr>');
                                    }
                                    // draw chart heat map
                                    $('#heat-mapChart').show();
                                    if(dtBras.sigLog.length > 0)
                                        drawHeatMapChart(dtBras);
                                    // draw chart line
                                    $('#line-chart').show();
                                    drawChart(dtBras);
                                    // draw graph host and table
                                    drawHostBras(groupGraphost(dtBras.host, 'host'), brasId)
                                    $('#lbHost').text("Hosts of: " + brasId)
                                    var html = getTableHost(dtBras.host);
                                    if(html == "") {
                                        $('#divHost').attr('style','height: 73px');
                                        $('.tbScroll').attr('style','height: auto');
                                        //$('#btnCSV').hide();
                                        $('#tbHost tbody').attr('style','background: transparent');
                                        html = "<tr><td colspan='7' class='notResult'>No matching records found </td></tr>";
                                        $('#tbHost tbody').html('');
                                        $('#tbHost tbody').append(html);
                                    }
                                    else{
                                        //$('#btnCSV').show();
                                        $('#divHost').attr('style','max-height: 420px;overflow: auto');
                                        $('.tbScroll').attr('style','height: 460px');
                                        $('#tbHost tbody').attr('style','color: #f5f10d;background: #190e0e');
                                        $('#tbHost tbody').html('');
                                        $('#tbHost tbody').append(html);
                                    }
                                }
                                else{
                                    location.href = "/noc";
                                }
                            },
                            complete: function () {
                                $('.activeBox').waitMe("hide");
                                hideWaitme();
                            },
                        });
                    });
                }

                function hideWaitme() {
                    $('#tbBras').waitMe("hide");
                    $('#tbUser').waitMe("hide");
                    $('#host').waitMe("hide");
                    $('#tbHost').waitMe("hide");
                    $('#line-bras').waitMe("hide");
                    $('#heat-mapChart').waitMe("hide");
                }

                function waitMe(){
                    $('#heat-mapChart').waitMe({
                        effect: 'roundBounce',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                    $('#line-bras').waitMe({
                        effect: 'roundBounce',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                    $('#tbBras').waitMe({
                        effect: 'roundBounce',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                    $('#tbUser').waitMe({
                        effect: 'roundBounce',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                    $('#host').waitMe({
                        effect: 'roundBounce',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                    $('#tbHost').waitMe({
                        effect: 'roundBounce',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                }

                // ----------------//
                function drawHostBras(data,idBras){
                    //console.log(Object.keys(data).length)
                    if(Object.keys(data).length == 0 )
                        $('#host').attr('style','height:70px;background: #fff');
                    else
                        $('#host').attr('style','height: 415px;background: #fff');
                    $('#hostBras').show();
                    // Nodes HOST
                    /*var nodeHost1 = new vis.DataSet([
                        {id: 0, label: 'Root',color:'#9B59B6'},
                        {id: 1, label: 'Host1',color:'#1ABB9C'},
                        {id: 2, label: 'Host2',color:'#1ABB9C'},
                        {id: 11,label: 'Module1'},
                        {id: 12,label: 'Module2'},
                        {id: 111,label: 'Splitter1'},
                        {id: 112,label: 'Splitter2'}
                    ]);*/
                    // console.log(getNodeHost(data,idBras))
                    var nodeHost = new vis.DataSet(getNodeHost(data,idBras))
                    //console.log(nodeHost)
                    // create an array with edges to represent the network
                    /*var edgeHost1 = new vis.DataSet([
                        {from: 0, to: 1},
                        {from: 0, to: 2},
                        {from: 1, to: 11},
                        {from: 1, to: 12},
                        {from: 11, to: 111},
                        {from: 11, to: 112}
                    ]);*/
                    var edgeHost = new vis.DataSet(getEdgeHost(data))
                    //console.log(edgeHost)
                    // Find contained in document
                    var divHost = document.getElementById('host');
                    //Define data object and the options of the network
                    var arrHost = {
                        nodes: nodeHost,
                        edges: edgeHost
                    };
                    var optionsHost = {
                        autoResize: true,
                        height: '100%',
                        width: '100%'
                    };
                    //Define the network object to be rendered.
                    var host = new vis.Network(divHost, arrHost, optionsHost);
                    //Simply declare an event with callback.
                    host.on("click", function (params) {
                        //console.log(params['nodes']['0']);
                        var id = params['nodes']['0'];
                        if(id!= undefined && (id==0 || id.indexOf('/')<0)) {
                            $('#host').waitMe({
                                effect: 'roundBounce',
                                text: 'Please wait...',
                                bg: 'rgba(255,255,255,0.7)',
                                color: '#000',
                                textPos: 'vertical'
                            });
                            $('#tbHost').waitMe({
                                effect: 'roundBounce',
                                text: 'Please wait...',
                                bg: 'rgba(255,255,255,0.7)',
                                color: '#000',
                                textPos: 'vertical'
                            });
                            setTimeout(function () {
                                $('#host').waitMe("hide");
                                $('#tbHost').waitMe("hide");
                                if(id==0){
                                    $('#tbHost tbody').find('tr').show();
                                   /* $('#tbHost tbody').find('tr').removeAttr('style', 'color:#ff9600');*/
                                }else {
                                    $('#tbHost tbody').find('tr').hide();
                                    $('.' + id).show();
                                    /*$('.' + id).attr('style', 'color:#ff9600');*/
                                }
                            }, 500);
                        }
                        else if(id!= undefined && id.indexOf('/')>=0){
                            var params = Number(id.split('/')[2])
                            //var ids = $('#lbHost').text().split('/')[1].trim()+'/'+id.substring(0,id.lastIndexOf('/'))
                            if(params == 1){
                                window.location.href = '/inf?id='+id.substring(0,id.lastIndexOf('/'))
                            }
                        }
                    });
                }
            });

            function rejectOutlier(element){
                var strId = $(element).attr('id')
                var id = strId.split("/")[0]
                var time = strId.split("/")[1]
                $.ajax({
                    url: "/rejectLabel?id="+id+"&time="+time,
                    success: function (data) {
                        if(data!= "error") {
                            $(element).attr('disabled', 'disabled');
                            $(element).prop('onclick', null);
                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                                $("#success-alert").slideUp(500);
                            });
                        }
                        else{
                            $("#error-alert").fadeTo(2000, 500).slideUp(500, function(){
                                $("#error-alert").slideUp(500);
                            });
                        }
                    }
                });
            }

            function confirmOutlier(element){
                var strId = $(element).attr('id')
                var id = strId.split("/")[0].trim()
                var time = strId.split("/")[1].trim()
                $.ajax({
                    url: "/confirmLabel?id="+id+"&time="+time,
                    success: function (data) {
                        if(data!= "error"){
                            $(element).attr('disabled','disabled');
                            $(element).prop('onclick', null);
                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                                $("#success-alert").slideUp(500);
                            });
                        }
                        else{
                            $("#error-alert").fadeTo(2000, 500).slideUp(500, function(){
                                $("#error-alert").slideUp(500);
                            });
                        }
                    }
                });
            }

            function getTableHost(dta){
                var html = "";
                var nameTest = "";
                $.each(dta,function(i,dt){
                    html+= '<tr class="'+dt[0].host+'">';
                    if(nameTest == dt[0].host){
                        html+= '<td >'+dt[0].module+'</td>';
                    }
                    else{
                        nameTest=dt[0].host;
                        var testhost = dt[0].host
                        var sizeHost=0;
                        $.each(dta,function(i,dt){
                            if(testhost == dt[0].host) sizeHost++;
                        })
                        html+= '<td style="width:30%" rowspan="'+sizeHost+'">'+dt[0].host+'</td><td style="width:16%;">'+dt[0].module+'</td>';
                    }
                    html += '<td style="width:10%;">'+dt[1].signin+'</td><td style="width:10%;">'+dt[1].logoff+'</td>'
                    html+= '<td style="width:10%;">'+dt[1].sf+'</td><td style="width:10%;">'+dt[1].lofi+'</td>';
                    var totalErr = Number(dt[1].sf)+Number(dt[1].lofi);
                    html+= '<td style="width:20%;">'+totalErr+'</td>';
                    html+= '</tr>';
                });
                return html;
            }

            function groupGraphost(data, column) {
                var generatedData = {};
                $.each(data, function(i, dt) {
                    var key = dt[0][column];
                    if (!(key in generatedData)) {
                        generatedData[key] = [];
                    }
                    var jSon = []
                    jSon.push({
                        host:dt[0].host,
                        module:dt[0].module,
                        label:dt[1].label
                    })
                    generatedData[key].push(jSon);
                });
                return generatedData;
            }

            function getEdgeBras(dtaPort,dtaCard,dtaLine,dtaBras){
                var jsonArr = [];
                for (var i = 0; i < dtaBras.length; i++) {
                    jsonArr.push({
                        from: 0,
                        to: dtaBras[i][0]+"/"+dtaBras[i][1]
                    });
                }
                for (var i = 0; i < dtaLine.length; i++) {
                    var arrLine = distinctArray(dtaLine[i][1].split("|"));
                    for(var j=0;j<arrLine.length;j++){
                        jsonArr.push({
                            from: dtaLine[i][0][0]+"/"+dtaLine[i][0][1],
                            to: dtaLine[i][0][0]+"/"+dtaLine[i][0][1]+"/"+arrLine[j]
                        });
                    }
                }
                for (var i = 0; i < dtaCard.length; i++) {
                    var arrCard = distinctArray(dtaCard[i][1].split("|"));
                    for(var j=0;j<arrCard.length;j++){
                        jsonArr.push({
                            from: dtaCard[i][0][0]+"/"+dtaCard[i][0][1]+"/"+dtaCard[i][0][2],
                            to: dtaCard[i][0][0]+"/"+dtaCard[i][0][1]+"/"+dtaCard[i][0][2]+"/"+arrCard[j]
                        });
                    }
                }
                for (var i = 0; i < dtaPort.length; i++) {
                    var arrPort = distinctArray(dtaPort[i][1].split("|"));
                    for(var j=0;j<arrPort.length;j++){
                        jsonArr.push({
                            from: dtaPort[i][0][0]+"/"+dtaPort[i][0][1]+"/"+dtaPort[i][0][2]+"/"+dtaPort[i][0][3],
                            to: dtaPort[i][0][0]+"/"+dtaPort[i][0][1]+"/"+dtaPort[i][0][2]+"/"+dtaPort[i][0][3]+"/"+arrPort[j]
                        });
                    }
                }
                return jsonArr
            }

            function getEdgeHost(dtaHost){
                var jsonArr = [];
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    jsonArr.push({
                        from: 0,
                        to: Object.keys(dtaHost)[i]
                    });
                }
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    var arrModule = Object.values(dtaHost)[i];
                    for(var j=0;j<arrModule.length;j++){
                        jsonArr.push({
                            from:Object.keys(dtaHost)[i],
                            to: Object.keys(dtaHost)[i]+"/"+arrModule[j][0].module+"/"+arrModule[j][0].label
                        });
                    }
                }
                return jsonArr
            }

            function getNodeHost(dtaHost,idBras){
                var jsonArr = [];
                jsonArr.push({
                    id: 0,
                    title:idBras,
                    label: "Bras "+idBras.split('/')[0].split('-')[0],
                    color: "#9B59B6"
                });
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    jsonArr.push({
                        id: Object.keys(dtaHost)[i],
                        label:"Host "+ Object.keys(dtaHost)[i],
                        color: "#f5f10d"
                    });
                }
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    var arrModule = Object.values(dtaHost)[i];
                    for(var j=0;j<arrModule.length;j++){
                        var colors = "#1ABB9C", title = "normal"
                        if(arrModule[j][0].label == "1") {
                            title = "outlier"
                            colors = "#d9534f"
                        }
                        jsonArr.push({
                            id: Object.keys(dtaHost)[i]+"/"+arrModule[j][0].module+"/"+arrModule[j][0].label,
                            label:"Module "+arrModule[j][0].module,
                            color: colors,
                            title: title
                        });
                    }
                }
                return jsonArr
            }

            function getNodeBras(numLogSig,dtaPort,dtaCard,dtaLine,dtaBras,name){
                var jsonArr = [];
                jsonArr.push({
                    id: 0,
                    label: name,
                    color: "#d9534f"
                });
                for (var i = 0; i < dtaBras.length; i++) {
                    var sigin = numLogSig[i].split("/")[0];
                    var logoff = numLogSig[i].split("/")[1];
                    var title = "Log Off: "+logoff+" users";
                    if(Number(sigin)>Number(logoff))
                        title = "Sign In: "+sigin+" users";
                    jsonArr.push({
                        id: dtaBras[i][0]+"/"+dtaBras[i][1],
                        title: "Bras: "+dtaBras[i][0]+"<br>Time: "+dtaBras[i][1]+"<br>"+title,
                        label:"Bras "+dtaBras[i][0].split("-")[0],
                        color: "#1ABB9C"
                    });
                }
                for (var i = 0; i < dtaLine.length; i++) {
                    var arrLine = distinctArray(dtaLine[i][1].split("|"));
                    for(var j=0;j<arrLine.length;j++){
                        jsonArr.push({
                            id: dtaLine[i][0][0]+"/"+dtaLine[i][0][1]+"/"+arrLine[j],
                            label: "LineCard"+arrLine[j]
                        });
                    }
                }
                for (var i = 0; i < dtaCard.length; i++) {
                    var arrCard = distinctArray(dtaCard[i][1].split("|"));
                    for(var j=0;j<arrCard.length;j++){
                        jsonArr.push({
                            id: dtaCard[i][0][0]+"/"+dtaCard[i][0][1]+"/"+dtaCard[i][0][2]+"/"+arrCard[j],
                            label: "Card"+arrCard[j]
                        });
                    }
                }
                for (var i = 0; i < dtaPort.length; i++) {
                    var arrPort = distinctArray(dtaPort[i][1].split("|"));
                    for(var j=0;j<arrPort.length;j++){
                        jsonArr.push({
                            id: dtaPort[i][0][0]+"/"+dtaPort[i][0][1]+"/"+dtaPort[i][0][2]+"/"+dtaPort[i][0][3]+"/"+arrPort[j],
                            label: "Port"+arrPort[j]
                        });
                    }
                }
                return jsonArr
            }

            function distinctArray(items){
                var uniqueItems = Array.from(new Set(items))
                return uniqueItems
            }

            function reloadData(){
                window.location.reload(true);
            }

    </script>
    </body>
</html>