@(arrModule: Array[(String)], arrIndex: Array[(Int)], rows: Seq[(String,Int,Int)])

   @for(i <- 0 until arrIndex.length) {
        <tr>
            <th>@arrIndex(i)</th>
            @for(c <- 0 until arrModule.length) {
                @for(k <- 0 until rows.length) {
                    @if(rows(k)._2.equals(arrIndex(i)) && rows(k)._1.equals(arrModule(c))){
                        <td class="@c" name="@rows(k)._3">@rows(k)._3</td>
                    }
                }
            }
        </tr>
    }
