
<div class="accordion row" id="accordion1" role="tablist" aria-multiselectable="true" style="border: 1px solid #E6E9ED;padding: 0px 15px 15px;">
    <div>
        <span class="hed-title">STT</span>
        <span class="hed-title">Mac</span>
        <span class="hed-title">Type</span>
        <span class="hed-title">Vendor</span>
    </div>
    <div class="panel">
        <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">1</h4>
            <h4 class="panel-title">12</h4>
            <h4 class="panel-title">docs</h4>
            <h4 class="panel-title">Intel Corporate</h4>
        </a>
        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
            <div class="panel-body">
                <div id="line-device1" style="height:250px"></div>
            </div>
        </div>
    </div>
    <div class="panel">
        <a class="panel-heading" role="tab" id="headingOne2" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">2</h4>
            <h4 class="panel-title">12</h4>
            <h4 class="panel-title">docs</h4>
            <h4 class="panel-title">Intel Corporate</h4>
        </a>
        <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne2">
            <div class="panel-body">
                <div id="line-device2" style="height:250px"></div>
            </div>
        </div>
    </div>
</div>