@(devices: model.user.Device)

@*
<div class="accordion row" id="accordion1" role="tablist" aria-multiselectable="true" style="border: 1px solid #E6E9ED;padding: 0px 15px 15px;">
    <div>
        <span class="hed-title" style="width: 13%">Mac</span>
        <span class="hed-title" style="width: 8%">Type</span>
        <span class="hed-title">Vendor</span>
    </div>
    @for(device <- devices.deviceChars.toList) {
        <div class="panel">
            <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">@device._1.split(',')(0)</h4>
                <h4 class="panel-title">@device._1.split(',')(1)</h4>
                <h4 class="panel-title">@device._1.split(',')(2)</h4>
            </a>
            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                <div class="panel-body">
                    <div id="line-device1" style="height:250px"></div>
                </div>
            </div>
        </div>
    }
</div>*@

<table class="data table table-striped no-margin" id="tbDevice">
    <thead>
        <tr>
            <th>Mac</th>
            <th>Type</th>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        @for(device <- devices.deviceChars.toList) {
            <tr>
                <td>@device._1.split(',')(0)</td>
                <td>@device._1.split(',')(1)</td>
                <td>@device._1.split(',')(2)</td>
            </tr>
        }
    </tbody>
</table>
<div id="line-device" style="height:250px"></div>
