@(response: model.DashboardResponse)
@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import play.api.libs.json.Json
@import services.domain.CommonService.getLinkTag

<script type="text/javascript">
        $(document).ready(function () {
            // chart daily r
            var categories = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._1))));
            var queries = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._2.queries))));
            var domains = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._2.domains))));
            var clients = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._2.clients))));
            Highcharts.chart('dailyReport', {
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                xAxis: [{
                    categories: categories,
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: '#3498DB'
                        }
                    },
                    title: {
                        text: 'Clients',
                        style: {
                            color: '#3498DB'
                        }
                    },
                    opposite: true

                }, { // Secondary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Queries',
                        style: {
                            color: '#1ABB9C'
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: '#1ABB9C'
                        }
                    }

                }, { // Tertiary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Domains',
                        style: {
                            color: '#9B59B6',
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: '#9B59B6',
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                series: [{
                    name: 'Queries',
                    type: 'spline',
                    yAxis: 1,
                    color:'#1ABB9C',
                    data: queries,
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'Domains',
                    type: 'spline',
                    yAxis: 2,
                    color:'#9B59B6',
                    data: domains,
                    marker: {
                        enabled: false
                    },
                    dashStyle: 'shortdot',
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'Clients',
                    type: 'spline',
                    color:'#3498DB',
                    data: clients,
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
            // chart top 10 malware
            categories = @Html(Json.stringify(Json.toJson(response.report.malwares.take(10).map(x => x.malware))));
            queries = @Html(Json.stringify(Json.toJson(response.report.malwares.take(10).map(x => x.queries))));
            domains = @Html(Json.stringify(Json.toJson(response.report.malwares.take(10).map(x => x.domains))));
            Highcharts.chart('top10Malware', {
                chart: {
                    type: 'bar',
                    height: '300px'
                },
                title: {
                    text: ""
                },
                colors: [
                    '#1ABB9C','#9B59B6'
                ],
                /*plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },*/
                xAxis: {
                    categories: categories
                },

                yAxis: {
                    title: {
                        text: "Queries/Domains"
                    }
                },
                series: [
                    {
                        name: "Queries",
                        data: queries
                    }, {
                        name: "Domains",
                        data: domains
                    }]
            });
            // chart top 10 main black
            categories = @Html(Json.stringify(Json.toJson(response.report.blacks.take(10).map(x => getLinkTag(x.name) + " [" + x.malware + "]"))));
            queries = @Html(Json.stringify(Json.toJson(response.report.blacks.take(10).map(x => x.queries))));
            clients = @Html(Json.stringify(Json.toJson(response.report.blacks.take(10).map(x => x.clients))));
            Highcharts.chart('top10MainBlack', {
                chart: {
                    type: 'bar',
                    height: '300px'
                },
                title: {
                    text: ""
                },
                colors: [
                    '#1ABB9C','#9B59B6'
                ],
                /*plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },*/
                xAxis: {
                    categories: categories
                },

                yAxis: {
                    title: {
                        text: "Queries/Clients"
                    }
                },
                series: [
                    {
                        name: "Queries",
                        data: queries
                    }, {
                        name: "Cl",
                        data: clients
                    }]
            });
            // chart top 10 main
            categories = @Html(Json.stringify(Json.toJson(response.report.seconds.take(10).map(x => x.name))));
            queries = @Html(Json.stringify(Json.toJson(response.report.seconds.take(10).map(x => x.queries))));
            clients = @Html(Json.stringify(Json.toJson(response.report.seconds.take(10).map(x => x.clients))));
            Highcharts.chart('top10Main', {
                chart: {
                    type: 'bar',
                    height: '300px'
                },
                title: {
                    text: ""
                },
                colors: [
                    '#1ABB9C','#9B59B6'
                ],
                /*plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },*/
                xAxis: {
                    categories: categories
                },

                yAxis: {
                    title: {
                        text: "Queries/Clients"
                    }
                },
                series: [
                    {
                        name: "Queries",
                        data: queries
                    }, {
                        name: "Clients",
                        data: clients
                    }]
            });
            var data1 = @Html(Json.stringify(response.toBubbleBlack));
            var data2 = @Html(Json.stringify(response.toBubbleWhite));
            var data3 = @Html(Json.stringify(response.toBubbleUnknow));
            Highcharts.chart('top100Second', {

                chart: {
                    type: 'bubble',
                    plotBorderWidth: 1,
                    zoomType: 'xy'
                },

                title: {
                    text: ''
                },

                xAxis: {
                    gridLineWidth: 1,
                    title: {
                        text: 'Queries'
                    }
                },

                yAxis: {
                    startOnTick: false,
                    endOnTick: false,
                    title: {
                        text: 'Clients'
                    }
                },

                tooltip: {
                    useHTML: true,
                    headerFormat: '<table>',
                    pointFormat:
                    '<tr><th colspan="2"><h3>{point.name}</h3></th></tr>' +
                    '<tr><th>Queries:</th><td>{point.x}</td></tr>' +
                    '<tr><th>Client:</th><td>{point.y}</td></tr>' +
                    '<tr><th>QpC:</th><td>{point.z}</td></tr>',
                    footerFormat: '</table>',
                    followPointer: true
                },

                series: [{
                    data: data1,
                    name: "Black",
                    marker: {
                        fillColor: {
                            radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, '#34495E'],
                                [1, Highcharts.Color('#34495E').setOpacity(0.5).get('rgba')]
                            ]
                        }
                    }
                }, {
                    data: data2,
                    name: "White",
                    marker: {
                        fillColor: {
                            radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, '#1ABB9C'],
                                [1, Highcharts.Color('#1ABB9C').setOpacity(0.5).get('rgba')]
                            ]
                        }
                    }
                }, {
                    data: data3,
                    name: "Unknow",
                    marker: {
                        fillColor: {
                            radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, '#fbb450'],
                                [1, Highcharts.Color('#fbb450').setOpacity(0.5).get('rgba')]
                            ]
                        }
                    }
                }
                ]

            });
        });
</script>