@(response: model.RankResponse)
@import play.api.libs.json.Json
@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.getImageTag
@import services.domain.CommonService.getLinkTag

<script type="text/javascript">
        $(document).ready(function () {
            $('.topRank').select2({
                minimumResultsForSearch: Infinity
            });
            $('.ui.selection.dropdown').dropdown();
            // event click time
            var lastWeek = @Html(Json.stringify(Json.toJson(response.last7Day.map(x => Array(x.rankFtel.toString,getImageTag(x.name),getLinkTag(x.name),formatNumber(x.queries),x.label)))));
            var lastMonth = @Html(Json.stringify(Json.toJson(response.last30Day.map(x => Array(x.rankFtel.toString,getImageTag(x.name),getLinkTag(x.name),formatNumber(x.queries),x.label)))));
            $('.itemTime').click(function () {
                var it = $(this).attr('data-value');
                if(it == "lday"){
                    window.location.href = '/rank';
                }
                else if(it == "lweek"){
                    getLastWeekorMonth(lastWeek)
                }
                else {
                    getLastWeekorMonth(lastMonth)
                }
            })

            $("#tbRank").DataTable();
            /* onchange label*/
            var lstRankAll = @Html(Json.stringify(Json.toJson(response.all.map(x => Array(getImageTag(x.name),getLinkTag(x.name),x.label,x.malware,formatNumber(x.queries),formatNumber(x.clients),x.rankFtel.toString,x.getQueryPerClient().toString,x.rankAlexa.toString)))))
            var lstRankWhite = @Html(Json.stringify(Json.toJson(response.white.map(x => Array(getImageTag(x.name),getLinkTag(x.name),formatNumber(x.queries),formatNumber(x.clients),x.rankFtel.toString,x.getQueryPerClient().toString,x.rankAlexa.toString)))))
            var lstRankBlack = @Html(Json.stringify(Json.toJson(response.black.map(x => Array(getImageTag(x.name),getLinkTag(x.name),x.malware,formatNumber(x.queries),formatNumber(x.clients),x.rankFtel.toString,x.getQueryPerClient().toString)))))
            var lstRankUnknown = @Html(Json.stringify(Json.toJson(response.unknow.map(x => Array(getImageTag(x.name),getLinkTag(x.name),formatNumber(x.queries),formatNumber(x.clients),x.rankFtel.toString,x.getQueryPerClient().toString)))))

            $('#lstLabel').change(function () {
                var dataTable = $("#tbRank").DataTable();
                // get the html table rows then
                dataTable.destroy();
                if($(this).val() == "all"){
                    var tbody = ""
                    for(var i=0;i< lstRankAll.length;i++){
                        var domain = lstRankAll[i][0] + " "+lstRankAll[i][1];
                        var label = lstRankAll[i][2];
                        if(label == "white"){
                             label = '<span class="label label-success">WHITE</span>'
                        } else if(label == "black"){
                             label = '<span class="label label-warning">BLACK</span>'
                        } else{
                             label = '<span class="label label-default">UNKNOWN</span>'
                        }
                        var malware = lstRankAll[i][3];
                        var queries = lstRankAll[i][4];
                        var clients = lstRankAll[i][5];
                        var rank = lstRankAll[i][6];
                        var queryClients = lstRankAll[i][7];
                        var alexa = lstRankAll[i][8];
                       tbody += "<tr><td>"+rank+"</td><td>"+domain+"</td><td>"+queries+"</td><td>"+clients+"</td><td>"+queryClients+"</td><td>"+alexa+"</td><td class='text-center'>"+label+"</td><td>"+malware+"</td></tr>"
                    }
                    $("thead").empty();
                    $("thead").html("<tr><th>Rank</th><th>Domain</th><th>Num of queries</th><th>Num of clients</th><th>Query / Client</th><th>Alexa Rank</th><th>Label</th><th>Malware</th></tr>")

                }
                // label white
                else if($(this).val() == "white"){
                    var tbody = ""
                    for(var i=0;i< lstRankWhite.length;i++){
                        var domain = lstRankWhite[i][0] + " "+lstRankWhite[i][1];
                        var queries = lstRankWhite[i][2];
                        var clients = lstRankWhite[i][3];
                        var rank = lstRankWhite[i][4];
                        var queryClients = lstRankWhite[i][5];
                        var alexa = lstRankWhite[i][6];
                        tbody += "<tr><td>"+rank+"</td><td>"+domain+"</td><td>"+queries+"</td><td>"+clients+"</td><td>"+queryClients+"</td><td>"+alexa+"</td></tr>"
                    }
                    $("thead").empty();
                    $("thead").html("<tr><th>Rank</th><th>Domain</th><th>Num of queries</th><th>Num of clients</th><th>Query / Client</th><th>Alexa Rank</th></tr>")

                }
                // label black
                else if($(this).val() == "black"){
                    var tbody = ""
                    for(var i=0;i< lstRankBlack.length;i++){
                        var domain = lstRankBlack[i][0] + " "+lstRankBlack[i][1];
                        var malware = lstRankBlack[i][2];
                        var queries = lstRankBlack[i][3];
                        var clients = lstRankBlack[i][4];
                        var rank = lstRankBlack[i][5];
                        var queryClients = lstRankBlack[i][6];
                        tbody += "<tr><td>"+rank+"</td><td>"+domain+"</td><td>"+queries+"</td><td>"+clients+"</td><td>"+queryClients+"</td><td>"+malware+"</td></tr>"
                    }
                    $("thead").empty();
                    $("thead").html("<tr><th>Rank</th><th>Domain</th><th>Num of queries</th><th>Num of clients</th><th>Query / Client</th><th>Malware</th></tr>")

                }
                // label unknown
                else {
                    var tbody = ""
                    for(var i=0;i< lstRankUnknown.length;i++){
                        var domain = lstRankUnknown[i][0] + " "+lstRankUnknown[i][1];
                        var queries = lstRankUnknown[i][2];
                        var clients = lstRankUnknown[i][3];
                        var rank = lstRankUnknown[i][4];
                        var queryClients = lstRankUnknown[i][5];
                        tbody += "<tr><td>"+rank+"</td><td>"+domain+"</td><td>"+queries+"</td><td>"+clients+"</td><td>"+queryClients+"</td></tr>"
                    }
                    $("thead").empty();
                    $("thead").html("<tr><th>Rank</th><th>Domain</th><th>Num of queries</th><th>Num of clients</th><th>Query / Client</th></tr>")

                }

                $("tbody").empty().promise().done(function(){
                    $("tbody").html(tbody);
                    dataTable = $("#tbRank").DataTable();
                });
            });
        });
        function getLastWeekorMonth(lstRank){
            $('#lstLabel').attr('disabled','disabled');
            var dataTable = $("#tbRank").DataTable();
            // get the html table rows then
            dataTable.destroy();
            $("thead").empty();
            $("thead").html("<tr><th>Rank</th><th>Domain</th><th>Num of queries</th><th>Label</th></tr>");
            var tbody = ""
            for(var i=0;i< lstRank.length;i++){
                var domain = lstRank[i][1] + " "+lstRank[i][2];
                var label = lstRank[i][4];
                if(label == "white"){
                    label = '<span class="label label-success">WHITE</span>'
                } else if(label == "black"){
                    label = '<span class="label label-warning">BLACK</span>'
                } else{
                    label = '<span class="label label-default">UNKNOWN</span>'
                }
                var queries = lstRank[i][3];
                var rank = lstRank[i][0];
                tbody += "<tr><td>"+rank+"</td><td>"+domain+"</td><td>"+queries+"</td><td class='text-center'>"+label+"</td></tr>"
            }
            $("tbody").empty().promise().done(function(){
                $("tbody").html(tbody);
                dataTable = $("#tbRank").DataTable();
            });
        }
</script>