@(email: String,listNoc: Seq[(String,String)])

@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import play.api.libs.json.Json

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

            <!-- Bootstrap -->
        @views.html.common.css("Device",2)
    </head>
    @views.html.common.top("Device",2,"")
        <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle" style="margin-bottom: 10px">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="../assets/images/user.default.png" alt="">@email
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
        <!-- /top navigation -->
        <!-- page content -->
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12" id="mapBras">
                <div class="x_panel">
                    <div style="border-bottom: 2px solid #E6E9ED;">
                        <a onclick="reloadData()" class="btn btn-success a-btn-slide-text" style="font-size: 10px">
                            <i class="fa fa-refresh" aria-hidden="true" style="margin-right: 5px;"></i>
                            <span><strong>Load</strong></span>
                        </a>
                    </div>
                    <div id="mapVn" style="height: 520px;"></div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-9 col-md-9 col-xs-12" id="grapBras" style="display: none">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="x_panel">
                        <div style="border-bottom: 2px solid #E6E9ED;">
                          <a data-toggle="toggle" style="cursor: pointer" data-target="grapBras"><i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;color: #C5C7CB"></i><span style="font-size: 16px;font-weight: 400" id="lbBras"></span></a>
                        </div>
                        <div id="bras" style="height: 530px"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="x_panel">
                        <table class="data table table-bordered" id="tbBras">
                            <thead>
                                <tr>
                                    <th style="width: 30%"></th>
                                    <th>Kibana</th>
                                    <th>Opsview</th>
                                </tr>
                                <tr>
                                    <th>Bras_id</th>
                                    <th>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-8 col-xs-8 bdR">Error Name</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">Error Level</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-xs-8 bdR">Service Name</div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">Service Status</div>
                                        </div>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div style="display: none" id="line-chart">
                       @* <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="background: white;height: 360px;border: 1px solid #E6E9ED;">
                            <table class="data table no-margin " id="tbCard">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Card1</th>
                                        <th>Card2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Linecard1</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Linecard2</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Linecard3</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>*@
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
                            <div id="line-bras" style="height:360px;border: 1px solid #E6E9ED"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" id="hostBras" style="display: none">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <div class="x_panel">
                    <div style="border-bottom: 2px solid #E6E9ED">
                        <span style="font-size: 16px;font-weight: 400" id="lbHost"></span>
                    </div>
                   <div id="host" style="height: 500px"></div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <div class="x_panel">
                    <table class="data table no-margin border" id="tbHost" >
                        <thead>
                            <tr>
                                <th>Host</th>
                                <th>Module</th>
                                <th>Cpe</th>
                                <th>Lostip</th>
                                <th>Lost Signal</th>
                                <th>User Down</th>
                                <th>Inf Down</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <!-- /page content -->

        <!-- footer content -->
    <footer>
        <div class="pull-right">
            Dashboard Admin 21/09/2017
        </div>
        <div class="clearfix"></div>
    </footer>
        <!-- /footer content -->
    </div>
    </div>

        <!-- jQuery -->
    <script src="../assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Custom Theme Scripts -->
    <script src="../assets/custom/js/custom.min.js"></script>
        <!-- Hight chart -->
    <script src="../assets/javascripts/highcharts.js"></script>
    <script src="../assets/javascripts/exporting.js"></script>
        <!-- Counter number -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/vis.min.js"></script>
        <!-- HightChartMap -->
    <script src="../assets/javascripts/map.js"></script>
    <script src="../assets/javascripts/vn-all.js"></script>
    <script src="../assets/javascripts/waitMe.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("[data-toggle='toggle']").click(function() {
                $('#mapBras').toggleClass("hideDiv");
                $(this).children('.fa-chevron-left, .fa-chevron-right').toggleClass("fa-chevron-left fa-chevron-right");
                $('#grapBras').toggleClass("leftDiv");
            });

            // Nodes BRAS
            /*var nodeBras = new vis.DataSet([
                {id: 0, label: 'Root',color:'#9B59B6'},
                {id: 1, label: 'Bras1',color:'#1ABB9C'},
                {id: 2, label: 'Bras2',color:'#1ABB9C'},
                {id: 6, label: 'LineCard1'},
                {id: 3, label: 'Card1'},
                {id: 4, label: 'Card2'},
                {id: 5, label: 'LineCard2'}
            ]);*/

            function drawGraphBras(data,name){
                var dtaBras = data.bras;
                var dtaLineCard = data.linecard;
                var dtaCard = data.card;
                var dtaPort = data.host;

                var nodeBras = new vis.DataSet(getNodeBras(dtaPort,dtaCard,dtaLineCard,dtaBras,name))
                // create an array with edges to represent the network
                /*var edgeBras = new vis.DataSet([
                    {from: 1, to: 6},
                    {from: 1, to: 5},
                    {from: 6, to: 3},
                    {from: 6, to: 4},
                    {from: 0, to: 2},
                    {from: 0, to: 1},
                ]);*/
                //console.log(getEdgeBras(dtaCard,dtaLineCard,dtaBras))
                var edgeBras = new vis.DataSet(getEdgeBras(dtaPort,dtaCard,dtaLineCard,dtaBras))

                // Find contained in document
                var divBras = document.getElementById('bras');
                //Define data object and the options of the network
                var arrBras = {
                    nodes: nodeBras,
                    edges: edgeBras
                };
                var optionsBras = {
                    autoResize: true,
                    height: '100%',
                    width: '100%'
                };
                //Define the network object to be rendered.
                var bras = new vis.Network(divBras, arrBras, optionsBras);
                //Simply declare an event with callback.
                bras.on("click", function (params) {
                    //console.log(params['nodes']['0']);
                    var brasNode = params['nodes']['0'];
                    if(brasNode!= undefined && (brasNode == 0 || brasNode.split('/').length<=2)) {
                        if(brasNode == 0){
                            waitMe();
                            setTimeout(function () {
                                hideWaitme();
                                $('#hostBras').hide();
                                $('#line-chart').hide();
                                $('#tbBras tbody').find('tr').show();
                                $('#tbBras tbody').find('tr').removeAttr('style', 'color:#1ABB9C');
                            }, 1000);
                        }
                        else {
                            var id = brasNode.replace('/', '').replace(' ', '').replace('.', '').replace(/:/g, "");
                            $.ajax({
                                url: "/host-json?id=" + brasNode,
                                cache: false,
                                beforeSend: function () {
                                    waitMe();
                                },
                                success: function (dtBras) {
                                    if(data != "Error") {
                                        var dtHost = dtBras.host;
                                        $('#line-chart').show();
                                        drawChart(dtBras);
                                        $('#lbHost').text("Hosts of " + brasNode)
                                        $('#tbBras tbody').find('tr').hide();
                                        $('#' + id).show();
                                        $('#' + id).attr('style', 'color:#1ABB9C');
                                        drawHostBras(groupGraphost(dtHost, 'host'), brasNode)
                                        var html = getTableHost(dtHost)
                                        $('#tbHost tbody').html('');
                                        $('#tbHost tbody').append(html);
                                    }
                                },
                                complete: function () {
                                    hideWaitme()
                                },
                            });
                        }
                    }
                });
            }

            function drawChart(dta){
                // Build the chart line day of month vector
                var category = dta.time;
                var logoff = dta.logoff;
                var signin = dta.signin;
                var users = dta.users;
                //console.log(category)
                Highcharts.chart('line-bras', {
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: [{
                        categories: category
                    }],
                    yAxis: [{ // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'SignIn - LogOff Users',
                        }
                    },
                        { // Primary yAxis
                            labels: {
                                format: '{value}',
                                style: {
                                    color: "#f0ad4e"
                                }
                            },
                            title: {
                                text: 'Active users',
                                style: {
                                    color: "#f0ad4e"
                                }
                            },
                            opposite: true

                        }],
                    tooltip: {
                        shared: true
                    },
                    labels: {
                        items: [{
                            html: '',
                            style: {
                                left: '50px',
                                top: '18px',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                            }
                        }]
                    },

                    series: [{
                        type: 'column',
                        name: 'Sign In',
                        yAxis: 0,
                        color: "#FF0000",
                        data: signin
                    }, {
                        type: 'column',
                        name: 'Log Off',
                        yAxis: 0,
                        color: "#9073da",
                        data: logoff
                    }, {
                        type: 'spline',
                        name: 'Actives user',
                        yAxis: 1,
                        data: users,
                        color: "#f0ad4e",
                        marker: {
                            lineWidth: 2,
                            lineColor: "white",
                            fillColor: '#f0ad4e'
                        }
                    }]
                });
            }

            function hideWaitme() {
                $('#bras').waitMe("hide");
                $('#tbBras').waitMe("hide");
                $('#host').waitMe("hide");
                $('#tbHost').waitMe("hide");
                $('#line-bras').waitMe("hide");
            }

            function waitMe(){
                $('#bras').waitMe({
                    effect: 'roundBounce',
                    text: 'Please wait...',
                    bg: 'rgba(255,255,255,0.7)',
                    color: '#000',
                    textPos: 'vertical'
                });
                $('#line-bras').waitMe({
                    effect: 'roundBounce',
                    text: 'Please wait...',
                    bg: 'rgba(255,255,255,0.7)',
                    color: '#000',
                    textPos: 'vertical'
                });
                $('#tbBras').waitMe({
                    effect: 'roundBounce',
                    text: 'Please wait...',
                    bg: 'rgba(255,255,255,0.7)',
                    color: '#000',
                    textPos: 'vertical'
                });
                $('#host').waitMe({
                    effect: 'roundBounce',
                    text: 'Please wait...',
                    bg: 'rgba(255,255,255,0.7)',
                    color: '#000',
                    textPos: 'vertical'
                });
                $('#tbHost').waitMe({
                    effect: 'roundBounce',
                    text: 'Please wait...',
                    bg: 'rgba(255,255,255,0.7)',
                    color: '#000',
                    textPos: 'vertical'
                });
            }

            // ----------------//
            function drawHostBras(data,idBras){
                $('#hostBras').show();
                // Nodes HOST
                /*var nodeHost1 = new vis.DataSet([
                    {id: 0, label: 'Root',color:'#9B59B6'},
                    {id: 1, label: 'Host1',color:'#1ABB9C'},
                    {id: 2, label: 'Host2',color:'#1ABB9C'},
                    {id: 11,label: 'Module1'},
                    {id: 12,label: 'Module2'},
                    {id: 111,label: 'Splitter1'},
                    {id: 112,label: 'Splitter2'}
                ]);*/
               // console.log(getNodeHost(data,idBras))
                var nodeHost = new vis.DataSet(getNodeHost(data,idBras))
                //console.log(nodeHost)
                // create an array with edges to represent the network
                /*var edgeHost1 = new vis.DataSet([
                    {from: 0, to: 1},
                    {from: 0, to: 2},
                    {from: 1, to: 11},
                    {from: 1, to: 12},
                    {from: 11, to: 111},
                    {from: 11, to: 112}
                ]);*/
                var edgeHost = new vis.DataSet(getEdgeHost(data))
                //console.log(edgeHost)
                // Find contained in document
                var divHost = document.getElementById('host');
                //Define data object and the options of the network
                var arrHost = {
                    nodes: nodeHost,
                    edges: edgeHost
                };
                var optionsHost = {
                    autoResize: true,
                    height: '100%',
                    width: '100%'
                };
                //Define the network object to be rendered.
                var host = new vis.Network(divHost, arrHost, optionsHost);
                //Simply declare an event with callback.
                host.on("click", function (params) {
                    //console.log(params['nodes']['0']);
                    var id = params['nodes']['0'];
                    if(id!= undefined && (id==0 || id.indexOf('/')<0)) {
                        $('#host').waitMe({
                            effect: 'roundBounce',
                            text: 'Please wait...',
                            bg: 'rgba(255,255,255,0.7)',
                            color: '#000',
                            textPos: 'vertical'
                        });
                        $('#tbHost').waitMe({
                            effect: 'roundBounce',
                            text: 'Please wait...',
                            bg: 'rgba(255,255,255,0.7)',
                            color: '#000',
                            textPos: 'vertical'
                        });
                        setTimeout(function () {
                            $('#host').waitMe("hide");
                            $('#tbHost').waitMe("hide");
                            if(id==0){
                                $('#tbHost tbody').find('tr').show();
                                $('#tbHost tbody').find('tr').removeAttr('style', 'color:#ff9600');
                            }else {
                                $('#tbHost tbody').find('tr').hide();
                                $('.' + id).show();
                                $('.' + id).attr('style', 'color:#ff9600');
                            }
                        }, 1000);
                    }
                });
            }
            // Map country
            var nocBras = @Html(Json.stringify(Json.toJson(listNoc.map(x => x._1 -> x._2.toInt))));
            //console.log(nocBras)
            Highcharts.mapChart('mapVn', {
                chart: {
                    map: 'countries/vn/vn-all'
                },

                title: {
                    text: ''
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                plotOptions:{
                    column: {
                        colorByPoint: true
                    }
                },
                colorAxis: {

                    dataClasses: [{
                        from: 0,
                        to: 100000,
                        color: '#9B59B6',
                        name: 'NOC'
                    }/*, {
                        from: 0,
                        to: 100,
                        color: '#E74C3C',
                        name: 'INF'
                    }*/]
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    x: -30,
                    y: 70,
                    floating: true,
                    layout: 'vertical',
                    valueDecimals: 0,
                },
                series: [{
                    data: nocBras
                    /* [ ['KTM', 0],
                        ['PTO', 1],
                        ['KGG', 2],
                        ['QBH', 3],
                        ['SLA', -7]]*/,
                    name: 'Number of bras',
                    states: {
                        hover: {
                            color: '#BADA55'
                        }
                    },
                    dataLabels: {

                        enabled: true,

                        color: '#FFFFFF',

                        format: '{point.code}'

                    },

                    point: {
                        events: {
                            click: function () {
                                $('#hostBras').hide();
                                var name = this.name;
                                var key = JSON.stringify(this.options);
                                var code = key.substring(11,key.indexOf(',')-1);
                                $.ajax({
                                    url: "/bras-json?id=" + code,
                                    cache: false,
                                    beforeSend: function () {
                                        $('#mapVn').waitMe({
                                            effect: 'roundBounce',
                                            text: 'Please wait...',
                                            bg: 'rgba(255,255,255,0.7)',
                                            color: '#000',
                                            textPos: 'vertical'
                                        });
                                        $('#bras').waitMe({
                                            effect: 'roundBounce',
                                            text: 'Please wait...',
                                            bg: 'rgba(255,255,255,0.7)',
                                            color: '#000',
                                            textPos: 'vertical'
                                        });
                                        $('#tbBras').waitMe({
                                            effect: 'roundBounce',
                                            text: 'Please wait...',
                                            bg: 'rgba(255,255,255,0.7)',
                                            color: '#000',
                                            textPos: 'vertical'
                                        });
                                    },
                                    success: function (data) {
                                        if(data != "error") {
                                            $('#lbBras').text("List bras outlier: " + name);
                                            $('#grapBras').show();
                                            drawGraphBras(data, name);
                                            var html = insertTbBras(data.mapBras);
                                            $('#tbBras tbody').html('');
                                            $('#tbBras tbody').append(html);
                                        }
                                    },
                                    complete: function () {
                                        $('#mapVn').waitMe("hide");
                                        $('#bras').waitMe("hide");
                                        $('#tbBras').waitMe("hide");
                                        $('#line-chart').hide();
                                    },
                                });
                            }
                        }
                    },

                    name: 'Number Of Bras',

                    tooltip: {

                        pointFormat:  '{point.name}: {point.value}'

                    }
                }]
            });
          });

            function getTableHost(dta){
                var html = "";
                var nameTest = "";
                $.each(dta,function(i,dt){
                    html+= '<tr class="'+dt[0].host+'">';
                    if(nameTest == dt[0].host){
                        html+= '<td>'+dt[0].module+'</td>';
                    }
                    else{
                        nameTest=dt[0].host;
                        var testhost = dt[0].host
                        var sizeHost=0;
                        $.each(dta,function(i,dt){
                            if(testhost == dt[0].host) sizeHost++;
                        })
                        html+= '<td rowspan="'+sizeHost+'">'+dt[0].host+'</td><td>'+dt[0].module+'</td>';
                    }
                    html+= '<td>'+dt[1].cpe+'</td><td>'+dt[1].lostip+'</td>';
                    html+= '<td></td><td></td><td></td></tr>';
                });
                return html;
            }

            function groupGraphost(data, column) {
                var generatedData = {};
                $.each(data, function(i, dt) {
                    var key = dt[0][column];
                    if (!(key in generatedData)) {
                        generatedData[key] = [];
                    }
                    generatedData[key].push(dt[0]);
                });
                return generatedData;
            }

            function getEdgeBras(dtaPort,dtaCard,dtaLine,dtaBras){
                var jsonArr = [];
                for (var i = 0; i < dtaBras.length; i++) {
                    jsonArr.push({
                        from: 0,
                        to: dtaBras[i][0]+"/"+dtaBras[i][1]
                    });
                }
                for (var i = 0; i < dtaLine.length; i++) {
                    var arrLine = distinctArray(dtaLine[i][1].split("|"));
                    for(var j=0;j<arrLine.length;j++){
                        jsonArr.push({
                            from: dtaLine[i][0][0]+"/"+dtaLine[i][0][1],
                            to: dtaLine[i][0][0]+"/"+dtaLine[i][0][1]+"/"+arrLine[j]
                        });
                    }
                }
                for (var i = 0; i < dtaCard.length; i++) {
                    var arrCard = distinctArray(dtaCard[i][1].split("|"));
                    for(var j=0;j<arrCard.length;j++){
                        jsonArr.push({
                            from: dtaCard[i][0][0]+"/"+dtaCard[i][0][1]+"/"+dtaCard[i][0][2],
                            to: dtaCard[i][0][0]+"/"+dtaCard[i][0][1]+"/"+dtaCard[i][0][2]+"/"+arrCard[j]
                        });
                    }
                }
                for (var i = 0; i < dtaPort.length; i++) {
                    var arrPort = distinctArray(dtaPort[i][1].split("|"));
                    for(var j=0;j<arrPort.length;j++){
                        jsonArr.push({
                            from: dtaPort[i][0][0]+"/"+dtaPort[i][0][1]+"/"+dtaPort[i][0][2]+"/"+dtaPort[i][0][3],
                            to: dtaPort[i][0][0]+"/"+dtaPort[i][0][1]+"/"+dtaPort[i][0][2]+"/"+dtaPort[i][0][3]+"/"+arrPort[j]
                        });
                    }
                }
                return jsonArr
            }

            function getEdgeHost(dtaHost){
                var jsonArr = [];
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    jsonArr.push({
                        from: 0,
                        to: Object.keys(dtaHost)[i]
                    });
                }
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    var arrModule = Object.values(dtaHost)[i];
                    for(var j=0;j<arrModule.length;j++){
                        jsonArr.push({
                            from:Object.keys(dtaHost)[i],
                            to: Object.keys(dtaHost)[i]+"/"+arrModule[j].module
                        });
                    }
                }
                return jsonArr
            }

            function getNodeHost(dtaHost,idBras){
                var jsonArr = [];
                jsonArr.push({
                    id: 0,
                    title:idBras,
                    label: "Bras "+idBras.split('/')[0].split('-')[0],
                    color: "#1ABB9C"
                });
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    jsonArr.push({
                        id: Object.keys(dtaHost)[i],
                        label:"Host "+ Object.keys(dtaHost)[i],
                        color: "#ff9600"
                    });
                }
                for (var i = 0; i < Object.keys(dtaHost).length; i++) {
                    var arrModule = Object.values(dtaHost)[i];
                    for(var j=0;j<arrModule.length;j++){
                        jsonArr.push({
                            id: Object.keys(dtaHost)[i]+"/"+arrModule[j].module,
                            label:"Module "+arrModule[j].module,
                            color: "#d8d8d8"
                        });
                    }
                }
                return jsonArr
            }

            function getNodeBras(dtaPort,dtaCard,dtaLine,dtaBras,name){
                var jsonArr = [];
                jsonArr.push({
                    id: 0,
                    label: name,
                    color: "#9B59B6"
                });
                for (var i = 0; i < dtaBras.length; i++) {
                    jsonArr.push({
                        id: dtaBras[i][0]+"/"+dtaBras[i][1],
                        title: "Bras: "+dtaBras[i][0]+"<br>Time: "+dtaBras[i][1],
                        label:"Bras "+dtaBras[i][0].split("-")[0],
                        color: "#1ABB9C"
                    });
                }
                for (var i = 0; i < dtaLine.length; i++) {
                    var arrLine = distinctArray(dtaLine[i][1].split("|"));
                    for(var j=0;j<arrLine.length;j++){
                        jsonArr.push({
                            id: dtaLine[i][0][0]+"/"+dtaLine[i][0][1]+"/"+arrLine[j],
                            label: "LineCard"+arrLine[j]
                        });
                    }
                }
                for (var i = 0; i < dtaCard.length; i++) {
                    var arrCard = distinctArray(dtaCard[i][1].split("|"));
                    for(var j=0;j<arrCard.length;j++){
                        jsonArr.push({
                            id: dtaCard[i][0][0]+"/"+dtaCard[i][0][1]+"/"+dtaCard[i][0][2]+"/"+arrCard[j],
                            label: "Card"+arrCard[j]
                        });
                    }
                }
                for (var i = 0; i < dtaPort.length; i++) {
                    var arrPort = distinctArray(dtaPort[i][1].split("|"));
                    for(var j=0;j<arrPort.length;j++){
                        jsonArr.push({
                            id: dtaPort[i][0][0]+"/"+dtaPort[i][0][1]+"/"+dtaPort[i][0][2]+"/"+dtaPort[i][0][3]+"/"+arrPort[j],
                            label: "Port"+arrPort[j]
                        });
                    }
                }
                return jsonArr
            }

            function distinctArray(items){
                var uniqueItems = Array.from(new Set(items))
                return uniqueItems
            }
            function insertTbBras(mapBras){
                var html = '';
                for(var i=0;i<Object.keys(mapBras).length;i++) {
                    var idTr = Object.keys(mapBras)[i].replace("/","").replace(" ","").replace(":","").replace(":","").replace(".","");
                    html += '<tr id="'+idTr+'"><td>'+Object.keys(mapBras)[i]+'</td><td>';
                    for(var j=0;j<Object.keys(Object.values(mapBras)[i]).length;j++) {
                        var leg = Object.keys(Object.values(mapBras)[i]).length;
                        var arrErr = Object.values(Object.values(mapBras)[i])[j];
                        html += '<div class="row"><div class="col-lg-6 col-md-6 col-xs-6 bdR">';
                        if(arrErr[0] != null && arrErr[0].length > 12) {
                          html += '<span style="line-height: 0px" data-toggle="tooltip" title="'+arrErr[0]+'">'+JSON.stringify(arrErr[0]).substring(1,9)+'...</span>';
                        } else {
                          html +=  arrErr[0]
                        }

                        html += '</div> <div class="col-lg-6 col-md-6 col-xs-6">'+arrErr[1]+'</div></div>';
                        if(j < (Object.keys(Object.values(mapBras)[i]).length -1))
                           html += '<div class="lineDiv"></div>';
                    }
                    html += '</td><td>';
                    for(var j=0;j<Object.keys(Object.values(mapBras)[i]).length;j++) {
                        var arrErr = Object.values(Object.values(mapBras)[i])[j];
                        html += '<div class="row"><div class="col-lg-8 col-md-8 col-xs-8 bdR">'
                        /*if(arrErr[2] != null && arrErr[2].length > 12) {
                          html += '<span style="line-height: 0px" data-toggle="tooltip" title="'+arrErr[2]+'">'+JSON.stringify(arrErr[2]).substring(1,9)+'...</span>';
                        } else {*/
                          html += arrErr[2]
                        //}
                        html += '</div><div class="col-lg-4 col-md-4 col-xs-4">'+arrErr[3]+'</div></div>';
                        if(j < (Object.keys(Object.values(mapBras)[i]).length -1))
                            html += '<div class="lineDiv"></div>';
                    }
                    html += '</td></tr>';
                }
                return html;
            }

            function reloadData(){
                window.location.reload(true);
            }

    </script>
    </body>
</html>