@(form: Form[BrasOutlier],email: String,response: model.device.BrasResponse,day: String,bras: String)
@import play.api.libs.json.Json
@import services.domain.CommonService.formatPattern
@import play.api.libs.json.Json

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

            <!-- Bootstrap -->
        @views.html.common.css("BrasDetail",2)
    </head>
    @views.html.common.top("BrasDetail",2,if(bras != null) day+"&bras="+bras else "")
        <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle" style="margin-bottom: 10px">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <div style="margin-top: 10px" class="col-md-3 col-sm-3 col-xs-12 form-group  top_search">

                @views.html.device.frmSearchBras(form, routes.DeviceController.search,bras,day)

                </div>
            </nav>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="../assets/images/user.default.png" alt="">@email
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
                <li class="form-group pull-right" style="margin-top: 13px;right: 10px">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="form-group pull-right" style="margin-top: 13px;right: 10px">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span></span> <b class="caret"></b>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>

        </div>
    </div>
        <!-- /top navigation -->
        <!-- page content -->
    <div class="right_col" role="main">
        @if(response != null) {
            <div class="row top_tiles">
                <div class="boxCss animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats" style="background-color: #64b0f2;
                        display: inherit">
                        @if(response.currentsInfo.noOutlier != null){
                            <div class="count ">@formatPattern(response.currentsInfo.noOutlier.sum)</div>
                        } else {
                            <div class="count ">0</div>
                        }
                        <div class="titLb">No Outlier of Bras</div>
                    </div>
                </div>
                <div class="boxCss animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats" style="background-color: #f1b53d;
                        display: inherit">
                        @if(response.currentsInfo.siginLogoff.length >0){
                            <div class="count ">@formatPattern(response.currentsInfo.siginLogoff(0)._1)</div>
                        } else {
                            <div class="count ">0</div>
                        }
                        <div class="titLb">Signin</div>
                    </div>
                </div>
                <div class="boxCss animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                    <div class="tile-stats" style="display: inherit;
                        background-color: #3db9dc">
                        @if(response.currentsInfo.siginLogoff.length >0){
                            <div class="count ">@formatPattern(response.currentsInfo.siginLogoff(0)._2)</div>
                        } else {
                            <div class="count ">0</div>
                        }
                        <div class="titLb">Logoff</div>
                    </div>
                </div>
                <div class="boxCss animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats" style="display: inherit;
                        background-color: #ff5d48">
                        <div class="count">0</div>
                        <div class="titLb">No Outlier of Hosts</div>
                    </div>
                </div>
            </div>

            <div class="row top_tiles">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h2 style="font-weight: 500;
                                font-size: 24px"> Nerror (kibana & opview) By Time</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="int-col-hourly" style="height: 250px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top_tiles">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h2 style="font-weight: 500;
                                font-size: 24px"> Signin & Logoff By Linecard-card-port</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="buble-card" style="height: 250px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h2 style="font-weight: 500;
                                font-size: 24px"> Signin & Logoff By Time</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="line-hourly" style="height: 250px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top_tiles">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_inf" id="inf-tab" role="tab" data-toggle="tab" aria-expanded="true">
                            INF</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_kibana" id="kibana-tab" role="tab" data-toggle="tab" aria-expanded="true">
                            Kibana</a>
                        </li>
                        <li id="tabOp" role="presentation" class=""><a href="#tab_opview" id="opview-tab" role="tab" data-toggle="tab" aria-expanded="true">
                            Opview</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="tab_kibana" aria-labelledby="kibana-tab">

                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="x_panel tile fixed_height_320" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror By Severity
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="pie-severity" style="height: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="x_panel tile fixed_height_320" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror By Error Type
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="bar-error" style="height: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="x_panel tile fixed_height_320" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror By Facility
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="pie-facility" style="height: 250px;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="x_panel tile" style="padding: 0px;">
                                    <div class="card-header">
                                        Ntime By Ddos
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="col-ddos" style="height: 318px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="x_panel tile fixed_height_350" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror by error and severity
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div style="display: inherit;">

                                            <ul class="list-unstyled timeline" style="padding: 12px">
                                                <li>
                                                    <div class="block">
                                                        <div class="tags">
                                                            <span style="font-size: 18px;
                                                                font-weight: 600">Sevirity</span>
                                                        </div>
                                                        <div class="block_content">
                                                            <span style="font-size: 18px;
                                                                font-weight: 600"> Nerror </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                @for(i <- 0 until response.kibanaOverview.arrSevValue.length) {
                                                    <li>
                                                        <div class="block">
                                                            <div class="tags">
                                                                <a href="" class="tag">
                                                                    <span>@response.kibanaOverview.arrSevValue(i)._1</span>
                                                                </a>
                                                            </div>
                                                            <div class="block_content">
                                                                <p class="excerpt">@response.kibanaOverview.arrSevValue(i)._2</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                                <li>
                                                    <div class="block">
                                                        <div class="tags">
                                                            <span style="font-size: 20px;
                                                                font-weight: 600">Total</span>
                                                        </div>
                                                        <div class="block_content">
                                                            <p class="excerpt" style="font-weight: 600"> @formatPattern(response.kibanaOverview.arrSevValue.map(x=>x._2).sum) </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_opview" aria-labelledby="opview-tab">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="x_panel tile" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror by status
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="tree-map" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="x_panel tile" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror by service and status
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" style="height: 305px">
                                        <table class="data table table-bordered tbScroll" id="tbOpview" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>Service name</th>
                                                @for(i <- 0 until response.servNameStt.arrStatus.length) {
                                                    <th>@response.servNameStt.arrStatus(i)</th>
                                                }
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Total</th>
                                                @for(i <- 0 until response.servNameStt.arrStatus.length) {
                                                    <th id="col-@i"></th>
                                                }
                                                    <th id="ttColall"></th>
                                                </tr>
                                            </tfoot>
                                            <tbody >

                                                @*<tr>
                                                    <td>BBC-01</td>
                                                    <td>22</td>
                                                    <td>22</td>
                                                    <td>22</td>
                                                    <td>66</td>
                                                </tr>*@

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_inf" aria-labelledby="inf-tab">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="x_panel tile" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror By Time
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="heat_map" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="x_panel tile" style="padding: 0px;">
                                    <div class="card-header">
                                        Nerror By Host
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="col-host" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="x_panel tile" style="padding: 0px;">
                                    <div class="card-header">
                                        Sigin and Logoff By Host
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id="line-host" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="x_panel tile" style="padding: 0px;
                                    height: 355px">
                                    <div class="card-header">
                                        Nerror by host, module and error
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table class="data table table-bordered tbScroll" id="tbBras" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>Host Id</th>
                                                    <th>Module</th>
                                                    <th>Cpe error</th>
                                                    <th>Lostip error</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            @if(response.infModuleBytime != null) {
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2">Total</th>
                                                        <th>@response.infModuleBytime.map(x => x._3).sum</th>
                                                        <th>@response.infModuleBytime.map(x => x._4).sum</th>
                                                        <th>@response.infModuleBytime.map(x => x._5).sum</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody >
                                                @for(i <- 0 until response.infModuleBytime.length) {
                                                    <tr>
                                                        <td>@response.infModuleBytime(i)._1</td>
                                                        <td>@response.infModuleBytime(i)._2</td>
                                                        <td>@response.infModuleBytime(i)._3</td>
                                                        <td>@response.infModuleBytime(i)._4</td>
                                                        <th>@response.infModuleBytime(i)._5</th>
                                                    </tr>
                                                }
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        } else{
            <div class="row"><h2 class="noData-title">Not enough data. Please enter on text search.</h2></div>
        }
    </div>
        <!-- /page content -->

        <!-- footer content -->
    <footer>
        <div class="pull-right">
            Dashboard Admin 21/09/2017
        </div>
        <div class="clearfix"></div>
    </footer>
        <!-- /footer content -->
    </div>
    </div>

        <!-- jQuery -->
    <script src="../assets/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
    <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Custom Theme Scripts -->
    <script src="../assets/custom/js/custom.min.js"></script>
        <!-- Hight chart -->
    <script src="../assets/javascripts/highcharts.js"></script>
    <script src="../assets/javascripts/highcharts-more.js"></script>
    <script src="../assets/javascripts/exporting.js"></script>
    <script src="../assets/javascripts/heatmap.js"></script>
    <script src="../assets/javascripts/treemap.js"></script>


        <!-- Counter number -->
    <script src="../assets/javascripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/vis.min.js"></script>
        <!-- Autocomplete -->
    <script src="../assets/javascripts/jquery-ui.js"></script>
        <!-- Datatable -->
    <script src="../assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../assets/vendors/datatables.net-fixedColumn/js/dataTables.fixedColumn.min.js"></script>

    <script src="../assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <!--  Datepicker -->
    <script type="text/javascript" src="../assets/vendors/moment/moment.js"></script>
        <!--  Datepicker -->
    <script type="text/javascript" src="../assets/vendors/daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                // autocomplete
                jQuery.get('../assets/bras.csv', function(data) {
                    $(".autocomplete").autocomplete({
                        source: data.split('\n'),
                        select: function (event, ui) {
                            $("#bras").val(ui.item.value);
                            $("#ctSearch").submit();
                        }
                    });
                });
                var start = moment();
                var end = moment();

                if($('#date').val() != "") {
                    var fromDate = $('#date').val().split('/')[0];
                    var toDate = $('#date').val().split('/')[1];
                    start = moment(fromDate);
                    end = moment(toDate);
                }

                function cb(start, end) {
                    $('#reportrange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
                }

                $('#reportrange').daterangepicker({
                    startDate: start,
                    endDate: end,
                    maxDate: moment(),
                    minDate: moment().subtract(90,'days'),
                    ranges: {
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);
                cb(start, end);

                $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                    var range = picker.startDate.format('YYYY-MM-DD')+"/"+picker.endDate.format('YYYY-MM-DD');
                    $('#date').val(range);
                    $("#ctSearch").submit();
                });/*
                $('#datepicker').datepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,
                    endDate: '+0d',
                    todayHighlight: true
                }).on('changeDate', function (e) {
                   // window.location.href = '/searchBras?date=' + e.date.format('Y-m-d')
                    var year = e.date .getFullYear()
                    var month = e.date.getMonth() < 9 ? ('0' + Number(e.date.getMonth()+1)) : (Number(e.date.getMonth()+1));
                    $("#date").val(year+"-"+month+"-"+e.date .getDate());
                    $("#ctSearch").submit();
                });*/
                $('#tbBras').DataTable( {
                    "scrollY":        "200px",
                    "scrollCollapse": true,
                    "paging":         false,
                    "info":     false,
                    "searching":     false,
                    "sort":     false
                });
                // table opview service
                @if(response != null && response.servNameStt != null){
                    var mapService = @Html(Json.stringify(Json.toJson(response.servNameStt.arrService)))
                    var arrName = @Html(Json.stringify(Json.toJson(response.servNameStt.arrName)))
                    var arrStt = @Html(Json.stringify(Json.toJson(response.servNameStt.arrStatus)))
                    $('#tbOpview tbody').append(getBodyService(mapService, arrName, arrStt))
                    // set total all by col opview table
                    var sumColAll = 0;
                    $('.ttRow').each(function () {
                        sumColAll += parseInt($(this).text());
                    });
                    $('#ttColall').text(sumColAll);
                    // set total by col opview table
                    for (var i = 0; i < arrStt.length; i++) {
                        var sumCol = 0;
                        $('.col-' + i).each(function () {
                            sumCol += parseInt($(this).text());
                        });
                        $('#col-' + i).text(sumCol);
                    }
                }
                /* $('#tabOp').click(function(){
                     $('#tbOpview').DataTable( {
                         "scrollY":        "200px",
                         "scrollCollapse": true,
                         "paging":         false,
                         "info":     false,
                         "searching":     false,
                         "sort":     false
                     });
                 });*/
                @if(response != null){
                /* OPVIEW JS */
                // Tree map status
                @if( response.opServiceStt != null){
                    Highcharts.chart('tree-map', {
                        series: [{
                            type: "treemap",
                            layoutAlgorithm: 'strip',
                            color: "#f1b53d",
                            data: getJsonTreemap(@Html(Json.stringify(Json.toJson(response.opServiceStt))))
                            /*[{
                                name: 'A',
                                value: 6
                            }, {
                                name: 'B',
                                value: 6
                            }, {
                                name: 'C',
                                value: 4
                            }, {
                                name: 'D',
                                value: 3
                            }, {
                                name: 'E',
                                value: 2
                            }, {
                                name: 'F',
                                value: 2
                            }, {
                                name: 'G',
                                value: 1
                            }]*/
                        }],
                        title: {
                            text: ''
                        }
                    });
                }
                /* END TREE MAP JS */
                @if(response.linecardhost != null){
                    Highcharts.chart('buble-card', {

                        chart: {
                            type: 'bubble',
                            plotBorderWidth: 1,
                            zoomType: 'xy'
                        },

                        title: {
                            text: ''
                        },

                        xAxis: {
                            gridLineWidth: 1,
                            title: {
                                text: 'Signin'
                            }
                        },

                        yAxis: {
                            startOnTick: false,
                            endOnTick: false,
                            title: {
                                text: 'Logoff'
                            }
                        },

                        tooltip: {
                            useHTML: true,
                            headerFormat: '<table>',
                            pointFormat:
                            '<tr><th>Signin:</th><td>{point.x}</td></tr>' +
                            '<tr><th>Logoff:</th><td>{point.y}</td></tr>',
                            footerFormat: '</table>',
                            followPointer: true
                        },

                        series: getJsonLinecardhost(@Html(Json.stringify(Json.toJson(response.linecardhost))))
                        /*[{
                            data: [{"x":134,"y":222}],
                            name: "Black",
                            marker: {
                                fillColor: {
                                    radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                                    stops: [
                                        [0, '#34495E'],
                                        [1, Highcharts.Color('#34495E').setOpacity(0.5).get('rgba')]
                                    ]
                                }
                            }
                        }, {
                            data: [{"x":134,"y":222}],
                            name: "White",
                            marker: {
                                fillColor: {
                                    radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                                    stops: [
                                        [0, '#1ABB9C'],
                                        [1, Highcharts.Color('#1ABB9C').setOpacity(0.5).get('rgba')]
                                    ]
                                }
                            }
                        }
                        ]*/

                    });
                }
                @if( response.kibanaOpviewBytime != null){
                Highcharts.chart('int-col-hourly', {
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: ["0h", "1h", "2h", "3h", "4h", "5h", "6h", "7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h", "18h", "19h", "20h", "21h", "22h", "23h"],
                        crosshair: true,
                        title: {
                            text: '',
                        }
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: "#1ABB9C"
                            }
                        },
                        title: {
                            text: 'Kibana (errors)',
                            style: {
                                color: "#1ABB9C"
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Opview (errors)',
                            style: {
                                color: "#5A738E"
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: "#5A738E"
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },

                    series: [
                        {
                            type: 'column',
                            name: 'Nerror',
                            yAxis: 0,
                            color: "#1ABB9C",
                            data: @Html(Json.stringify(Json.toJson(response.kibanaOpviewBytime.countK)))
                        }, {
                            name: 'Ntime',
                            type: 'spline',
                            yAxis: 1,
                            color: "#5A738E",
                            data: @Html(Json.stringify(Json.toJson(response.kibanaOpviewBytime.countOp)))

                        }]
                });
                }
                @if(response.sigLogBytime != null){
                // line Sigin and logoff by time
                Highcharts.chart('line-hourly', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    plotOptions: {
                        column: {
                            colorByPoint: true
                        }
                    },
                    colors: [
                        '#1ABB9C', 'rgba(255, 102, 86, 1)'
                    ],
                    xAxis: {
                        categories: ["0h", "1h", "2h", "3h", "4h", "5h", "6h", "7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h", "18h", "19h", "20h", "21h", "22h", "23h"]
                    },
                    yAxis: {
                        title: {
                            text: "Size"
                        }

                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                radius: 4,
                                lineColor: '#666666',
                                lineWidth: 1
                            }
                        }
                    },
                    series: [{
                        type: 'spline',
                        name: 'Signin',
                        data: @Html(Json.stringify(Json.toJson(response.sigLogBytime.sumSig)))
                    },
                        {
                            type: 'spline',
                            name: 'Logoff',
                            data: @Html(Json.stringify(Json.toJson(response.sigLogBytime.sumLog)))
                        }]
                });
                }
                /* KIBANA JS */
                // nerror by severity
                Highcharts.chart('pie-severity', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            /*colors: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],*/
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Percent error',
                        innerSize: '40%',
                        colorByPoint: true,
                        data: @Html(Json.stringify(Json.toJson(response.kibanaOverview.arrSeverity)))
                        /*[["warning", 12], ["alert", 25], ["infor", 53], ["notice", 15], ["error", 44]]*/
                    }]
                });
                // nerror by facility
                Highcharts.chart('pie-facility', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                           /* colors: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],*/
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Percent',
                        innerSize: '40%',
                        colorByPoint: true,
                        data: @Html(Json.stringify(Json.toJson(response.kibanaOverview.arrFacility)))
                        /*[["KERN", 53], ["PFE", 25], ["USER", 53], ["AUTHOR", 15], ["DAEMON", 44]]*/
                    }]
                });
                // bar chart type error
                Highcharts.chart('bar-error', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        categories: ['None', 'DDos', 'Mac move', 'Temperature']
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    legend: {
                        reversed: true
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal',
                            color: 'rgba(255,99,132,1)'
                        }
                    },
                    series: [{
                        name: 'Nerror',
                        data: @Html(Json.stringify(Json.toJson(response.kibanaOverview.arrErrorType.map(x=> x._2))))
                    }]
                });
                // col chart ntime by ddos
                Highcharts.chart('col-ddos', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        categories: @Html(Json.stringify(Json.toJson(response.kibanaOverview.arrDdos.map(x=> x._1))))
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    legend: {
                        reversed: true
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal',
                            color: '#f60'
                        }
                    },
                    series: [{
                        name: 'Ntime',
                        data: @Html(Json.stringify(Json.toJson(response.kibanaOverview.arrDdos.map(x=> x._2))))
                    }]
                });
                /* END KIBANA JS */

                /* INF JS */
                // col nerror by host
                @if(response.infHostBytime != null){
                    Highcharts.chart('col-host', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: @Html(Json.stringify(Json.toJson(response.infHostBytime.map(x=> x._1))))
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        legend: {
                            reversed: true
                        },
                        colors: ['rgb(148, 50, 115)', '#f6c163'],
                        plotOptions: {
                            series: {
                                stacking: 'normal'
                            },
                        },
                        series: [{
                            name: 'Cpe error',
                            data: @Html(Json.stringify(Json.toJson(response.infHostBytime.map(x=>x._2._1))))
                        },
                            {
                                name: 'Lostip error',
                                data: @Html(Json.stringify(Json.toJson(response.infHostBytime.map(x=>x._2._2))))
                            }]
                    });
                }
                // line Sigin and logoff by host
                Highcharts.chart('line-host', {
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: ['HCM-01', 'DNG-01', 'HCM-02', 'BBC-04', 'NTN-02'],
                        crosshair: true,
                        title: {
                            text: '',
                        }
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: "#1ABB9C"
                            }
                        },
                        title: {
                            //text: 'Size (MB)',
                            style: {
                                color: "#1ABB9C"
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            //text: 'Duration (hours)',
                            style: {
                                color: "#9B59B6"
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: "#9B59B6"
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },

                    series: [
                        {
                            type: 'column',
                            name: 'Sigin',
                            yAxis: 0,
                            color: "#1ABB9C",
                            data: [21, 22, 11, 55, 77]
                        }, {
                            name: 'Logoff',
                            type: 'spline',
                            yAxis: 1,
                            color: "#9B59B6",
                            data: [111, 192, 45, 222, 44]

                        }]
                });
                @if(response.infErrorBytime != null){
                    // heat map inf nerror
                    Highcharts.chart('heat_map', {
                        chart: {/*
                            backgroundColor: '#687582',*/
                            type: 'heatmap',
                            marginTop: 40,
                            marginBottom: 80,
                            plotBorderWidth: 1
                        },

                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: ["0h", "1h", "2h", "3h", "4h", "5h", "6h", "7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h", "18h", "19h", "20h", "21h", "22h", "23h"]
                        },

                        yAxis: {
                            categories: ['Nerror'],
                            title: null
                        },

                        colorAxis: {
                            min: 0,
                            minColor: '#FFFFFF',
                            maxColor: 'rgba(54, 162, 235, 1)'
                        },

                        legend: {
                            align: 'right',
                            layout: 'vertical',
                            margin: 0,
                            verticalAlign: 'top',
                            y: 25,
                            symbolHeight: 280
                        },

                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br> has <b>' +
                                        this.point.value + '</b> <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
                            }
                        },

                        series: [{
                            name: 'Logoff per card',
                            borderWidth: 1,
                            data: getDataHeatmap(@Html(Json.stringify(Json.toJson(response.infErrorBytime)))),
                            /*[[0, 0, 10], [1, 0, 92], [2, 0, 35], [3, 0, 72], [4, 0, 38], [5, 0, 88],  [6, 0, 13], [7, 0, 31], [8, 0, 85],  [9, 0, 47]],*/
                            dataLabels: {
                                enabled: true,
                                color: '#000000'
                            }
                        }]

                    });
                }
                }
             });

            function getBodyService(dtaService,dtaName,dtaStatus){
                var html = '';
                for (var i = 0; i < dtaName.length; i++) {
                    var jsonArr = [];
                    var ttRow = 0;
                    var arrKey = [];
                    var tr = '<tr><td>'+dtaName[i]+'</td>';
                    for( var j=0; j< dtaService.length;j++){
                        if(dtaService[j][0] == dtaName[i]){
                            for(var k=0; k< dtaStatus.length;k++){
                                if(dtaService[j][1] == dtaStatus[k]){
                                    ttRow += Number(dtaService[j][2]);
                                   jsonArr.push([k,Number(dtaService[j][2])]);
                                   arrKey.push(k);
                                }
                            }
                        }
                    }
                    for(var ct=0; ct<dtaStatus.length;ct++){
                        if(arrKey.indexOf(ct)>=0){
                            for(var l=0;l<jsonArr.length;l++){
                                if(jsonArr[l][0]== ct)
                                    tr += '<td class="col-'+ct+'">'+jsonArr[l][1]+'</td>';
                            }
                        }
                        else{
                            tr += '<td>0</td>';
                        }
                    }
                    html += tr+'<th class="ttRow">'+ttRow+'</th></tr>';
                }
                return html;
            }

            function getJsonTreemap(appHour){
                var jsonArr = [];
                for (var i = 0; i < appHour.length; i++) {
                    jsonArr.push({
                        name: appHour[i][0],
                        value: Number(appHour[i][1])
                    });
                }
                return jsonArr
            }

            function getDataHeatmap(data){
                var jsonArr = [];
                for (var i =0 ; i < data.length; i++) {
                    jsonArr.push([Number(data[i][0]),0,Number(data[i][1])]);
                }
                return jsonArr
            }

            function getJsonLinecardhost(dta){
                var colors = [
                    '#dc5a78',
                    '#3498DB',
                    '#9B59B6',
                    '#f1b53d',
                    '#E74C3C',
                    '#73879C',
                    '#1ABB9C',
                    '#832d1d',
                    '#0000cc',
                    '#09006d',
                    '#cccccc',
                    '#669999',
                    '#f2ccff',
                    '#e6e600',
                    '#132639',
                    '#99cc00',
                    '#466d6d',
                    '#ffc6b3',
                    '#666633',
                    '#ffff00'];
                var jsonArr = [];
                for(var i=0;i<dta.length;i++){
                    jsonArr.push({
                       data: [{"x":dta[i][1],"y":dta[i][2]}],
                       name: dta[i][0],
                       marker: {
                            fillColor: {
                                radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                                stops: [
                                    [0, colors[i]],
                                    [1, Highcharts.Color(colors[i]).setOpacity(0.9).get('rgba')]
                                ]
                            }
                       }
                    });
                }
                return jsonArr;
            }

    </script>
    </body>
</html>