@(response: model.user.DashboardResponse,email: String)

@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

            <!-- Bootstrap -->
       @views.html.common.css("Paytv",1)
    </head>
    @views.html.common.top("Paytv",1,"")
        <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle" style="margin-bottom: 10px">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="../assets/images/user.default.png" alt="">@email
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
        <!-- /top navigation -->
                    <!-- page content -->
                <div class="right_col" role="main">
                    <div class="row"><h2 class="noData-title">Sorry, This page is under construction, please come back later...</h2></div>
                    @*<div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-9">
                            <div class="dashboard_graph">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="x_title">
                                        <h2><i class="fa fa-user"></i> PAYTV APP CUSTOMER</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="pie-customer" style=" height: 300px"></div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-3 bg-white">
                                    <div class="col-md-12">
                                        <div class="panel hvr-wobble-bottom" style="display: inherit;padding:20px 20px;border: 1px solid #9CC2CB ">
                                            <div class="panel-heading bg-facebook text-center"  style="background-color: #1ABB9C;padding: 7px!important;">
                                                <a href="#">
                                                    <i class="fa fa-user fa-3x"></i>
                                                </a>
                                            </div>
                                            <div class="padder-v text-center clearfix">
                                                <div class="col-xs-12">
                                                    <div class="h3 font-bold ">@formatNumber(response.uniqueCustomer)</div>
                                                    <span class="text-muted">Unique count of customer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel hvr-wobble-bottom" style="display: inherit;padding:20px 20px;border: 1px solid #9CC2CB">
                                            <div class="panel-heading bg-facebook text-center" style="background-color: #1ABB9C;padding: 7px!important;">
                                                <a href="#">
                                                    <i class="fa fa-book fa-3x"></i>
                                                </a>
                                            </div>
                                            <div class="padder-v text-center clearfix">
                                                <div class="col-xs-12">
                                                    <div class="h3 font-bold ">@formatNumber(response.uniqueContract)</div>
                                                    <span class="text-muted">Unique count of contract</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <div class="row" style="display: none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><i class="fa fa-television"></i> PAYTV CATE IPTV COUNT DURATION</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="col-iptv" style=" height: 300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><i class="fa fa-bar-chart"></i> PAYTV DURATION</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">


                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_day" id="day-tab" role="tab" data-toggle="tab" aria-expanded="true">Day of week</a>
                                            </li>
                                            <li role="presentation" class=""><a href="#tab_hourly" role="tab" id="hourly-tab" data-toggle="tab" aria-expanded="false">Hourly</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in animated slideInUp" id="tab_day" aria-labelledby="day-tab">
                                                <div id="col-day" style="min-width: 300px; height: 400px; margin-top: 50px"></div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade animated slideInUp" id="tab_hourly" aria-labelledby="hourly-tab">
                                                <div id="col-hourly" style="min-width: 300px; height: 400px; margin-top: 50px"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>*@

                </div>
                    <!-- /page content -->

                    <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Dashboard Admin 21/09/2017
                    </div>
                    <div class="clearfix"></div>
                </footer>
                    <!-- /footer content -->
            </div>
        </div>

            <!-- jQuery -->
        <script src="../assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
        <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- Custom Theme Scripts -->
        <script src="../assets/custom/js/custom.min.js"></script>
            <!-- Hight chart -->
        <script src="../assets/javascripts/highcharts.js"></script>
        <script src="../assets/javascripts/exporting.js"></script>
            <!-- Counter number -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="../assets/javascripts/jquery.counterup.min.js"></script>
        @scripts(response)
    </body>
</html>