@(responses: Map[String, model.ProfileResponse], dailyCate: Array[String], dailyQueries: Array[(String, Array[Long])], dailyClients: Array[(String, Array[Long])])
@import services.domain.CommonService.formatNumber
@import play.api.libs.json.Json
@import services.domain.CommonService.getImageTag
@import services.domain.CommonService.getImageTag2
@import services.domain.CommonService.getLinkTag

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

       @views.html.common.css("Compare",0)

    </head>
                @views.html.common.top("Compare",0,responses.map(x=>x._1).mkString(","))
                    <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle" style="margin-bottom: 10px">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            
                        </nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="../assets/images/user.default.png" alt="">
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
                    <!-- /top navigation -->

@if(responses != null && responses.size > 0) {
            <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel disInline">
                                <div class="compare-btn">
                                    <label class="btn btn-success" style="margin-left: 10px;"  onclick="showModalCp()">
                                        <i class="fa fa-bar-chart">&nbsp;&nbsp;</i><span style="color: white">Compare</span>
                                    </label>
                                </div>
                            <div id="lbDomain" style="padding:5px 0px 0px 20px">
                            @for(d <- responses) {
                                <span class="lbDomain"><input type="hidden" value="@d._1">@Html.apply(getImageTag2(d._1)) @Html.apply(getLinkTag(d._1))<i class="fa fa-times iconRemove" aria-hidden="true" onclick="refreshDomain(this)"></i></span>
                            }
                                <!--
                                <span class="lbDomain"><i class="fa fa-twitter"></i> 24h.com.vn <i class="fa fa-times iconRemove" aria-hidden="true" onclick="refreshDomain()"></i></span>
                                -->
                            </div>
                        </div>
                    </div>

                </div>
                <br/>
                <div class="row top_tiles">

                </div>

                <div class="row top_tiles">
                    <div class=" col-xs-12">
                        <div class="tile-stats" id="tbContent" style="padding: 10px 0px 20px 0px">
                            <div class="count" style="font-size: 30px"> Overview <i class="fa fa-info-circle" style="font-size: 17px" title="The average engagement metrics are calculated for the selected time range."></i></div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left thCss" style="width: 19%">
                                    <span>Domain</span>
                                </div>
                                <div class="thCss" style="width: 16%;">Alaxa</div>
                                <!--
                                <div style="width: 14%;font-weight: 600;border-bottom: 1px solid #CCCCCC"></div>
                                <div style="width: 14%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Visit/Unique Visitors</div>
                                <div style="width: 14%;font-weight: 600;border-bottom: 1px solid #CCCCCC">Avg. Visit Duration</div>
                                -->
                                <div style="width: 16%;" class="thCss">FPT Telecom</div>
                                <div style="width: 16%;" class="thCss">Query</div>
                                <div style="width: 16%;" class="thCss">Client</div>
                                <div style="width: 17%;" class="thCss">Num of sub domain</div>
                                <div class="clearfix"></div>
                            </div>
                            @for(d <- responses) {
                             <div class="widget_summary" style="font-size: 15px;padding: 0px 30px 0px 30px;line-height: 2.5">
                                <div class="w_left" style="width: 19%">
                                    <span style="cursor: pointer;">@Html.apply(getImageTag2(d._1)) @Html.apply(getLinkTag(d._1))</span>
                                </div>
                                <div style="width: 16%">
                                    <span>@formatNumber(d._2.current.rankAlexa)</span>
                                </div>
                                <div style="width: 16%">
                                    <span>@formatNumber(d._2.current.rankFtel)</span>
                                </div>
                                <div style="width: 16%">
                                    <span>@formatNumber(d._2.current.queries)</span>
                                </div>
                                <div style="width: 16%">
                                    <span>@formatNumber(d._2.current.clients)</span>
                                </div>
                                <!--
                                <div style="width: 14%">
                                    <span>12.45</span>
                                </div>
                                <div style="width: 14%">
                                    <span>10:05:09</span>
                                </div>
                                <div style="width: 14%">
                                    <span>22</span>
                                </div>
                                -->
                                <div style="width: 17%">
                                    <span>@formatNumber(d._2.current.domains)</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12">
                        <div class="x_panel tile overflow_hidden">
                            <div style="margin-bottom: 20px">
                                <div class="tabbable-panel">
                                    <div class="tabbable-line">
                                        <ul class="nav nav-tabs ">
                                            <li class="active">
                                                <a href="#tab_default_1" data-toggle="tab">Query</a>
                                            </li>
                                            <li>
                                                <a href="#tab_default_2" data-toggle="tab">Client</a>
                                            </li>
                                            <!--
                                            <li>
                                                <a href="#tab_default_3" data-toggle="tab">Domain</a>
                                            </li>
                                            -->
                                            <li>
                                                <a href="#tab_default_4" data-toggle="tab">Hourly</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="x_content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_1">
                                        <div id="line-query" style="height:250px;" class="fade animated rotateInDownLeft"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_2">
                                        <div class="fade animated rotateInDownLeft" id="line-client" style="height:250px;"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_3">
                                        <div class="fade animated rotateInDownLeft" id="line-domain" style="height:250px;"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_4">
                                        <div class="fade animated rotateInDownLeft" id="line-hourly" style="height:250px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="col-xs-12">
                        <div class="x_panel tile">
                            <!--
                            <div class="x_title">
                                <h2>Marketing Mix</h2>
                                <div class="clearfix"></div>
                            </div>
                            -->
                            <div class="x_content">
                                <div class="count" style="font-size: 30px"> Ranking Overview <i class="fa fa-info-circle" style="font-size: 17px" title="Percentage of incoming traffic from each marketing channel"></i></div>
                                <p style="padding:0px 30px 20px 0px">
                                    <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                                </p>
                                <div id="col-ranking" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>*@
                    <!--
                    <div class="col-xs-12">
                        <div class="x_panel tile">
                            <div class="x_title">
                                <h2>Social</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="count" style="font-size: 30px"> Social Traffic <i class="fa fa-info-circle" style="font-size: 17px" title="Leading social networks that drove traffic to the selected site on desktop"></i></div>
                                <p style="padding:0px 30px 20px 0px">
                                    <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                                </p>
                                <div id="col-social" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="x_panel">
                      <div id="divAll" class="x_content">
                          <input type="hidden" value="@responses.size" id="numDomain"/>
                      @for(d <- responses) {
                        <div class="divCont col-lg-@{12 / responses.size} col-md-@{12 / responses.size} col-sm-12 col-xs-12">
                        <h2 class="titDomain" style="font-weight: 600;color: green">@d._1</h2>
                          @views.html.compare.table(Array("Domain", "Percent Traffic"), d._2.subdomain.slice(0,10), d._2.subdomain.map(x=>x._2).sum,"")
                        </div>
                      }
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row top_tiles">
                    <!--
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Display Advertising</h3>
                        </div>
                    </div>
                    -->

                    <!--
                    <div class="col-xs-12">
                        <div class="tile-stats">
                            <div class="tile-stats">
                                <div class="count" style="font-size: 30px"><i class="fa fa-share-alt"></i> Province Overview <i class="fa fa-info-circle" style="font-size: 17px" title="Percent of incoming traffic from desktop vs. mobile web"></i></div>
                                <p style="padding:0px 30px 20px 20px">
                                    <a>Sep 2017 - Nov 2017</a>
                                </p>
                                <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                    <div class="w_left" style="width: 30%;border-bottom: 1px solid #CCCCCC">
                                        <span style="font-weight: 600;">Province</span>
                                    </div>
                                    <div style="width: 15%;font-weight: 600;border-bottom: 1px solid #CCCCCC">vnexpress.net</div>
                                    <div style="width: 40%;font-weight: 600;border-bottom: 1px solid #CCCCCC"></div>
                                    <div class="w_right" style="width: 15%;font-weight: 600;border-bottom: 1px solid #CCCCCC">24h.com.vn</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Hồ Chí Minh</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>20%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>80%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Hà Nội</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>60%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>40%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Thanh Hóa</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>60%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>40%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                    <div class="w_left" style="width: 30%">
                                        <span>Nghệ An</span>
                                    </div>
                                    <div style="width: 15%">
                                        <span>60%</span>
                                    </div>
                                    <div class="w_center" style="width: 40%">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right" style="width: 15%">
                                        <span>40%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!--
                            <div class="count" style="font-size: 30px"> Province Overview <i class="fa fa-info-circle" style="font-size: 17px" title="Leading publishers that referred advertising traffic to the selected site on desktop"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div style="padding: 0px 40px 20px 30px">
                                <span class="iconDomain"><i class="fa fa-twitter"></i> vnexpress.net </span>
                                <span class="iconDomain"><i class="fa fa-twitter"></i> 24h.com.vn </span>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 20%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                <div style="width: 40%; font-weight: 600;border-bottom: 1px solid #CCCCCC">vnexpress.net</div>
                                <div class="w_right" style="font-weight: 600;width: 40%;border-bottom: 1px solid #CCCCCC">24h.com.vn</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>yahoo.com</span>
                                </div>
                                <span style="width: 5%">13%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>youtube.com</span>
                                </div>
                                <span style="width: 5%">66%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            --
                        </div>
                    </div>
                    -->
                    <!--
                    <div class="col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Display Ad Network <i class="fa fa-info-circle" style="font-size: 17px" title="Breakdown of the leading advertising networks that delivered ads on desktop"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div style="padding: 0px 40px 20px 30px">
                                <span class="iconDomain"><i class="fa fa-twitter"></i> vnexpress.net </span>
                                <span class="iconDomain"><i class="fa fa-twitter"></i> 24h.com.vn </span>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 20%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Ad Network</span>
                                </div>
                                <div style="width: 40%; font-weight: 600;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share</div>
                                <div class="w_right" style="font-weight: 600;width: 40%;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share Split</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>Google Display Network</span>
                                </div>
                                <span style="width: 5%">13%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>Yahoo Display Ads</span>
                                </div>
                                <span style="width: 5%">96%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <!--
                <div class="row top_tiles">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Traffic Destination</h3>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="tile-stats">
                            <div class="count" style="font-size: 30px">Top Ads Destination <i class="fa fa-info-circle" style="font-size: 17px" title="Leading advertisers who get traffic from the selected website on desktop"></i></div>
                            <p style="padding:0px 30px 20px 20px">
                                <a>Sep 2017 - Nov 2017</a><span style="color: green;margin-left: 10px">Worldwide</span>
                            </p>
                            <div style="padding: 0px 40px 20px 30px">
                                <span class="iconDomain"><i class="fa fa-twitter"></i> vnexpress.net </span>
                                <span class="iconDomain"><i class="fa fa-twitter"></i> 24h.com.vn </span>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 10px 30px">
                                <div class="w_left" style="width: 20%;border-bottom: 1px solid #CCCCCC">
                                    <span style="font-weight: 600;">Domain</span>
                                </div>
                                <div style="width: 40%; font-weight: 600;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share</div>
                                <div class="w_right" style="font-weight: 600;width: 40%;border-bottom: 1px solid #CCCCCC">Total Group Traffic Share Split</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>sendo.vn</span>
                                </div>
                                <span style="width: 5%">24%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width: 24%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary" style="padding: 0px 30px 0px 30px">
                                <div class="w_left" style="width: 20%">
                                    <span>lazada.vn</span>
                                </div>
                                <span style="width: 5%">43%</span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <span style="width: 5%"></span>
                                <div style="width:35%;">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
} else {
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel disInline">
                            <div class="compare-btn">
                                <label class="btn btn-success" style="margin-left: 10px;" data-toggle="modal" data-target="#fr-compare">
                                    <i class="fa fa-bar-chart">&nbsp;&nbsp;</i><span style="color: white">Compare</span>
                                </label>
                            </div>
                        <div style="padding:5px 0px 0px 20px">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
        <!-- Modal -->
    <div class="modal fade" id="fr-compare" tabindex="-1" role="dialog" data-keyboard="false"  data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 435px">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <form id="frmDomain" class="form-vertical login-form" action="/dev/dns/compare" method="get">
                        <input type="hidden" id="ipDomain">
                    </form>
                    <h3 style="margin-bottom: 25px">Add / Remove Competitors</h3>
                    <div id="div-domain" style="overflow: auto;max-height:400px;padding:0px 30px 0px 30px">
                        <div class="divInputCp">
                            <div id="divIp_0" class="divIp hideCss">
                                <input type="text" id="dm0" class="form-control autocomplete noBorder ipCss" onblur="blurValueDomain(this)">
                                <i class="fa fa-remove iCss" id="ic_0" onclick="removeDomain(this)"></i>
                            </div>
                            <div id="lbCp_0" class="lbCp lbPd"><a class="tagA" onclick="showInputCp(this)"><i class="fa fa-plus" aria-hidden="true"></i> Add domain to compare</a></div>
                        </div>
                        <div class="divInputCp">
                            <div id="divIp_1" class="divIp hideCss">
                                <input type="text" id="dm1" class="form-control autocomplete noBorder ipCss" onblur="blurValueDomain(this)">
                                <i class="fa fa-remove iCss" id="ic_1" onclick="removeDomain(this)"></i>
                            </div>
                            <div id="lbCp_1" class="lbCp lbPd"><a class="tagA" onclick="showInputCp(this)"><i class="fa fa-plus" aria-hidden="true"></i> Add domain to compare</a></div>
                        </div>
                        <div class="divInputCp">
                            <div id="divIp_2" class="divIp hideCss">
                                <input type="text" id="dm2" class="form-control autocomplete noBorder ipCss" onblur="blurValueDomain(this)">
                                <i class="fa fa-remove iCss" id="ic_2" onclick="removeDomain(this)"></i>
                            </div>
                            <div id="lbCp_2" class="lbCp lbPd"><a class="tagA" onclick="showInputCp(this)"><i class="fa fa-plus" aria-hidden="true"></i> Add domain to compare</a></div>
                        </div>
                        <div class="divInputCp">
                            <div id="divIp_3" class="divIp hideCss">
                                <input type="text" id="dm3" class="form-control autocomplete noBorder ipCss" onblur="blurValueDomain(this)">
                                <i class="fa fa-remove iCss" id="ic_3" onclick="removeDomain(this)"></i>
                            </div>
                            <div id="lbCp_3" class="lbCp lbPd"><a class="tagA" onclick="showInputCp(this)"><i class="fa fa-plus" aria-hidden="true"></i> Add domain to compare</a></div>
                        </div>
                        <div class="divInputCp">
                            <div id="divIp_4" class="divIp hideCss">
                                <input type="text" id="dm4" class="form-control autocomplete noBorder ipCss" onblur="blurValueDomain(this)">
                                <i class="fa fa-remove iCss" id="ic_4" onclick="removeDomain(this)"></i>
                            </div>
                            <div id="lbCp_4" class="lbCp lbPd"><a class="tagA" onclick="showInputCp(this)"><i class="fa fa-plus" aria-hidden="true"></i> Add domain to compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background: #fafafa">
                    <button type="button" class="btn btn-secondary" onclick="cancelInputCp()">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitCompare()">Update</button>
                </div>
            </div>
        </div>
    </div>
            <!-- /page content -->
            <!-- footer content -->
        <footer>
            <div class="pull-right">
                Dashboard Admin 21/09/2017
          </div>
            <div class="clearfix"></div>
        </footer>
            <!-- /footer content -->
        </div>
    </div>


    @views.html.common.bottom("Compare",0)

@if(responses != null && responses.size > 0) {
    <script type="text/javascript">
        // Hide .calendar.left and .calendar.right
        $(document).ready(function () {
            if($('#numDomain').val() >2){
                for(var i=0;i<$('#numDomain').val();i++){
                    $('#divAll').find('.divCont:eq('+i+')').alterClass( 'col-lg-*', 'col-lg-6' );
                    $('#divAll').find('.divCont:eq('+i+')').alterClass( 'col-md-*', 'col-md-6' );
                }
            }
            /* set auto color by domain */
            var countD = 0;
            var arrColor = ['rgb(252, 159, 82)','rgb(88, 196, 185)','#9B59B6','rgb(70, 106, 144)','rgb(233, 95, 95)'];
            $('#divAll').find('.titDomain').each(function(){
               $(this).attr('style','color:'+arrColor[countD]);
               countD++;
            });
            countD =0;
            $('#tbContent').find('.titDomain').each(function(){
                $(this).attr('style','color:'+arrColor[countD]);
                countD++;
            });
            var dm = "";
            $('#lbDomain').find('.titDomain').each(function(){
                dm += $(this).text()+",";
            });
            $('#ipDomain').val(dm);
            /* END color by domain */

            // autocomplete
            var listDomains = [
              "vtvgo.vn","cliptv.vn","vtv.vn","fim-live.com","kplus.vn","hplus.com.vn","htv.com.vn","pub.vn","mobitv.vn", "mobitv.com", "mobitv.net.vn"
            ];

            $(".autocomplete").autocomplete({
                source: listDomains,
                select: function (event, ui) {
                    event.preventDefault();
                    var numDomain = 0;
                    $('#div-domain').find('.divInputCp input').each(function(){
                        if(ui.item.value ==this.value)
                            numDomain ++;
                    });
                    if(numDomain >0){
                        $(this).val("");
                        $(this).parent().addClass('hideCss');
                    }
                    else{
                        $(this).val(ui.item.value);
                        $(this).attr('disabled','true');
                        $(this).parent().addClass('hideCss');
                    }
                }
            });

           /* var ranking = Html(Json.stringify(Json.toJson(responses.map(x => x._1 -> Array(x._2.current.rankAlexa, x._2.current.rankFtel)).toArray)));
            Highcharts.chart('col-ranking', {

                chart: {
                    type: 'column'
                },

                title: {
                    text: ''
                },

                xAxis: {
                    categories: ['Alexa', 'FPT Telecom']
                },

                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: 'Number of traffic'
                    }
                },
                /!*
                colors: [
                    '#1ABB9C','#9B59B6'
                ],*!/
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                                this.series.name + ': ' + this.y + '<br/>'
                    }
                },

                series: getColumnJsonSeries(ranking)
            });
*/
            /*Highcharts.chart('col-social', {

                chart: {
                    type: 'column'
                },

                title: {
                    text: ''
                },

                xAxis: {
                    categories: ['Facebook', 'Youtube','Twitter','Other']
                },
              /!*  colors: [
                    '#1ABB9C','#9B59B6'
                ],*!/
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: 'Number of traffic'
                    }
                },

                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                                this.series.name + ': ' + this.y + '<br/>'
                    }
                },

                series: [{
                    name: '24h.com.vn',
                    data: [53, 22,30,10]
                }, {
                    name: 'google.com',
                    data: [44, 22,20,60]
                }]
            });*/
        });

        var categories = @Html(Json.stringify(Json.toJson(dailyCate)));
        var queries = @Html(Json.stringify(Json.toJson(dailyQueries)));
        var clients = @Html(Json.stringify(Json.toJson(dailyClients)));
        //var domains = @@Html(Json.stringify(Json.toJson(responses.map(x => x._1 -> x._2.history.map(y => y.domains)).toArray)));

        //alert(queries.length);
        //var queries = @@Html(Json.stringify(Json.toJson(response.history.map(x => x.queries).reverse)));
        //var qpc = @@Html(Json.stringify(Json.toJson(response.history.map(x => x.getQueryPerClient()).reverse)));
        //var clients = @@Html(Json.stringify(Json.toJson(response.history.map(x => x.clients).reverse)));

        Highcharts.chart('line-query', {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            colors: [
                'rgb(252, 159, 82)','rgb(88, 196, 185)','#9B59B6','rgb(70, 106, 144)','rgb(233, 95, 95)'
            ],
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: "Visits"
                }

            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },

            series: getJsonSeries(queries)
        });
        Highcharts.chart('line-client', {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            colors: [
                'rgb(252, 159, 82)','rgb(88, 196, 185)','#9B59B6','rgb(70, 106, 144)','rgb(233, 95, 95)'
            ],
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: "Duration"
                }

            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: getJsonSeries(clients)
        });

        /*
        Highcharts.chart('line-domain', {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            colors: [
                '#1ABB9C','#9B59B6'
            ],
            xAxis: {
                categories: ['06/2017','07/2017','08/2017','09/2017','10/2017','11/2017','12/2017']
            },
            yAxis: {
                title: {
                    text: "Visits pages"
                }

            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: getJsonSeries(domains)
        });
        */

        var hourly = @Html(Json.stringify(Json.toJson(responses.head._2.hourly.map(x => x._1))));
        var queriesHourly = @Html(Json.stringify(Json.toJson(responses.map(x => x._1 -> x._2.hourly.map(y => y._2)).toArray)));
        //var clients = @@Html(Json.stringify(Json.toJson(responses.map(x => x._1 -> x._2.history.map(y => y.clients)).toArray)));
        Highcharts.chart('line-hourly', {
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            colors: [
                'rgb(252, 159, 82)','rgb(88, 196, 185)','#9B59B6','rgb(70, 106, 144)','rgb(233, 95, 95)'
            ],
            xAxis: {
                categories: hourly
            },
            yAxis: {
                title: {
                    text: "Bounce rate"
                }

            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: getJsonSeries(queriesHourly)
        });
        function getJsonSeries(arr) {

            var jsonArr = [];
            for (var i = 0; i < arr.length; i++) {

                jsonArr.push({
                    type: "spline",
                    name: arr[i][0],
                    data: arr[i][1]
                });
            }
            return jsonArr
        }

        function getColumnJsonSeries(arr) {

            var jsonArr = [];
            for (var i = 0; i < arr.length; i++) {

                jsonArr.push({
                    type: "column",
                    name: arr[i][0],
                    data: arr[i][1]
                });
            }
            return jsonArr
        }
    </script>
} else {
    <script type="text/javascript">

        $(document).ready(function () {
            // autocomplete
            var listDomains = [
              "vtvgo.vn","cliptv.vn","vtv.vn","fim-live.com","kplus.vn","hplus.com.vn","htv.com.vn","pub.vn","mobitv.vn", "mobitv.com", "mobitv.net.vn"
            ];

            $(".autocomplete").autocomplete({
                source: listDomains,
                select: function (event, ui) {
                    event.preventDefault();
                    var numDomain = 0;
                    $('#div-domain').find('.divInputCp input').each(function(){
                        if(ui.item.value ==this.value)
                            numDomain ++;
                    });
                    if(numDomain >0){
                        $(this).val("");
                        $(this).parent().addClass('hideCss');
                    }
                    else{
                        $(this).val(ui.item.value);
                        $(this).attr('disabled','true');
                        $(this).parent().addClass('hideCss');
                    }
                }
            });
        });

    </script>
}
    <script type="text/javascript">
            function blurValueDomain(element){
                var numDomain = 0;
                $('#div-domain').find('.divInputCp input').each(function(){
                    if($(element).val() == this.value)
                        numDomain ++;
                });
                if(numDomain >1 || numDomain ==0 && $(element).val() != ""){
                    $(element).val("");
                    $(element).parent().addClass('hideCss');
                    $(element).focus();
                }
                else{
                    $(element).attr('disabled','true');
                    $(element).parent().addClass('hideCss');
                }
            }

            function showInputCp(element){
                $(element).addClass('hideCss');
                $(element).parent().removeClass('lbPd');
                $(element).parent().parent().find('.divIp').removeClass('hideCss');
                $(element).parent().parent().find('.divIp').addClass('disInline');
                $(element).parent().parent().find('.divIp input').focus();
            }
            function cancelInputCp(){
                $('#div-domain').find('.divInputCp input').each(function(){
                    $(this).val("");
                    $(this).removeAttr('disabled');
                    $(this).parent().removeClass('disInline');
                    $(this).parent().addClass('hideCss');
                    $(this).parent().parent().find('.lbCp').addClass('lbPd');
                    $(this).parent().parent().find('.lbCp a').removeClass('hideCss');
                    $('#fr-compare').modal('hide');
                });
            }

            function removeDomain(element){
                var id = $(element).attr('id');
                $('#dm'+id.substring(id.indexOf('_')+1)).val("");
                $('#dm'+id.substring(id.indexOf('_')+1)).removeAttr('disabled');
                $(element).parent().parent().find('.lbCp').addClass('lbPd');
                $(element).parent().parent().find('.lbCp a').removeClass('hideCss');
                $(element).parent().removeClass('disInline');
                $(element).parent().addClass('hideCss');
            }

            function refreshDomain(element){
                $(element).parent().remove();
                var isDot = "";
                var vlDomain="";
                $('#lbDomain').find('input').each(function(){
                    vlDomain+=","+this.value;
                });

                location.href = "/search/compare?domains=" + vlDomain;
            }

            function showModalCp() {
                var url = window.location.href;
                var vlDomain = "";
                if(url.indexOf('=')>=0){
                    vlDomain = url.substring(url.indexOf('=')+1);
                    var arrDomain = vlDomain.split(',');
                    vlDomain = "";
                    for(var i=0;i<arrDomain.length;i++){
                        if(arrDomain[i] != ""){
                            $('#lbCp_'+i).removeClass('lbPd');
                            $('#lbCp_'+i+' a').addClass('hideCss');
                            $('#divIp_'+i).removeClass('hideCss');
                            $('#divIp_'+i).addClass('disInline');
                            $('#dm'+i).val(arrDomain[i]);
                            $('#dm'+i).attr('disabled','true');
                        }
                    }
                }
                $('#fr-compare').modal('show');
            }

            function submitCompare(){
                var vlDomain = "";
                var isDot = "";
                var checkNull = 0,count=0;
                $('#div-domain').find('input').each(function(){
                    if(vlDomain != "" || count>0) isDot=",";
                    if(this.value != ""){
                        checkNull =1;
                        vlDomain+= isDot + this.value;
                    }
                    count++;
                });
                if(checkNull == 0)
                    location.href = "/search/compare";
                else
                   location.href = "/search/compare?domains=" + vlDomain;
            }

            function alert_input()
            {
                location.href = "/search?ct=" + $('#goValue').val();
            }
    </script>

</body>
</html>