@(headers: Array[String], rows: Array[Array[Any]], id: String)

<div class="row">
	<div class="col-xs-12">
		
		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>
		<!--
		<div class="table-header">
			Results for "Latest Registered Domains"
		</div>
		-->

		<!-- div.table-responsive -->

		<!-- div.dataTables_borderWrap -->
		<div>
			<table id="@id" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
      					@for(header <- headers) {
        					<td class="center hidden-480">@header</td>
      					}
					</tr>
				</thead>

				<tbody>
					@for(row <- rows) {
					<tr>
      					@for(c <- row) {
        					<td class="center hidden-480">@c</td>
      					}
					</tr>
					}
				</tbody>
<!--
					@@for(row <- rows) {
					<tr>
					Html.apply(services.DomainService.getImgTag(x._1))
                Html.apply(services.DomainService.getLinkTag(x._1)),
						<td class="center hidden-480">@@row.rankFtel</td>
						<td class="center hidden-480">@@row.rankFtel</td>
						<td class="center hidden-480">@@row.getNumOfQuery()</td>
						<td class="center hidden-480">@@row.getNumOfClient()</td>
						<td class="center hidden-480">@@row.getQueryPerClient()</td>
						<td class="center hidden-480">@@row.rankFtel</td>
						<td class="center hidden-480">@@row.rankAlexa</td>
						<td class="hidden-480">
							@@{
								if (row.label == "white") {
									<span class="center label label-sm label-success">WHITE</span>
								} else if (row.label == "black") {
									<span class="center label label-sm label-inverse arrowed-in">BLACK</span>
								} else {
									<span class="center label label-sm label-warning">UNKNOW</span>
								}
							}
						</td>
						<td class="center hidden-480">@@row.malware</td>
					</tr>
					}
					
				</tbody>
				-->
			</table>
		</div>
	</div>
</div>