@(title: String, yTitle: String, name: String, rows: Array[(String, Int)])
@import play.api.libs.json.Json

<script type="text/javascript">
$(function () {
    var categories = @Html(Json.stringify(Json.toJson(rows.map(x => x._1))));
    var values = @Html(Json.stringify(Json.toJson(rows.map(x => x._2))));
    //var domains = @@Html(Json.stringify(Json.toJson(rows.map(x => x.domains))));
    //var clients = @@Html(Json.stringify(Json.toJson(rows.map(x => x.clients))));

    var myChart = Highcharts.chart('bar-chart', {
        chart: {
            type: 'bar',
            height: '600px'
        },
        title: {
            text: title
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: yTitle
            }
        },
        series: [{
            name: name,
            data: values
        }]
    });
});
</script>