@(form: Form[SearchData], response: model.DashboardResponse)(implicit messages: Messages)
@import services.DomainService.formatNumber
@import services.DomainService.percent
@import play.api.libs.json.Json

@top(".", "Dashboard", 0)

<div class="page-header">
	<h1>
		Dashboard
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			@response.day
		</small>
	</h1>
</div><!-- /.page-header -->

<!--
<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	    <!--
		<div class="input-group">
			<input type="text" class="form-control" name="keywords" placeholder="Look within results" />
			<div class="input-group-btn">
				<button type="button" class="btn btn-default no-border btn-sm">
					<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
				</button>
			</div>
		</div>
		--
		@@formSearch(form, routes.DnsController.dashboardPage)
	</div>
	<div class="col-xs-4"></div>

	<div class="clearfix"></div>
	<div class="hr hr12 dotted"></div>
		
</div>
-->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert">
				<i class="ace-icon fa fa-times"></i>
			</button>
			<i class="ace-icon fa fa-check green"></i>
			Statistics for
			<strong class="green">
				@response.day
				<!--
				<small>(v1.4)</small>
				-->
			</strong>
		</div>
		<div class="row">
			<div class="col-sm-1 infobox-container"></div>
			<div class="col-sm-2 infobox-container">
				<div class="infobox infobox-orange2">
					<div class="infobox-data">
						<span class="infobox-data-number">
						@{
							if (response.total.queries > 1000000000) {
								<font size="3">{formatNumber(response.total.queries)}</font>
							} else {
								<font size="4">{formatNumber(response.total.queries)}</font>
							}
						}
						</span>
						<div class="infobox-content">
							<font size="4" color="orange">
							Num Of Query
							</font>
						</div>
					</div>
					@{
						val diff = response.total.queries - response.totalPrev.queries
						val percentVal = percent(response.total.queries, response.totalPrev.queries)
						if (diff >= 0) {
							<div class="stat stat-success">{percentVal}%</div>
						} else {
							<div class="stat stat-important">{percentVal}%</div>
							
						}
					}
				</div>
				<div class="space-6"></div>
				<div class="infobox infobox-blue">
					<div class="infobox-data">
						<span class="infobox-data-number">
						@{
							if (response.total.domains > 1000000000) {
								<font size="3">{formatNumber(response.total.domains)}</font>
							} else {
								<font size="4">{formatNumber(response.total.domains)}</font>
							}
						}
						</span>
						<div class="infobox-content">
							<font size="4" color="blue">
							Num Of Domain
							</font>
						</div>
					</div>
					@{
						val diff = response.total.queries - response.totalPrev.queries
						val percentVal = percent(response.total.domains, response.totalPrev.domains)
						if (diff >= 0) {
							<div class="stat stat-success">{percentVal}%</div>
						} else {
							<div class="stat stat-important">{percentVal}%</div>
							
						}
					}
				</div>
				<div class="space-6"></div>
				<div class="infobox infobox-grey">
					<div class="infobox-data">
						@{
							if (response.total.clients > 1000000000) {
								<font size="3">{formatNumber(response.total.clients)}</font>
							} else {
								<font size="4">{formatNumber(response.total.clients)}</font>
							}
						}
						<div class="infobox-content">
							<font size="4" color="grey">
							Num Of Client
							</font>
						</div>
					</div>
					@{
						val diff = response.total.queries - response.totalPrev.queries
						val percentVal = percent(response.total.clients, response.totalPrev.clients)
						if (diff >= 0) {
							<div class="stat stat-success">{percentVal}%</div>
						} else {
							<div class="stat stat-important">{percentVal}%</div>
							
						}
					}
				</div>
			</div>
			<div class="col-sm-1 infobox-container"></div>
			<div class="col-sm-7">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title lighter">
							<i class="ace-icon fa fa-star orange"></i>
							Classify Labels
						</h4>
						<!--
						<div class="widget-toolbar">
							<a href="#" data-action="collapse">
								<i class="ace-icon fa fa-chevron-up"></i>
							</a>
						</div>
						-->
					</div>

					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-bordered table-striped">
								<thead class="thin-border-bottom">
									<tr>
										<th><i class="ace-icon fa fa-caret-right blue"></i>Label</th>
										<th><i class="ace-icon fa fa-caret-right blue"></i>Queries</th>
										<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Domain</th>
										<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Client</th>
										<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Malware</th>
										<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Success</th>
										<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Failed</th>
										<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Second Domain</th>
									</tr>
								</thead>

								<tbody>
								    @for(row <- response.labels) {
									<tr>
										@{
											if (row.label == "black") {
												<td class="hidden-480"><span class="label label-danger arrowed">Black</span></td>
											} else if (row.label == "white") {
												<td><span class="label label-success arrowed-in arrowed-in-right">White</span></td>
											} else {
												<td><span class="label label-default arrowed">Unknow</span></td>
											}
										}
										

										<td><b class="orange">@services.DomainService.formatNumber(row.queries)</b></td>
										<td><b class="blue">@services.DomainService.formatNumber(row.domains)</b></td>
										<td><b class="grey">@services.DomainService.formatNumber(row.clients)</b></td>
										<td><b>@services.DomainService.formatNumber(row.malwares)</b></td>
										<td><b>@services.DomainService.formatNumber(row.success)</b></td>
										<td><b>@services.DomainService.formatNumber(row.failed)</b></td>
										<td><b>@services.DomainService.formatNumber(row.seconds)</b></td>
									</tr>
								    }
									<tr>
										
										<td class="hidden-480">
											<span class="label label-info"><b>== Total ==</b></span>
										</td>
										<td><b class="orange">@services.DomainService.formatNumber(response.total.queries)</b></td>
										<td><b class="blue">@services.DomainService.formatNumber(response.total.domains)</b></td>
										<td><b class="grey">@services.DomainService.formatNumber(response.total.clients)</b></td>
										<td><b>@services.DomainService.formatNumber(response.total.malwares)</b></td>
										<td><b>@services.DomainService.formatNumber(response.total.success)</b></td>
										<td><b>@services.DomainService.formatNumber(response.total.failed)</b></td>
										<td><b>@services.DomainService.formatNumber(response.total.seconds)</b></td>
									</tr>

								</tbody>
							</table>
						</div><!-- /.widget-main -->
					</div><!-- /.widget-body -->
				</div>
			</div><!-- /.widget-box -->
		</div><!-- /.col -->

		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Malwares
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-malwares"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<!--
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-asterisk orange"></i>
							Top 10 Domain Black
						</h4>
					</div>
					@*
					@topRankTable(
	    				Array[String]("Domain", "Malware", "Queries", "Clients"),
	      				response.domainBlacks.map(x => Array[Any](
	        				x.domain,
	        				x.malware,
	        				services.DomainService.formatNumber(x.queries),
	        				services.DomainService.formatNumber(x.clients))
	        			).toArray,
	        			"top-1000-domain-black"
	    			)
	    			*@
				</div>
				-->
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Main Domain Black
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-domain-black"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Main Domain
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-main-domain"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-12">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-line-chart green"></i>
							Daily Report
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="daily-line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.col -->
</div><!-- /.row -->


@scripts = {
<script type="text/javascript">
	$(function () {
	    var categories = @Html(Json.stringify(Json.toJson(response.daily.map(x => x.day))));
	    var queries = @Html(Json.stringify(Json.toJson(response.daily.map(x => x.queries))));
	    var domains = @Html(Json.stringify(Json.toJson(response.daily.map(x => x.domains))));
	    var clients = @Html(Json.stringify(Json.toJson(response.daily.map(x => x.clients))));

	    Highcharts.chart('daily-line-chart', {
	        chart: {
	            type: 'line',
	            zoomType: 'xy'
	        },
	        title: {
	            text: 'Daily Query'
	        },
	        subtitle: {
	            text: 'Source: DNS LOG FTEL'
	        },
	        plotOptions: {
	        line: {
	            dataLabels: {
	                enabled: true
	            },
	                enableMouseTracking: false
	            }
	        },
	        xAxis: [{
	            categories: categories,
	            crosshair: true
	        }],
	        yAxis: [{ // Primary yAxis
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[2]
	                }
	            },
	            title: {
	                text: 'Clients',
	                style: {
	                    color: Highcharts.getOptions().colors[2]
	                }
	            },
	            opposite: true

	        }, { // Secondary yAxis
	            gridLineWidth: 0,
	            title: {
	                text: 'Queries',
	                style: {
	                    color: Highcharts.getOptions().colors[0]
	                }
	            },
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[0]
	                }
	            }

	        }, { // Tertiary yAxis
	            gridLineWidth: 0,
	            title: {
	                text: 'Domains',
	                style: {
	                    color: Highcharts.getOptions().colors[1]
	                }
	            },
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[1]
	                }
	            },
	            opposite: true
	        }],
	        tooltip: {
	            shared: true
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'left',
	            x: 80,
	            verticalAlign: 'top',
	            y: 55,
	            floating: true,
	            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
	        },
	        series: [{
	            name: 'Queries',
	            type: 'spline',
	            yAxis: 1,
	            data: queries,
	            tooltip: {
	                valueSuffix: ''
	            }

	        }, {
	            name: 'Domains',
	            type: 'spline',
	            yAxis: 2,
	            data: domains,
	            marker: {
	                enabled: false
	            },
	            dashStyle: 'shortdot',
	            tooltip: {
	                valueSuffix: ''
	            }

	        }, {
	            name: 'Clients',
	            type: 'spline',
	            data: clients,
	            tooltip: {
	                valueSuffix: ''
	            }
	        }]
	    });

	    categories = @Html(Json.stringify(Json.toJson(response.malwares.take(10).map(x => x.malware))));
	    queries = @Html(Json.stringify(Json.toJson(response.malwares.take(10).map(x => x.queries))));
	    domains = @Html(Json.stringify(Json.toJson(response.malwares.take(10).map(x => x.domains))));
	    var title = "Top 10 Malwares"


	    Highcharts.chart('top-10-malwares', {
	        chart: {
	            type: 'bar',
	            height: '600px'
	        },
	        title: {
	            text: "Top 10 Malwares"
	        },
	        plotOptions: {
	        bar: {
	            	dataLabels: {
	                	enabled: true
	            	}
	        	}
	    	},
	        xAxis: {
	            categories: categories
	        },

	        yAxis: {
	            title: {
	                text: "Queries/Domains"
	            }
	        },
	        series: [
	        {
	            name: "Queries",
	            data: queries
	        }, {
	            name: "Domains",
	            data: domains
	        }]
	    });

	    categories = @Html(Json.stringify(Json.toJson(response.secondBlacks.take(10).map(x => x.second + " [" + x.malware + "]"))));
	    queries = @Html(Json.stringify(Json.toJson(response.secondBlacks.take(10).map(x => x.queries))));
	    clients = @Html(Json.stringify(Json.toJson(response.secondBlacks.take(10).map(x => x.clients))));
	    var title = "Top 10 Malwares"


	    Highcharts.chart('top-10-domain-black', {
	        chart: {
	            type: 'bar',
	            height: '600px'
	        },
	        title: {
	            text: "Top 10 Domain Black"
	        },
	        plotOptions: {
	        bar: {
	            	dataLabels: {
	                	enabled: true
	            	}
	        	}
	    	},
	        xAxis: {
	            categories: categories
	        },

	        yAxis: {
	            title: {
	                text: "Queries/Clients"
	            }
	        },
	        series: [
	        {
	            name: "Queries",
	            data: queries
	        }, {
	            name: "Clients",
	            data: clients
	        }]
	    });

	    categories = @Html(Json.stringify(Json.toJson(response.seconds.take(10).map(x => x.second))));
	    queries = @Html(Json.stringify(Json.toJson(response.seconds.take(10).map(x => x.queries))));
	    clients = @Html(Json.stringify(Json.toJson(response.seconds.take(10).map(x => x.clients))));
	    var title = "Top 10 Main Domain"


	    Highcharts.chart('top-10-main-domain', {
	        chart: {
	            type: 'bar',
	            height: '600px'
	        },
	        title: {
	            text: "Top 10 Main Domain"
	        },
	        plotOptions: {
	        bar: {
	            	dataLabels: {
	                	enabled: true
	            	}
	        	}
	    	},
	        xAxis: {
	            categories: categories
	        },

	        yAxis: {
	            title: {
	                text: "Queries/Clients"
	            }
	        },
	        series: [
	        {
	            name: "Queries",
	            data: queries
	        }, {
	            name: "Clients",
	            data: clients
	        }]
	    });
	});
</script>
}

@bottom(".", "index", scripts)

