@(response: model.DashboardResponse)
@import services.AppGlobal.formatNumber
@import services.AppGlobal.percent
@import play.api.libs.json.Json

@top(".", "Dashboard", 0)

<div class="page-header">
	<h1>
		Dashboard
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			@response.report.day
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert">
				<i class="ace-icon fa fa-times"></i>
			</button>
			<i class="ace-icon fa fa-check green"></i>
			Statistics for
			<strong class="green">
				@response.report.day
				<!--
				<small>(v1.4)</small>
				-->
			</strong>
		</div>
		<div class="row">
			<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				@total(response.report.current, response.report.previous)
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-7">
				@classify(response.report.current, response.report.labels)
			</div>
			
		</div><!-- /.col -->
		</div><!-- /.col -->

		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Malwares
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-malwares"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Main Domain Black
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-domain-black"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Main Domain
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-main-domain"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-12">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-line-chart green"></i>
							Daily Report
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="daily-line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.col -->
</div><!-- /.row -->


@scripts = {
<script type="text/javascript">
	$(function () {
	    var categories = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._1))));
	    var queries = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._2.queries))));
	    var domains = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._2.domains))));
	    var clients = @Html(Json.stringify(Json.toJson(response.daily.map(x => x._2.clients))));

	    Highcharts.chart('daily-line-chart', {
	        chart: {
	            type: 'line',
	            zoomType: 'xy'
	        },
	        title: {
	            text: 'Daily Query'
	        },
	        subtitle: {
	            text: 'Source: DNS LOG FTEL'
	        },
	        plotOptions: {
	        line: {
	            dataLabels: {
	                enabled: true
	            },
	                enableMouseTracking: false
	            }
	        },
	        xAxis: [{
	            categories: categories,
	            crosshair: true
	        }],
	        yAxis: [{ // Primary yAxis
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[2]
	                }
	            },
	            title: {
	                text: 'Clients',
	                style: {
	                    color: Highcharts.getOptions().colors[2]
	                }
	            },
	            opposite: true

	        }, { // Secondary yAxis
	            gridLineWidth: 0,
	            title: {
	                text: 'Queries',
	                style: {
	                    color: Highcharts.getOptions().colors[0]
	                }
	            },
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[0]
	                }
	            }

	        }, { // Tertiary yAxis
	            gridLineWidth: 0,
	            title: {
	                text: 'Domains',
	                style: {
	                    color: Highcharts.getOptions().colors[1]
	                }
	            },
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[1]
	                }
	            },
	            opposite: true
	        }],
	        tooltip: {
	            shared: true
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'left',
	            x: 80,
	            verticalAlign: 'top',
	            y: 55,
	            floating: true,
	            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
	        },
	        series: [{
	            name: 'Queries',
	            type: 'spline',
	            yAxis: 1,
	            data: queries,
	            tooltip: {
	                valueSuffix: ''
	            }

	        }, {
	            name: 'Domains',
	            type: 'spline',
	            yAxis: 2,
	            data: domains,
	            marker: {
	                enabled: false
	            },
	            dashStyle: 'shortdot',
	            tooltip: {
	                valueSuffix: ''
	            }

	        }, {
	            name: 'Clients',
	            type: 'spline',
	            data: clients,
	            tooltip: {
	                valueSuffix: ''
	            }
	        }]
	    });

	    categories = @Html(Json.stringify(Json.toJson(response.report.malwares.take(10).map(x => x.malware))));
	    queries = @Html(Json.stringify(Json.toJson(response.report.malwares.take(10).map(x => x.queries))));
	    domains = @Html(Json.stringify(Json.toJson(response.report.malwares.take(10).map(x => x.domains))));
	    var title = "Top 10 Malwares"


	    Highcharts.chart('top-10-malwares', {
	        chart: {
	            type: 'bar',
	            height: '600px'
	        },
	        title: {
	            text: "Top 10 Malwares"
	        },
	        plotOptions: {
	        bar: {
	            	dataLabels: {
	                	enabled: true
	            	}
	        	}
	    	},
	        xAxis: {
	            categories: categories
	        },

	        yAxis: {
	            title: {
	                text: "Queries/Domains"
	            }
	        },
	        series: [
	        {
	            name: "Queries",
	            data: queries
	        }, {
	            name: "Domains",
	            data: domains
	        }]
	    });

	    categories = @Html(Json.stringify(Json.toJson(response.report.blacks.take(10).map(x => x.name + " [" + x.malware + "]"))));
	    queries = @Html(Json.stringify(Json.toJson(response.report.blacks.take(10).map(x => x.queries))));
	    clients = @Html(Json.stringify(Json.toJson(response.report.blacks.take(10).map(x => x.clients))));
	    var title = "Top 10 Malwares"


	    Highcharts.chart('top-10-domain-black', {
	        chart: {
	            type: 'bar',
	            height: '600px'
	        },
	        title: {
	            text: "Top 10 Domain Black"
	        },
	        plotOptions: {
	        bar: {
	            	dataLabels: {
	                	enabled: true
	            	}
	        	}
	    	},
	        xAxis: {
	            categories: categories
	        },

	        yAxis: {
	            title: {
	                text: "Queries/Clients"
	            }
	        },
	        series: [
	        {
	            name: "Queries",
	            data: queries
	        }, {
	            name: "Clients",
	            data: clients
	        }]
	    });

	    categories = @Html(Json.stringify(Json.toJson(response.report.seconds.take(10).map(x => x.name))));
	    queries = @Html(Json.stringify(Json.toJson(response.report.seconds.take(10).map(x => x.queries))));
	    clients = @Html(Json.stringify(Json.toJson(response.report.seconds.take(10).map(x => x.clients))));
	    var title = "Top 10 Main Domain"


	    Highcharts.chart('top-10-main-domain', {
	        chart: {
	            type: 'bar',
	            height: '600px'
	        },
	        title: {
	            text: "Top 10 Main Domain"
	        },
	        plotOptions: {
	        bar: {
	            	dataLabels: {
	                	enabled: true
	            	}
	        	}
	    	},
	        xAxis: {
	            categories: categories
	        },

	        yAxis: {
	            title: {
	                text: "Queries/Clients"
	            }
	        },
	        series: [
	        {
	            name: "Queries",
	            data: queries
	        }, {
	            name: "Clients",
	            data: clients
	        }]
	    });
	});
</script>
}

@bottom(".", "index", scripts)

