@(form: Form[SearchData], route: Call)(implicit messages: Messages)

@helper.form(action = route, 'class -> "input-group") {
	<!--
		@@helper.inputText(form("domain"), 'class -> "form-control") will tranform to
		{
			<dl class=" " id="domain_field">
    			<dt><label for="domain"></label></dt>
    			<dd>
    				<input type="text" id="domain" name="domain" value="" class="form-control"/>
				</dd>
			</dl>
		}
	-->
	<dl class=" " id="q_field">
    	<dd>
    		<input type="text" id="q" name="q" value="" class="form-control"/>
		</dd>
	</dl>

	<div class="input-group-btn">
		<button type="submit" class="btn btn-default no-border btn-sm">
			<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
		</button>
	</div>
}