@(form: Form[SearchData], domain: String, response: model.ProfileResponse, logo: String)(implicit messages: Messages)
@import services.AppGlobal.formatNumber
@import services.AppGlobal.percent
@import play.api.libs.json.Json

@top("..", "Detail", 1)

<div class="page-header">
	<h1>
		Domain Detail Page
		<!--
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
		</small>
		-->
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	    <!--
		<div class="input-group">
			<input type="text" class="form-control" name="keywords" placeholder="Look within results" />
			<div class="input-group-btn">
				<button type="button" class="btn btn-default no-border btn-sm">
					<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
				</button>
			</div>
		</div>
		-->
		@formSearch(form, routes.ProfileController.index)
	</div>
	<div class="col-xs-4"></div>

	<div class="clearfix"></div>
	<div class="hr hr12 dotted"></div>
		
</div>

@if(response != null) {
<div class="row">

	<div class="col-xs-12">
		<div>
			<div id="user-profile-1" class="user-profile row">
				<div class="col-xs-12 col-sm-3 center">
					<div>
						<span class="profile-picture">
						<img id="avatar" class="editable img-responsive" alt="@domain's Logo" src="@logo" />
						</span>

						<div class="space-4"></div>

						<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
							<div class="inline position-relative">
								<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
									@{
										if (response.current.label == "white") {
											<i class="ace-icon fa fa-circle light-green"></i>
										} else if (response.current.label == "black") {
											<i class="ace-icon fa fa-circle light-red"></i>
										} else {
											<i class="ace-icon fa fa-circle light-grey"></i>
										}
										
									}
									&nbsp;
									<span class="white">@domain</span>
								</a>
							</div>
						</div>
					</div>

					<div class="space-6"></div>
					<div class="hr hr12 dotted"></div>

					<div class="clearfix">
						<div class="grid3">
							<span class="bigger-175 blue">@formatNumber(response.current.queries)</span>

							<br />
							Queries
						</div>

						<div class="grid3">
							<span class="bigger-175 blue">@formatNumber(response.current.domains)</span>
							<br />
							Domains
						</div>

						<div class="grid3">
							<span class="bigger-175 blue">@formatNumber(response.current.clients)</span>

							<br />
							Client
						</div>

					</div>

					<div class="hr hr16 dotted"></div>
					

					<div class="clearfix">
						<div class="grid2">
							<div class="infobox infobox-orange">
								<div class="infobox-icon">
									<i class="ace-icon fa fa-star"></i>
								</div>

								<div class="infobox-data">
									<span class="infobox-data-number">
									@{
										val value = response.current.rankFtel
										if (value == 0) {
											"1M+"
										} else if (value > 999999) {
											<font size="4">{formatNumber(value)}</font>
										} else {
											{formatNumber(value)}
										}
									}
									</span>
									<div class="infobox-content">Ftel</div>
								</div>
								@{
									val prev = if (response.history.size > 1) response.history(1) else response.history(0)
									val value = response.current.rankFtel
									val valuePrev = prev.rankFtel
									val diff = valuePrev - value
									if (diff >= 0) {
										<div class="stat stat-success">{diff}</div>
									} else {
										<div class="stat stat-important">{diff}</div>
									}
									
								}
								
							</div>
						</div>
						<div class="grid2">
							<div class="infobox infobox-green">
								<div class="infobox-icon">
									<i class="ace-icon fa fa-star"></i>
								</div>

								<div class="infobox-data">
									<span class="infobox-data-number">
									@{
										val value = response.current.rankAlexa
										if (value == 0) {
											"1M+"
										} else if (value > 999999) {
											<font size="4">{formatNumber(value)}</font>
										} else {
											{formatNumber(value)}
										}
									}
									</span>
									<div class="infobox-content">Alexa</div>
								</div>
								@{
									val prev = if (response.history.size > 1) response.history(1) else response.history(0)
									val value = response.current.rankAlexa
									val valuePrev = prev.rankAlexa
									val diff = valuePrev - value
									if (diff >= 0) {
										<div class="stat stat-success">{diff}</div>
									} else {
										<div class="stat stat-important">{diff}</div>
									}
								}
							</div>
						</div>
					</div>

					<div class="hr hr16 dotted"></div>

					<div class="clearfix">
						<div class="grid1">
							@{
								if (response.current.label == "black") {
									<span class="fa fa-bug" style="font-size:48px;color:red">
										<br/>
										{response.current.malware.toUpperCase()}
									</span>
								} else if (response.current.label == "white") {
									<span class="fa fa-check" style="font-size:48px;color:green">
										<br/>
										SAFE
									</span>
								} else {
									<span class="fa fa-question-circle" style="font-size:48px;color:grey">
										<br/>
										UNKNOW
									</span>
								}
							}
							
						</span>

						
						</div>
						
					</div>

										



				</div>

				<div class="col-xs-12 col-sm-9">
					
					<div class="space-12"></div>

					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name"> Registrar </div>

							<div class="profile-info-value">
								<span class="editable" id="username">@response.whois.registrar</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Whois Server </div>

							<div class="profile-info-value">
								<!--<i class="fa fa-map-marker light-orange bigger-110"></i>-->
								<span class="editable" id="country">@response.whois.whoisServer</span>
								<!--<span class="editable" id="city">Amsterdam</span>-->
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Name Server </div>

							<div class="profile-info-value">
								@for(nameserver <- response.whois.nameServer) {
									<span class="editable">@nameserver</span>
								}
								
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Create </div>

							<div class="profile-info-value">
								<span class="editable" id="signup">@response.whois.create</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Update </div>

							<div class="profile-info-value">
								<span class="editable" id="login">@response.whois.update</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Expire </div>

							<div class="profile-info-value">
								<span class="editable" id="about">@response.whois.expire</span>
							</div>
						</div>
					</div>

					<div class="space-20"></div>
					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h4 class="widget-title blue smaller">
								<i class="ace-icon fa fa-line-chart green"></i>
								Daily Queries
							</h4>
							<div class="widget-toolbar">
								<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
							</div>
						</div>
						<div class="widget-body" style="display: block;">
							<div class="widget-main no-padding">
								<div id="daily-line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
							</div>
						</div>
					</div>

					<div class="space-20"></div>
					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h4 class="widget-title blue smaller">
								<i class="ace-icon fa fa-rss orange"></i>
								Recent Activities
							</h4>

							<div class="widget-toolbar action-buttons">
								<a href="#" data-action="reload">
									<i class="ace-icon fa fa-refresh blue"></i>
								</a>
&nbsp;
								<a href="#" class="pink">
									<i class="ace-icon fa fa-trash-o"></i>
								</a>
							</div>
						</div>
						@detailTable(response.history)
					</div>

					<div class="hr hr2 hr-double"></div>

					<div class="space-6"></div>
					
				</div>
			</div>
		</div>
		

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
} else {
	<div class="row">
		<div class="col-xs-12">
			<p>We looked everywhere but we couldn't find result for <font color="red">@domain</font></p>
		</div>
	</div>
}

@scripts = {
	@if(response == null) {
		<script type="text/javascript"></script>
	} else {
		<script type="text/javascript">
			$(function () {

			    var categories = @Html(Json.stringify(Json.toJson(response.history.map(x => x.day).reverse)));
			    var queries = @Html(Json.stringify(Json.toJson(response.history.map(x => x.queries).reverse)));
			    var qpc = @Html(Json.stringify(Json.toJson(response.history.map(x => x.getQueryPerClient()).reverse)));
			    var clients = @Html(Json.stringify(Json.toJson(response.history.map(x => x.clients).reverse)));

			    Highcharts.chart('daily-line-chart', {
			        chart: {
			            type: 'line',
			            zoomType: 'xy'
			        },
			        title: {
			            text: 'Daily Query'
			        },
			        subtitle: {
			            text: 'Source: DNS LOG FTEL'
			        },
			        plotOptions: {
			        line: {
			            dataLabels: {
			                enabled: true
			            },
			                enableMouseTracking: false
			            }
			        },
			        xAxis: [{
			            categories: categories,
			            crosshair: true
			        }],
			        yAxis: [{ // Primary yAxis
			            labels: {
			                format: '{value}',
			                style: {
			                    color: Highcharts.getOptions().colors[2]
			                }
			            },
			            title: {
			                text: 'Clients',
			                style: {
			                    color: Highcharts.getOptions().colors[2]
			                }
			            },
			            opposite: true

			        }, { // Secondary yAxis
			            gridLineWidth: 0,
			            title: {
			                text: 'Queries',
			                style: {
			                    color: Highcharts.getOptions().colors[0]
			                }
			            },
			            labels: {
			                format: '{value}',
			                style: {
			                    color: Highcharts.getOptions().colors[0]
			                }
			            }

			        }, { // Tertiary yAxis
			            gridLineWidth: 0,
			            title: {
			                text: 'Queries per Client',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            },
			            labels: {
			                format: '{value}',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            },
			            opposite: true
			        }],
			        tooltip: {
			            shared: true
			        },
			        legend: {
			            layout: 'vertical',
			            align: 'left',
			            x: 80,
			            verticalAlign: 'top',
			            y: 55,
			            floating: true,
			            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
			        },
			        series: [{
			            name: 'Queries',
			            type: 'spline',
			            yAxis: 1,
			            data: queries,
			            tooltip: {
			                valueSuffix: ''
			            }

			        }, {
			            name: 'Queries per Client',
			            type: 'spline',
			            yAxis: 2,
			            data: qpc,
			            marker: {
			                enabled: false
			            },
			            dashStyle: 'shortdot',
			            tooltip: {
			                valueSuffix: ''
			            }

			        }, {
			            name: 'Clients',
			            type: 'spline',
			            data: clients,
			            tooltip: {
			                valueSuffix: ''
			            }
			        }]
			    });
			});
		</script>
	}
}

@bottom("..", "profile", scripts)
