@(all: Array[model.MainDomainInfo], white: Array[model.MainDomainInfo], black: Array[model.MainDomainInfo], unknow: Array[model.MainDomainInfo])
@import services.AppGlobal.formatNumber

@top("..", "Top Rank", 2)

<div class="page-header">
	<h1>
		Top Rank Domain
		<!--
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			overview &amp; stats
		</small>
		-->
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<div class="col-sm-12">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#all">All</a>
					</li>

					<li>
						<a data-toggle="tab" href="#white">White</a>
					</li>

					<li>
						<a data-toggle="tab" href="#black">Black</a>
					</li>

					<li>
						<a data-toggle="tab" href="#unknow">Unknow</a>
					</li>
				</ul>

				<div class="tab-content">
					<div id="all" class="tab-pane in active">
						@topRankTable(
            				Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Alexa Rank", "Label", "Malware"),
              				all.map(x => Array[Any](
                				formatNumber(x.rankFtel),
                				Html.apply(services.AppGlobal.getImgTag(x.name)),
                				Html.apply(services.AppGlobal.getLinkTag(x.name)),
                				formatNumber(x.queries),
                				formatNumber(x.clients),
                				formatNumber(x.getQueryPerClient()),
                				formatNumber(x.rankAlexa),
                				Html.apply(
                				if (x.label == "white") {
									"<span class='center label label-sm label-success arrowed'>WHITE</span>"
								} else if (x.label == "black") {
									"<span class='center label label-sm label label-danger arrowed'>BLACK</span>"
								} else {
									"<span class='center label label-sm arrowed'>UNKNOW</span>"
								}),
                				x.malware)
                			).toArray,
                			"dynamic-table-all"
            			)
					</div>

					<div id="white" class="tab-pane">
						@topRankTable(
            				Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Alexa Rank", "Label"),
              				white.map(x => Array[Any](
                				formatNumber(x.rankFtel),
                				Html.apply(services.AppGlobal.getImgTag(x.name)),
                				Html.apply(services.AppGlobal.getLinkTag(x.name)),
                				formatNumber(x.queries),
                				formatNumber(x.clients),
                				formatNumber(x.getQueryPerClient()),
                				formatNumber(x.rankAlexa),
                				Html.apply(
                				if (x.label == "white") {
									"<span class='center label label-sm label-success arrowed'>WHITE</span>"
								} else if (x.label == "black") {
									"<span class='center label label-sm label label-danger arrowed'>BLACK</span>"
								} else {
									"<span class='center label label-sm arrowed'>UNKNOW</span>"
								}))
							).toArray,
							"dynamic-table-white"
            			)
					</div>

					<div id="black" class="tab-pane">
						@topRankTable(
            				Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Label", "Malware"),
              				black.map(x => Array[Any](
                				formatNumber(x.rankFtel),
                				Html.apply(services.AppGlobal.getImgTag(x.name)),
                				Html.apply(services.AppGlobal.getLinkTag(x.name)),
                				formatNumber(x.queries),
                				formatNumber(x.clients),
                				formatNumber(x.getQueryPerClient()),
                				Html.apply(
                				if (x.label == "white") {
									"<span class='center label label-sm label-success arrowed'>WHITE</span>"
								} else if (x.label == "black") {
									"<span class='center label label-sm label label-danger arrowed'>BLACK</span>"
								} else {
									"<span class='center label label-sm arrowed'>UNKNOW</span>"
								}),
								x.malware)
							).toArray,
							"dynamic-table-black"
            			)
					</div>
					<div id="unknow" class="tab-pane">
						@topRankTable(
            				Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Label"),
              				unknow.map(x => Array[Any](
                				formatNumber(x.rankFtel),
                				Html.apply(services.AppGlobal.getImgTag(x.name)),
                				Html.apply(services.AppGlobal.getLinkTag(x.name)),
                				formatNumber(x.queries),
                				formatNumber(x.clients),
                				formatNumber(x.getQueryPerClient()),
                				Html.apply(
                				if (x.label == "white") {
									"<span class='center label label-sm label-success arrowed'>WHITE</span>"
								} else if (x.label == "black") {
									"<span class='center label label-sm label label-danger arrowed'>BLACK</span>"
								} else {
									"<span class='center label label-sm arrowed'>UNKNOW</span>"
								}))
							).toArray,
							"dynamic-table-unknow"
						)
					</div>
				</div>
			</div>
		</div><!-- /.col -->
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->

@bottom("..", "rank")