@(day: String, response: model.ReportResponse)
@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent

@top("..", "Dashboard", 3)

<div class="page-header">
	<h1>
		Report
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			@day
		</small>
	</h1>
</div><!-- /.page-header -->	

<div class="row">
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
        <div class='input-group date' id='datetimepicker'>
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type='text' class="form-control" />
    	</div>
	</div>
	<div class="clearfix"></div>
	<div class="hr hr12 dotted"></div>	
</div>

@if(response != null) {
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				@total(response.current, response.previous)
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-7">
				@classify(response.current, response.labels)
			</div><!-- /.widget-box -->
			
		</div><!-- /.col -->

		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-asterisk orange"></i>
							Malicious List
						</h4>
					</div>
					@topRankTable(
	    				Array[String]("Name", "Queries", "Domains", "Clients"),
	      				response.malwares.map(x => Array[Any](
	        				x.malware,
	        				formatNumber(x.queries),
	        				formatNumber(x.domains),
	        				formatNumber(x.clients))
	        			).toArray,
	        			"top-malware-table"
	    			)
				</div>
			</div>
			<div class="col-sm-6">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-asterisk orange"></i>
							Top 100 Main Domain Black
						</h4>
					</div>
					@topRankTable(
	    				Array[String]("Domain", "Malware", "Queries", "Clients"),
	      				response.blacks.map(x => Array[Any](
	        				x.name,
	        				x.malware,
	        				formatNumber(x.queries),
	        				formatNumber(x.clients))
	        			).toArray,
	        			"top-1000-domain-black"
	    			)
				</div>
			</div>
		</div><!-- /.row -->
		<div class="hr hr32 hr-dotted"></div>
	</div><!-- /.col -->
</div><!-- /.row -->
}

@scripts = {
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker').datetimepicker({
	    		format: 'YYYY-MM-DD',
	    		defaultDate: '@day'
			}).on("dp.change", function(e) {
				//$('#total').load("/");
				var day = e.date.format('YYYY-MM-DD')
				window.location = "/report?day=" + day;
				// alert(e.date.format('YYYY-MM-DD'))
			});
		});
	</script>
}

@bottom("..", "index", scripts)

