@(form: Form[SearchData], response: model.StatsResponse)(implicit messages: Messages)
@import services.DomainService.formatNumber
@import services.DomainService.percent

@top("..", "Dashboard", 3)

<div class="page-header">
	<h1>
		Dashboard
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			@response.day
		</small>
	</h1>
</div><!-- /.page-header -->


<div class="row">
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
        <div class='input-group date' id='datetimepicker'>
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type='text' class="form-control" />
    	</div>
	</div>
	<div class="clearfix"></div>
	<div class="hr hr12 dotted"></div>
		
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				@total(response.total, response.totalPrev)
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-7">
				@classify(response.total, response.labels)
			</div><!-- /.widget-box -->
			
		</div><!-- /.col -->

		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-asterisk orange"></i>
							Malicious List
						</h4>
					</div>
					@topRankTable(
	    				Array[String]("Name", "Queries", "Domains", "Clients"),
	      				response.malwares.map(x => Array[Any](
	        				x.malware,
	        				services.DomainService.formatNumber(x.queries),
	        				services.DomainService.formatNumber(x.domains),
	        				services.DomainService.formatNumber(x.clients))
	        			).toArray,
	        			"top-malware-table"
	    			)
				</div>
			</div>
			<div class="col-sm-6">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-asterisk orange"></i>
							Top 1000 Domain Black
						</h4>
					</div>
					@topRankTable(
	    				Array[String]("Domain", "Malware", "Queries", "Clients"),
	      				response.domainBlacks.map(x => Array[Any](
	        				x.domain,
	        				x.malware,
	        				services.DomainService.formatNumber(x.queries),
	        				services.DomainService.formatNumber(x.clients))
	        			).toArray,
	        			"top-1000-domain-black"
	    			)
				</div>
			</div>
		</div><!-- /.row -->
		<div class="hr hr32 hr-dotted"></div>
		<!--
		<div class="row">
			<div class="col-sm-12">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-line-chart green"></i>
							Daily Report
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="overview-line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row --
		-->
	</div><!-- /.col -->
</div><!-- /.row -->

@scripts = {
<script type="text/javascript">
	$(function () {
		$('#datetimepicker').datetimepicker({
    		format: 'YYYY-MM-DD',
    		defaultDate: '@response.day'
		}).on("dp.change", function(e) {
			//$('#total').load("/");
			var day = e.date.format('YYYY-MM-DD')
			window.location = "/report?day=" + day;
			// alert(e.date.format('YYYY-MM-DD'))
		});
	});
</script>
}

@bottom("..", "index", scripts)

