@(history: model.HistoryInfo)
@import services.domain.CommonService.getImageTag

@for(daily <- history.daily) {
<span class="timeline-label">
	<b>@daily.day</b>
</span>
<div class="timeline-items">
	<div class="timeline-item clearfix">
	@for(hourly <- daily.hourly) {
		<div class="timeline-info">
			<span class="timeline-date">@hourly.hour:00</span>
			<i class="timeline-indicator btn btn-info no-hover"></i>
		</div>
		<div class="widget-box transparent">
			<div class="widget-body">
			@for(row <- hourly.rows) {
				<div class="clearfix">
				
					<div class="pull-left">
						<span class="bigger-110">
							<a href="#" >@row.domain</a>
							<br/>
							<!--
							<i class="ace-icon fa fa-circle-o grey bigger-125"></i>
							<a href="#">@@row.queries</a>
							-->
						</span>
					</div>
					<div class="pull-right">
						<!--
						<img alt="Image 1" width="20" src="../assets/images/logo/default.png" />
						-->
					</div>
				
				</div>
			}
			</div>
		</div>
	}
	</div>
</div>
}
