@(form: Form[WidgetForm.Data])(implicit messages: Messages)


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Domain DNS Service</title>

<link rel="stylesheet" type="text/css" href="../assets/stylesheets/info/reset.css">
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/info/style.css">
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/info/css.css">
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/search.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/table/style.css" />

</head>

<body>
    
    <!--

	<div id="page">
		@@helper.form(action = routes.HomeController.index(), 'id -> "searchForm") {
			<fieldset>
				@@helper.inputText(form(""), 'id -> "s")
				<input type="submit" value="Submit" id="submitButton" />
			</fieldset>
		}
	</div>
    
    -->

</body>
</html>
