
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Domain DNS Service</title>

<link rel="stylesheet" type="text/css" href="../assets/stylesheets/info/reset.css">
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/info/style.css">
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/info/css.css">
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/search.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/table/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/menu/styles.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/tabs/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/paginate.css" />

</head>
