
@(all: Array[(String, model.BasicInfo)], white: Array[(String, model.BasicInfo)], black: Array[(String, model.BasicInfo)], unknow: Array[(String, model.BasicInfo)])

@head()

<body>
    @menu()

   <ul class="tabs" role="tablist">
    <li>
        <input type="radio" name="tabs" id="tab1" checked />
        <label for="tab1" 
               role="tab" 
               aria-selected="true" 
               aria-controls="panel1" 
               tabindex="0">All</label>
        <div id="tab-content1" 
             class="tab-content" 
             role="tabpanel" 
             aria-labelledby="description" 
             aria-hidden="false">
          @table(
            "Top Main Domain By FTel Rank", 
            Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Alexa Rank", "Label", "Malware"),
              all.map(x => Array[Any](
                x._2.rankFtel.toString,
                Html.apply(services.DomainService.getImgTag(x._1)),
                Html.apply(services.DomainService.getLinkTag(x._1)),
                x._2.getNumOfQuery(),
                x._2.getNumOfClient(),
                x._2.getQueryPerClient(),
                x._2.rankAlexa,
                x._2.label,
                x._2.malware)).toArray, 0
            )
            
        </div>
    </li>
  
    <li>
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2"
               role="tab" 
               aria-selected="false" 
               aria-controls="panel2" 
               tabindex="0">White</label>
        <div id="tab-content2" 
             class="tab-content"
             role="tabpanel" 
             aria-labelledby="specification" 
             aria-hidden="true">
          @table(
            "Top White Domain By Num Of Query", 
            Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Alexa Rank"),
              white.map(x => Array[Any](
                x._2.rankFtel.toString,
                Html.apply(services.DomainService.getImgTag(x._1)),
                Html.apply(services.DomainService.getLinkTag(x._1)),
                x._2.getNumOfQuery(),
                x._2.getNumOfClient(),
                x._2.getQueryPerClient(),
                x._2.rankAlexa)).toArray, 0
          )
        </div>
    </li>
    <li>
        <input type="radio" name="tabs" id="tab3" />
        <label for="tab3"
               role="tab" 
               aria-selected="false" 
               aria-controls="panel3" 
               tabindex="0">Black</label>
        <div id="tab-content3" 
             class="tab-content"
             role="tabpanel" 
             aria-labelledby="specification" 
             aria-hidden="true">
          @table(
            "Top Black Domain By Num Of Query", 
            Array[String]("Rank", "Domain", "Num Of Query", "Num Of Client", "Query / Client", "Malware"),
              black.map(x => Array[Any](
                x._2.rankFtel.toString,
                Html.apply(services.DomainService.getLinkTag(x._1)),
                x._2.getNumOfQuery(),
                x._2.getNumOfClient(),
                x._2.getQueryPerClient(),
                x._2.malware)).toArray, 0
          )
        </div>
    </li>
    <li>
        <input type="radio" name="tabs" id="tab4" />
        <label for="tab4"
               role="tab" 
               aria-selected="false" 
               aria-controls="panel4" 
               tabindex="0">Unknow</label>
        <div id="tab-content4" 
             class="tab-content"
             role="tabpanel" 
             aria-labelledby="specification" 
             aria-hidden="true">
          @table(
            "Top Unknow Domain By Num Of Query", 
            Array[String]("Rank", "Logo", "Domain", "Num Of Query", "Num Of Client", "Query / Client"),
              unknow.map(x => Array[Any](
                x._2.rankFtel.toString,
                Html.apply(services.DomainService.getImgTag(x._1)),
                Html.apply(services.DomainService.getLinkTag(x._1)),
                x._2.getNumOfQuery(),
                x._2.getNumOfClient(),
                x._2.getQueryPerClient())).toArray, 0
          )
        </div>
    </li>
	</ul>

    
	<script src="../assets/javascripts/jquery.min.js"></script>
	<!--<script src="../assets/javascripts/search.js"></script>-->
</body>
</html>
