@(item: String,id: Int,day: String)
@import services.domain.CommonService.formatDateDDMMYY

<body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">

                            <ul class="navTop">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="site_title curSor dropdown-toggle">
                                        @if(id == 0) {
                                            <i class="fa fa-globe"></i> DNS
                                        }
                                        @if(id == 1) {
                                            @if(item == "Paytv" || item == "Contract"){
                                                <i class="fa fa-user"></i> Profile
                                            }else{
                                                <i class="fa fa-laptop"></i> Demo
                                            }
                                        }
                                        @if(id == 2){
                                            <i class="fa fa-server"></i> Device
                                        }
                                        <span class="fa fa-chevron-down downTopMenu"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/dns" class="topLi">DNS <i class="fa fa-globe pull-right"></i></a></li>
                                        <li class="divider"></li>
                                        <li><a href="/paytv">Profile <i class="fa fa-user pull-right"></i></a></li>
                                        <li class="divider"></li>
                                        <li><a href="/device" class="botLi">Device <i class="fa fa-server pull-right"></i></a></li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="/demo" class="botLi">Demo <i class="fa fa-laptop pull-right"></i></a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                            <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                              @if(id == 0) {
                                  <ul class="nav side-menu">
                                      <li><a href="/dns"><i class="fa fa-home"></i> Dashboard </a>
                                      </li>
                                      @if(item == "Search"){
                                          @if(day != null) {
                                              <li class="active"><a><i class="fa fa-search"></i> Search </a>
                                                  <ul class="nav child_menu" style="display: block">
                                                      <li class="current-page"><a href="/search?ct=@day">Profile</a></li>
                                                      <li><a href="#">Sub domain</a></li>
                                                      <li><a href="#">Compare</a></li>
                                                  </ul>
                                              </li>
                                          }else{
                                              <li><a><i class="fa fa-search"></i> Search </a>
                                                  <ul class="nav child_menu">
                                                      <li><a href="/search">Profile</a></li>
                                                      <li><a href="#">Sub domain</a></li>
                                                      <li><a href="#">Compare</a></li>
                                                  </ul>
                                              </li>
                                          }
                                      }else{
                                          <li><a><i class="fa fa-search"></i> Search </a>
                                              <ul class="nav child_menu">
                                                  <li><a href="/search">Profile</a></li>
                                                  <li><a href="#">Sub domain</a></li>
                                                  <li><a href="#">Compare</a></li>
                                              </ul>
                                          </li>
                                      }

                                      <li><a href="/rank"><i class="fa fa-star-o"></i> Rank </a>
                                      </li>
                                      <li><a href="/report"><i class="fa fa-edit"></i> Report </a>
                                      </li>
                                  </ul>
                              }else if(id == 1){
                                  @if(item == "Paytv" || item == "Contract"){
                                      <ul class="nav side-menu">
                                          <li><a href="/paytv"><i class="fa fa-home"></i> Dashboard </a>
                                          </li>
                                          @if(day != ""){
                                              <li class="current-page"><a href="/profile?ct=@day"><i class="fa fa-book"></i> Contract </a>
                                              </li>
                                          }else{
                                              <li><a href="/profile"><i class="fa fa-book"></i> Contract </a>
                                              </li>
                                          }
                                      </ul>
                                  }else{
                                      <ul class="nav side-menu">
                                          <li><a href="/demo"><i class="fa fa-television"></i> Demo </a>
                                          </li>
                                          <li><a href="/msg"><i class="fa fa-book"></i> Message </a>
                                          </li>
                                      </ul>
                                  }

                              }else{
                                <ul class="nav side-menu">
                                    <li><a href="/device"><i class="fa fa-home"></i> Dashboard </a>
                                    </li>
                                </ul>
                              }
                            </div>

                        </div>
                            <!-- /sidebar menu -->
                    </div>
                </div>
