@(response: model.DashboardResponse)
@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import play.api.libs.json.Json
@import services.domain.CommonService.getLinkTag


@views.html.ace.top(".", "Dashboard", 0)
<!--
<div class="page-header">
	<h1>
		Dashboard
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			@response.report.day
		</small>
	</h1>
</div>
-->
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<!--
		<div class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert">
				<i class="ace-icon fa fa-times"></i>
			</button>
			<i class="ace-icon fa fa-check green"></i>
			Statistics for
			<strong class="green">
				@response.report.day
				<!--
				<small>(v1.4)</small>
				--
			</strong>
		</div>
		-->
		<div class="row">
			<!--
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					@@total(response.report.current, response.report.previous)
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-7">
					@@classify(response.report.current, response.report.labels)
				</div>
			</div><!-- /.col -->

			<div id="bubble-chart-3d"></div>

		</div><!-- /.col -->

		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Malwares
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-malwares"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Main Domain Black
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-domain-black"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-bar-chart orange"></i>
							Top 10 Main Domain
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="top-10-main-domain"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div class="col-sm-12">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-small">
						<h4 class="widget-title blue smaller">
							<i class="ace-icon fa fa-line-chart green"></i>
							Daily Report
						</h4>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body" style="display: block;">
						<div class="widget-main no-padding">
							<div id="daily-line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="hr hr32 hr-dotted"></div>
		<div class="row">
			<div id="vn-map"></div>
		</div><!-- /.col -->
	</div><!-- /.col -->
</div><!-- /.row -->


@views.html.ace.bottom(".", "index", scripts(response))

