<body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <ul class="navTop">
                                <li>
                                    <a href="/daily" class="site_title curSor">
                                        <i class="fa fa-server"></i> Device
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                            <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li><a><i class="fa fa-home"></i> Dashboard </a>
                                        <ul class="nav child_menu" style="display: block">
                                            <li><a href="/daily"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                Daily</a></li>
                                            <li><a href="/device"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                 Monthly</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/noc"><i class="fa  fa-assistive-listening-systems"></i> NOC </a></li>
                                    <li><a href="/inf"><i class="fa fa-bug"></i> INF </a></li>
                                    <li><a href="/searchBras" id="searchBras"><i class="fa fa-search"></i>
                                        Search </a>
                                    </li>
                                    <li><a href="/problem"><i class="fa fa-exclamation-triangle"></i> Problem Device </a></li>
                                    <li><a href="#"><i class="fa fa-hand-pointer-o"></i> KPI </a></li>
                                </ul>
                            </div>

                        </div>
                            <!-- /sidebar menu -->
                    </div>
                </div>
